<a href="https://colab.research.google.com/github/elizabethts/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/ElephantSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/b1/35/75c9c2d9cfc073ab6c42b2d8e91ff58c9b99f4ed7ed56b36647642e6080e/psycopg2_binary-2.8.3-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 5.0MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.3

In [0]:
import psycopg2
import pandas as pd
import sqlite3

In [0]:
# elephantSQL details

dbname = ''
user = ''
password = ''
host = 'raja.db.elephantsql.com'

In [0]:
# create connection to postgres

pg_conn = psycopg2.connect(dbname=dbname, user=user,
                           password=password, host=host)

In [0]:
pg_conn

In [0]:
pg_curs = pg_conn.cursor()

In [0]:
pg_curs.execute('SELECT * FROM test_table;')
pg_curs.fetchall()

[(1, 'A row name', None),
 (2, 'Another row, with JSON', {'a': 1, 'b': ['dog', 'cat', 42], 'c': True})]

###Move RPG data from SQLite to PostgreSQL
####ETL - Extract, Transform, Load

In [0]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true

--2019-08-14 00:11:09--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2019-08-14 00:11:09--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2019-08-14 00:11:09--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 253952 (248K) [application/octet-stream]
Saving to: ‘rpg_db.sqlite3?raw=true’

rpg_db.sqlite3?raw= 100%[===================>] 248.00K  --.-KB/s    in 0.03s

2019-08-14 00:11:09 (8.17 MB/s) - ‘rpg_db.sqlite3?raw=true’ saved [253952/253952]

In [0]:
ls -alh

total 308K
drwxr-xr-x 1 root root 4.0K Aug 14 00:11  ./
drwxr-xr-x 1 root root 4.0K Aug 13 23:44  ../
drwxr-xr-x 1 root root 4.0K Aug  7 16:05  .config/
-rw-r--r-- 1 root root 248K Aug 14 00:11 'rpg_db.sqlite3?raw=true'
drwxr-xr-x 1 root root 4.0K Aug  2 16:06  sample_data/
-rw-r--r-- 1 root root  44K Aug 13 23:53  titanic.csv

In [0]:
mv 'rpg_db.sqlite3?raw=true' rpg_db.sqlite3

In [0]:
sl_conn = sqlite3.connect('rpg_db.sqlite3')
sl_curs = sl_conn.cursor()

In [0]:
sl_curs.execute('SELECT COUNT(*) FROM charactercreator_character;').fetchall()

[(302,)]

In [0]:
characters = sl_curs.execute('SELECT * FROM charactercreator_character;').fetchall()

In [0]:
characters[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [0]:
len(characters)

302

In [0]:
# extract table schema
sl_curs.execute('PRAGMA table_info(charactercreator_character);').fetchall()

[(0, 'character_id', 'integer', 1, None, 1),
 (1, 'name', 'varchar(30)', 1, None, 0),
 (2, 'level', 'integer', 1, None, 0),
 (3, 'exp', 'integer', 1, None, 0),
 (4, 'hp', 'integer', 1, None, 0),
 (5, 'strength', 'integer', 1, None, 0),
 (6, 'intelligence', 'integer', 1, None, 0),
 (7, 'dexterity', 'integer', 1, None, 0),
 (8, 'wisdom', 'integer', 1, None, 0)]

In [0]:
# transform

create_character_table = """
  CREATE TABLE charactercreator_character (
   character_id SERIAL PRIMARY KEY,
   name VARCHAR(30),
   level INT,
   exp INT,
   hp INT,
   strength INT,
   intelligence INT,
   dexterity INT,
   wisdom INT
  );
"""

In [0]:
pg_curs.execute(create_character_table)

In [0]:
show_tables = """
SELECT
   *
FROM
   pg_catalog.pg_tables
WHERE
   schemaname != 'pg_catalog'
AND schemaname != 'information_schema';
"""

In [0]:
pg_curs.execute(show_tables)
pg_curs.fetchall()

[('public', 'test_table', 'kvobzcdf', None, True, False, False, False),
 ('public',
  'charactercreator_character',
  'kvobzcdf',
  None,
  True,
  False,
  False,
  False)]

In [0]:
# Load data
for character in characters:
  insert_character = """
    INSERT INTO charactercreator_character
    (name, level, exp, hp, strength, intelligence, dexterity, wisdom)
    VALUES """ + str(character[1:]) + ';'
  pg_curs.execute(insert_character)

In [0]:
pg_curs.execute('SELECT * FROM charactercreator_character')
pg_curs.fetchall()

[(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1),
 (2, 'Optio dolorem ex a', 0, 0, 10, 1, 1, 1, 1),
 (3, 'Minus c', 0, 0, 10, 1, 1, 1, 1),
 (4, 'Sit ut repr', 0, 0, 10, 1, 1, 1, 1),
 (5, 'At id recusandae expl', 0, 0, 10, 1, 1, 1, 1),
 (6, 'Non nobis et of', 0, 0, 10, 1, 1, 1, 1),
 (7, 'Perferendis', 0, 0, 10, 1, 1, 1, 1),
 (8, 'Accusantium amet quidem eve', 0, 0, 10, 1, 1, 1, 1),
 (9, 'Sed nostrum inventore error m', 0, 0, 10, 1, 1, 1, 1),
 (10, 'Harum repellendus omnis od', 0, 0, 10, 1, 1, 1, 1),
 (11, 'Itaque ut commodi,', 0, 0, 10, 1, 1, 1, 1),
 (12, 'Molestiae quis', 0, 0, 10, 1, 1, 1, 1),
 (13, 'Ali', 0, 0, 10, 1, 1, 1, 1),
 (14, 'Tempora quod optio possimus il', 0, 0, 10, 1, 1, 1, 1),
 (15, 'Sed itaque beatae pari', 0, 0, 10, 1, 1, 1, 1),
 (16, 'Quam dolor', 0, 0, 10, 1, 1, 1, 1),
 (17, 'Molestias expedita', 0, 0, 10, 1, 1, 1, 1),
 (18, 'Lauda', 0, 0, 10, 1, 1, 1, 1),
 (19, 'Incidunt sint perferen', 0, 0, 10, 1, 1, 1, 1),
 (20, 'Laboriosa', 0, 0, 10, 1, 1, 1, 1),
 (21, 'Dolore esse nesciunt fugit com', 0, 0, 10, 1, 1, 1, 1),
 (22, 'Dolorum nam reic', 0, 0, 10, 1, 1, 1, 1),
 (23, 'Repellat ad numquam volu', 0, 0, 10, 1, 1, 1, 1),
 (24, 'Facere enim velit eligend', 0, 0, 10, 1, 1, 1, 1),
 (25, 'Sed ratione quis rep', 0, 0, 10, 1, 1, 1, 1),
 (26, 'Doloribus neque', 0, 0, 10, 1, 1, 1, 1),
 (27, 'Ab voluptas se', 0, 0, 10, 1, 1, 1, 1),
 (28, 'Molestias m', 0, 0, 10, 1, 1, 1, 1),
 (29, 'In pariatur corpori', 0, 0, 10, 1, 1, 1, 1),
 (30, 'Possimus ad dignissimos vel, a', 0, 0, 10, 1, 1, 1, 1),
 (31, 'At minus accusa', 0, 0, 10, 1, 1, 1, 1),
 (32, 'Ad necess', 0, 0, 10, 1, 1, 1, 1),
 (33, 'Expedita c', 0, 0, 10, 1, 1, 1, 1),
 (34, 'Voluptates sunt voluptas volu', 0, 0, 10, 1, 1, 1, 1),
 (35, 'Autem mollitia fuga lauda', 0, 0, 10, 1, 1, 1, 1),
 (36, 'Sint quibusdam ob', 0, 0, 10, 1, 1, 1, 1),
 (37, 'Rerum et o', 0, 0, 10, 1, 1, 1, 1),
 (38, 'Doloribus dolore r', 0, 0, 10, 1, 1, 1, 1),
 (39, 'Eaque su', 0, 0, 10, 1, 1, 1, 1),
 (40, 'Vel molestias numqua', 0, 0, 10, 1, 1, 1, 1),
 (41, 'Iste assumenda repellat q', 0, 0, 10, 1, 1, 1, 1),
 (42, 'Animi labo', 0, 0, 10, 1, 1, 1, 1),
 (43, 'Eum culpa eaque ea omn', 0, 0, 10, 1, 1, 1, 1),
 (44, 'Harum provident vel quam', 0, 0, 10, 1, 1, 1, 1),
 (45, 'Aspe', 0, 0, 10, 1, 1, 1, 1),
 (46, 'Nisi nequ', 0, 0, 10, 1, 1, 1, 1),
 (47, 'Quod tempora', 0, 0, 10, 1, 1, 1, 1),
 (48, 'Porro aliq', 0, 0, 10, 1, 1, 1, 1),
 (49, 'Quas', 0, 0, 10, 1, 1, 1, 1),
 (50, 'Magnam eligendi quia animi', 0, 0, 10, 1, 1, 1, 1),
 (51, 'Officiis se', 0, 0, 10, 1, 1, 1, 1),
 (52, 'Id assumend', 0, 0, 10, 1, 1, 1, 1),
 (53, 'Voluptatibus fu', 0, 0, 10, 1, 1, 1, 1),
 (54, 'Odit rat', 0, 0, 10, 1, 1, 1, 1),
 (55, 'Debit', 0, 0, 10, 1, 1, 1, 1),
 (56, 'Cum aut quas repudia', 0, 0, 10, 1, 1, 1, 1),
 (57, 'Deleniti qui quae quidem', 0, 0, 10, 1, 1, 1, 1),
 (58, 'Adipisci voluptas', 0, 0, 10, 1, 1, 1, 1),
 (59, 'Debitis sit ratione eos nam', 0, 0, 10, 1, 1, 1, 1),
 (60, 'Esse illo molestias archi', 0, 0, 10, 1, 1, 1, 1),
 (61, 'Sunt at itaque voluptatum d', 0, 0, 10, 1, 1, 1, 1),
 (62, 'Est totam', 0, 0, 10, 1, 1, 1, 1),
 (63, 'Reprehenderit commodi eius', 0, 0, 10, 1, 1, 1, 1),
 (64, 'Debit', 0, 0, 10, 1, 1, 1, 1),
 (65, 'Soluta dol', 0, 0, 10, 1, 1, 1, 1),
 (66, 'Vel nesc', 0, 0, 10, 1, 1, 1, 1),
 (67, 'Ratione quia ali', 0, 0, 10, 1, 1, 1, 1),
 (68, 'Rerum recusandae minima', 0, 0, 10, 1, 1, 1, 1),
 (69, 'Totam natus eius fugiat volu', 0, 0, 10, 1, 1, 1, 1),
 (70, 'Perferendis commodi null', 0, 0, 10, 1, 1, 1, 1),
 (71, 'Laudantiu', 0, 0, 10, 1, 1, 1, 1),
 (72, 'Voluptat', 0, 0, 10, 1, 1, 1, 1),
 (73, 'Incidunt nesciun', 0, 0, 10, 1, 1, 1, 1),
 (74, 'Illum amet vero', 0, 0, 10, 1, 1, 1, 1),
 (75, 'Suscipit exercitationem re', 0, 0, 10, 1, 1, 1, 1),
 (76, 'Quas enim error maxime nisi m', 0, 0, 10, 1, 1, 1, 1),
 (77, 'Labore qu', 0, 0, 10, 1, 1, 1, 1),
 (78, 'Repudiandae deleniti unde', 0, 0, 10, 1, 1, 1, 1),
 (79, 'Ut do', 0, 0, 10, 1, 1, 1, 1),
 (80, 'Quaerat esse labore q', 0, 0, 10, 1, 1, 1, 1),
 (81, 'Quidem aliq', 0, 0, 10, 1, 1, 1, 1),
 (82, 'Aperiam vitae eos dolor sed', 0, 0, 10, 1, 1, 1, 1),
 (83, 'Minus nobis porro', 0, 0, 10, 1, 1, 1, 1),
 (84, 'In similique', 0, 0, 10, 1, 1, 1, 1),
 (85, 'Culpa repellat unde', 0, 0, 10, 1, 1, 1, 1),
 (86, 'Architecto i', 0, 0, 10, 1, 1, 1, 1),
 (87, 'A sed pariatur qua', 0, 0, 10, 1, 1, 1, 1),
 (88, 'Tempore assumenda aperiam', 0, 0, 10, 1, 1, 1, 1),
 (89, 'Sed ullam tempora iusto co', 0, 0, 10, 1, 1, 1, 1),
 (90, 'Ipsa', 0, 0, 10, 1, 1, 1, 1),
 (91, 'Fugiat incidun', 0, 0, 10, 1, 1, 1, 1),
 (92, 'Molestiae of', 0, 0, 10, 1, 1, 1, 1),
 (93, 'Quae quisquam cons', 0, 0, 10, 1, 1, 1, 1),
 (94, 'Repellendus ea non facil', 0, 0, 10, 1, 1, 1, 1),
 (95, 'Quod non quibu', 0, 0, 10, 1, 1, 1, 1),
 (96, 'Numquam velit distinctio', 0, 0, 10, 1, 1, 1, 1),
 (97, 'Necessitatibus nihil ex debi', 0, 0, 10, 1, 1, 1, 1),
 (98, 'Velit tempore nemo, na', 0, 0, 10, 1, 1, 1, 1),
 (99, 'Nesciunt v', 0, 0, 10, 1, 1, 1, 1),
 (100, 'Dicta enim debitis accusantiu', 0, 0, 10, 1, 1, 1, 1),
 (101, 'Vitae a', 0, 0, 10, 1, 1, 1, 1),
 (102, 'Praesentium voluptas u', 0, 0, 10, 1, 1, 1, 1),
 (103, 'Unde ullam mollitia? Nu', 0, 0, 10, 1, 1, 1, 1),
 (104, 'Neque molestias qu', 0, 0, 10, 1, 1, 1, 1),
 (105, 'Officiis es', 0, 0, 10, 1, 1, 1, 1),
 (106, 'Beatae mi', 0, 0, 10, 1, 1, 1, 1),
 (107, 'Mollitia nam corporis temp', 0, 0, 10, 1, 1, 1, 1),
 (108, 'Repudiandae repellat i', 0, 0, 10, 1, 1, 1, 1),
 (109, 'Laboriosam', 0, 0, 10, 1, 1, 1, 1),
 (110, 'Nam minus amet', 0, 0, 10, 1, 1, 1, 1),
 (111, 'Harum quae volup', 0, 0, 10, 1, 1, 1, 1),
 (112, 'Impedit facere ulla', 0, 0, 10, 1, 1, 1, 1),
 (113, 'Enim', 0, 0, 10, 1, 1, 1, 1),
 (114, 'Dolore magni', 0, 0, 10, 1, 1, 1, 1),
 (115, 'Eaque at corpori', 0, 0, 10, 1, 1, 1, 1),
 (116, 'Fug', 0, 0, 10, 1, 1, 1, 1),
 (117, 'Dolorum laudanti', 0, 0, 10, 1, 1, 1, 1),
 (118, 'Perferendis nat', 0, 0, 10, 1, 1, 1, 1),
 (119, 'Cupidi', 0, 0, 10, 1, 1, 1, 1),
 (120, 'Commodi eius dicta digniss', 0, 0, 10, 1, 1, 1, 1),
 (121, 'Debitis eu', 0, 0, 10, 1, 1, 1, 1),
 (122, 'Nihil repella', 0, 0, 10, 1, 1, 1, 1),
 (123, 'Rem quasi minima hic sed anim', 0, 0, 10, 1, 1, 1, 1),
 (124, 'Sed ali', 0, 0, 10, 1, 1, 1, 1),
 (125, 'Earum vol', 0, 0, 10, 1, 1, 1, 1),
 (126, 'Inventore tempore com', 0, 0, 10, 1, 1, 1, 1),
 (127, 'Repell', 0, 0, 10, 1, 1, 1, 1),
 (128, 'Consequatur quis recusandae qu', 0, 0, 10, 1, 1, 1, 1),
 (129, 'Dolores ea velit mi', 0, 0, 10, 1, 1, 1, 1),
 (130, 'Atque blanditiis a aperiam', 0, 0, 10, 1, 1, 1, 1),
 (131, 'Reprehenderit sequi iu', 0, 0, 10, 1, 1, 1, 1),
 (132, 'Natus architecto eos, hic blan', 0, 0, 10, 1, 1, 1, 1),
 (133, 'Ipsa illo quas', 0, 0, 10, 1, 1, 1, 1),
 (134, 'Voluptas ali', 0, 0, 10, 1, 1, 1, 1),
 (135, 'Voluptates obcaecati quod e', 0, 0, 10, 1, 1, 1, 1),
 (136, 'Dolor adipisci a voluptate', 0, 0, 10, 1, 1, 1, 1),
 (137, 'Repellendus natus quae, n', 0, 0, 10, 1, 1, 1, 1),
 (138, 'Laudantium earum nam in dol', 0, 0, 10, 1, 1, 1, 1),
 (139, 'Molestias face', 0, 0, 10, 1, 1, 1, 1),
 (140, 'Maiores suscipit exc', 0, 0, 10, 1, 1, 1, 1),
 (141, 'Illum dolore perferen', 0, 0, 10, 1, 1, 1, 1),
 (142, 'Explicabo recusandae ma', 0, 0, 10, 1, 1, 1, 1),
 (143, 'Odio obcaecati hic nostrum n', 0, 0, 10, 1, 1, 1, 1),
 (144, 'Voluptate ali', 0, 0, 10, 1, 1, 1, 1),
 (145, 'Repudiandae vitae sapiente mol', 0, 0, 10, 1, 1, 1, 1),
 (146, 'Ipsam cumque', 0, 0, 10, 1, 1, 1, 1),
 (147, 'Fugiat quos alias eos dese', 0, 0, 10, 1, 1, 1, 1),
 (148, 'Eaque impe', 0, 0, 10, 1, 1, 1, 1),
 (149, 'Elige', 0, 0, 10, 1, 1, 1, 1),
 (150, 'Adip', 0, 0, 10, 1, 1, 1, 1),
 (151, 'Fuga nemo vel mo', 0, 0, 10, 1, 1, 1, 1),
 (152, 'Libero cumque impedit eveniet', 0, 0, 10, 1, 1, 1, 1),
 (153, 'Odio soluta', 0, 0, 10, 1, 1, 1, 1),
 (154, 'Vero nostrum duc', 0, 0, 10, 1, 1, 1, 1),
 (155, 'Repellend', 0, 0, 10, 1, 1, 1, 1),
 (156, 'Quod', 0, 0, 10, 1, 1, 1, 1),
 (157, 'Suscipit reiciend', 0, 0, 10, 1, 1, 1, 1),
 (158, 'Voluptat', 0, 0, 10, 1, 1, 1, 1),
 (159, 'Porro dolor fuga quam', 0, 0, 10, 1, 1, 1, 1),
 (160, 'Amet quo fugit aliquam sequi', 0, 0, 10, 1, 1, 1, 1),
 (161, 'Magni adipisci veritatis sit q', 0, 0, 10, 1, 1, 1, 1),
 (162, 'Debitis enim cumque cum qu', 0, 0, 10, 1, 1, 1, 1),
 (163, 'Dolorem eligend', 0, 0, 10, 1, 1, 1, 1),
 (164, 'Autem lib', 0, 0, 10, 1, 1, 1, 1),
 (165, 'Saepe assumenda perferendis f', 0, 0, 10, 1, 1, 1, 1),
 (166, 'Deserunt', 0, 0, 10, 1, 1, 1, 1),
 (167, 'Provident soluta simil', 0, 0, 10, 1, 1, 1, 1),
 (168, 'In accu', 0, 0, 10, 1, 1, 1, 1),
 (169, 'Inve', 0, 0, 10, 1, 1, 1, 1),
 (170, 'Placeat sapiente', 0, 0, 10, 1, 1, 1, 1),
 (171, 'Ducimus architecto ullam', 0, 0, 10, 1, 1, 1, 1),
 (172, 'Voluptate tempora rerum', 0, 0, 10, 1, 1, 1, 1),
 (173, 'Totam incidunt earum perspicia', 0, 0, 10, 1, 1, 1, 1),
 (174, 'Optio quas e', 0, 0, 10, 1, 1, 1, 1),
 (175, 'Ab illum invento', 0, 0, 10, 1, 1, 1, 1),
 (176, 'Repellat quis natus totam, s', 0, 0, 10, 1, 1, 1, 1),
 (177, 'Est voluptate accusantium tem', 0, 0, 10, 1, 1, 1, 1),
 (178, 'Beatae q', 0, 0, 10, 1, 1, 1, 1),
 (179, 'Velit', 0, 0, 10, 1, 1, 1, 1),
 (180, 'Minus nequ', 0, 0, 10, 1, 1, 1, 1),
 (181, 'Autem eos voluptates off', 0, 0, 10, 1, 1, 1, 1),
 (182, 'Vel fug', 0, 0, 10, 1, 1, 1, 1),
 (183, 'Architecto repudian', 0, 0, 10, 1, 1, 1, 1),
 (184, 'Opti', 0, 0, 10, 1, 1, 1, 1),
 (185, 'Iust', 0, 0, 10, 1, 1, 1, 1),
 (186, 'Sapiente', 0, 0, 10, 1, 1, 1, 1),
 (187, 'Officiis repellat corrupti su', 0, 0, 10, 1, 1, 1, 1),
 (188, 'Dicta et natus e', 0, 0, 10, 1, 1, 1, 1),
 (189, 'At quos', 0, 0, 10, 1, 1, 1, 1),
 (190, 'Laborum ven', 0, 0, 10, 1, 1, 1, 1),
 (191, 'Exceptur', 0, 0, 10, 1, 1, 1, 1),
 (192, 'Reiciendis assumenda dolo', 0, 0, 10, 1, 1, 1, 1),
 (193, 'Poss', 0, 0, 10, 1, 1, 1, 1),
 (194, 'Acc', 0, 0, 10, 1, 1, 1, 1),
 (195, 'Placeat esse archit', 0, 0, 10, 1, 1, 1, 1),
 (196, 'Enim repellendus nihil est te', 0, 0, 10, 1, 1, 1, 1),
 (197, 'Ipsam incidunt t', 0, 0, 10, 1, 1, 1, 1),
 (198, 'Iure', 0, 0, 10, 1, 1, 1, 1),
 (199, 'Illo en', 0, 0, 10, 1, 1, 1, 1),
 (200, 'A rem ex', 0, 0, 10, 1, 1, 1, 1),
 (201, 'Officiis su', 0, 0, 10, 1, 1, 1, 1),
 (202, 'Numquam molestias', 0, 0, 10, 1, 1, 1, 1),
 (203, 'Voluptates unde', 0, 0, 10, 1, 1, 1, 1),
 (204, 'Quae praesentium vel', 0, 0, 10, 1, 1, 1, 1),
 (205, 'Quas', 0, 0, 10, 1, 1, 1, 1),
 (206, 'Dolores aliquid inv', 0, 0, 10, 1, 1, 1, 1),
 (207, 'Mollitia tempore laborum eaqu', 0, 0, 10, 1, 1, 1, 1),
 (208, 'Nobis voluptates fugiat quia', 0, 0, 10, 1, 1, 1, 1),
 (209, 'Similique dolorem dolore maio', 0, 0, 10, 1, 1, 1, 1),
 (210, 'Sapiente', 0, 0, 10, 1, 1, 1, 1),
 (211, 'Officia nisi dolore', 0, 0, 10, 1, 1, 1, 1),
 (212, 'Distinctio', 0, 0, 10, 1, 1, 1, 1),
 (213, 'Eos quia dignissimos saepe vel', 0, 0, 10, 1, 1, 1, 1),
 (214, 'Ullam neque sint eligendi', 0, 0, 10, 1, 1, 1, 1),
 (215, 'Excepturi deleniti ab a', 0, 0, 10, 1, 1, 1, 1),
 (216, 'Accusa', 0, 0, 10, 1, 1, 1, 1),
 (217, 'Reiciendis laboriosam di', 0, 0, 10, 1, 1, 1, 1),
 (218, 'Delectus ex', 0, 0, 10, 1, 1, 1, 1),
 (219, 'Pari', 0, 0, 10, 1, 1, 1, 1),
 (220, 'Veritatis velit facilis iste', 0, 0, 10, 1, 1, 1, 1),
 (221, 'Dol', 0, 0, 10, 1, 1, 1, 1),
 (222, 'Qui iste pr', 0, 0, 10, 1, 1, 1, 1),
 (223, 'Deleni', 0, 0, 10, 1, 1, 1, 1),
 (224, 'Reprehenderit volu', 0, 0, 10, 1, 1, 1, 1),
 (225, 'Accusantium vitae n', 0, 0, 10, 1, 1, 1, 1),
 (226, 'Natus consequatur incidun', 0, 0, 10, 1, 1, 1, 1),
 (227, 'Dignissimos a', 0, 0, 10, 1, 1, 1, 1),
 (228, 'Vitae modi', 0, 0, 10, 1, 1, 1, 1),
 (229, 'Accusantium qu', 0, 0, 10, 1, 1, 1, 1),
 (230, 'Reiciendis dignissimos ratio', 0, 0, 10, 1, 1, 1, 1),
 (231, 'Expedita provident natus volup', 0, 0, 10, 1, 1, 1, 1),
 (232, 'Rerum repellat voluptas c', 0, 0, 10, 1, 1, 1, 1),
 (233, 'Maiores quos incidunt dolor', 0, 0, 10, 1, 1, 1, 1),
 (234, 'Aper', 0, 0, 10, 1, 1, 1, 1),
 (235, 'Nulla', 0, 0, 10, 1, 1, 1, 1),
 (236, 'Laudantium tempora itaque', 0, 0, 10, 1, 1, 1, 1),
 (237, 'Reprehenderit', 0, 0, 10, 1, 1, 1, 1),
 (238, 'Aliqu', 0, 0, 10, 1, 1, 1, 1),
 (239, 'Odio harum nam mole', 0, 0, 10, 1, 1, 1, 1),
 (240, 'Arc', 0, 0, 10, 1, 1, 1, 1),
 (241, 'Reprehenderit li', 0, 0, 10, 1, 1, 1, 1),
 (242, 'Repr', 0, 0, 10, 1, 1, 1, 1),
 (243, 'Optio m', 0, 0, 10, 1, 1, 1, 1),
 (244, 'Esse odit amet rep', 0, 0, 10, 1, 1, 1, 1),
 (245, 'Provident nostrum minima', 0, 0, 10, 1, 1, 1, 1),
 (246, 'Ex nihil quae facilis a omni', 0, 0, 10, 1, 1, 1, 1),
 (247, 'Dolorem quaerat sunt', 0, 0, 10, 1, 1, 1, 1),
 (248, 'Distinctio', 0, 0, 10, 1, 1, 1, 1),
 (249, 'Repudiandae ip', 0, 0, 10, 1, 1, 1, 1),
 (250, 'Iste debitis dolorum amet m', 0, 0, 10, 1, 1, 1, 1),
 (251, 'Non qui vo', 0, 0, 10, 1, 1, 1, 1),
 (252, 'Dolorem ma', 0, 0, 10, 1, 1, 1, 1),
 (253, 'Molestias labore tempore ita', 0, 0, 10, 1, 1, 1, 1),
 (254, 'Vol', 0, 0, 10, 1, 1, 1, 1),
 (255, 'Adipisci molest', 0, 0, 10, 1, 1, 1, 1),
 (256, 'Omni', 0, 0, 10, 1, 1, 1, 1),
 (257, 'Voluptatibus dolor', 0, 0, 10, 1, 1, 1, 1),
 (258, 'Quo', 0, 0, 10, 1, 1, 1, 1),
 (259, 'Atque aspernatur possi', 0, 0, 10, 1, 1, 1, 1),
 (260, 'Ullam c', 0, 0, 10, 1, 1, 1, 1),
 (261, 'Iusto quas voluptatibu', 0, 0, 10, 1, 1, 1, 1),
 (262, 'Optio qui sunt dolores, ab', 0, 0, 10, 1, 1, 1, 1),
 (263, 'Illum recusandae nulla re', 0, 0, 10, 1, 1, 1, 1),
 (264, 'Verita', 0, 0, 10, 1, 1, 1, 1),
 (265, 'Expedita quod blanditiis', 0, 0, 10, 1, 1, 1, 1),
 (266, 'Mag', 0, 0, 10, 1, 1, 1, 1),
 (267, 'Omnis quos aspernatur d', 0, 0, 10, 1, 1, 1, 1),
 (268, 'Sunt impedit co', 0, 0, 10, 1, 1, 1, 1),
 (269, 'Minima quam ea ad', 0, 0, 10, 1, 1, 1, 1),
 (270, 'Suscipit quidem e', 0, 0, 10, 1, 1, 1, 1),
 (271, 'Harum', 0, 0, 10, 1, 1, 1, 1),
 (272, 'Dolore laborum ips', 0, 0, 10, 1, 1, 1, 1),
 (273, 'Magni veniam earum corporis', 0, 0, 10, 1, 1, 1, 1),
 (274, 'Optio', 0, 0, 10, 1, 1, 1, 1),
 (275, 'Nam fugit vel.', 0, 0, 10, 1, 1, 1, 1),
 (276, 'Ut numquam quam eum, alias ius', 0, 0, 10, 1, 1, 1, 1),
 (277, 'Error amet tempore nulla', 0, 0, 10, 1, 1, 1, 1),
 (278, 'Deserunt a', 0, 0, 10, 1, 1, 1, 1),
 (279, 'Aperiam sit', 0, 0, 10, 1, 1, 1, 1),
 (280, 'Asperi', 0, 0, 10, 1, 1, 1, 1),
 (281, 'Similique aperiam earum expli', 0, 0, 10, 1, 1, 1, 1),
 (282, 'Iure h', 0, 0, 10, 1, 1, 1, 1),
 (283, 'At sint ducimus nostrum i', 0, 0, 10, 1, 1, 1, 1),
 (284, 'Reprehenderit temporib', 0, 0, 10, 1, 1, 1, 1),
 (285, 'Molestiae quaerat maxim', 0, 0, 10, 1, 1, 1, 1),
 (286, 'Maior', 0, 0, 10, 1, 1, 1, 1),
 (287, 'Unde natus ut ipsa cupi', 0, 0, 10, 1, 1, 1, 1),
 (288, 'Praesentium atque ear', 0, 0, 10, 1, 1, 1, 1),
 (289, 'Rem minima', 0, 0, 10, 1, 1, 1, 1),
 (290, 'Provident sed soluta, sed si', 0, 0, 10, 1, 1, 1, 1),
 (291, 'Natus quia veritatis', 0, 0, 10, 1, 1, 1, 1),
 (292, 'Vero a', 0, 0, 10, 1, 1, 1, 1),
 (293, 'Optio harum labori', 0, 0, 10, 1, 1, 1, 1),
 (294, 'Duci', 0, 0, 10, 1, 1, 1, 1),
 (295, 'Ipsa elige', 0, 0, 10, 1, 1, 1, 1),
 (296, 'Sunt blanditiis i', 0, 0, 10, 1, 1, 1, 1),
 (297, 'Doloremque', 0, 0, 10, 1, 1, 1, 1),
 (298, 'Autem ratione vitae quos, do', 0, 0, 10, 1, 1, 1, 1),
 (299, 'Voluptatibus aliquid', 0, 0, 10, 1, 1, 1, 1),
 (300, 'Quaerat sequi sit eius corpori', 0, 0, 10, 1, 1, 1, 1),
 (301, 'Libe', 0, 0, 10, 1, 1, 1, 1),
 (302, 'Aliquam n', 0, 0, 10, 1, 1, 1, 1)]

In [0]:
pg_curs.close()
pg_conn.commit()

# table is now committed to ElephantSQL

In [0]:
pg_curs = pg_conn.cursor()
pg_curs.execute('SELECT * FROM charactercreator_character')
pg_characters = pg_curs.fetchall()

In [0]:
for character,pg_character in zip(characters, pg_characters):
  print(character, pg_character)
  assert pg_character == character

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1) (1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)
(2, 'Optio dolorem ex a', 0, 0, 10, 1, 1, 1, 1) (2, 'Optio dolorem ex a', 0, 0, 10, 1, 1, 1, 1)
(3, 'Minus c', 0, 0, 10, 1, 1, 1, 1) (3, 'Minus c', 0, 0, 10, 1, 1, 1, 1)
(4, 'Sit ut repr', 0, 0, 10, 1, 1, 1, 1) (4, 'Sit ut repr', 0, 0, 10, 1, 1, 1, 1)
(5, 'At id recusandae expl', 0, 0, 10, 1, 1, 1, 1) (5, 'At id recusandae expl', 0, 0, 10, 1, 1, 1, 1)
(6, 'Non nobis et of', 0, 0, 10, 1, 1, 1, 1) (6, 'Non nobis et of', 0, 0, 10, 1, 1, 1, 1)
(7, 'Perferendis', 0, 0, 10, 1, 1, 1, 1) (7, 'Perferendis', 0, 0, 10, 1, 1, 1, 1)
(8, 'Accusantium amet quidem eve', 0, 0, 10, 1, 1, 1, 1) (8, 'Accusantium amet quidem eve', 0, 0, 10, 1, 1, 1, 1)
(9, 'Sed nostrum inventore error m', 0, 0, 10, 1, 1, 1, 1) (9, 'Sed nostrum inventore error m', 0, 0, 10, 1, 1, 1, 1)
(10, 'Harum repellendus omnis od', 0, 0, 10, 1, 1, 1, 1) (10, 'Harum repellendus omnis od', 0, 0, 10, 1, 1, 1, 1)
(11, 'Itaque ut commodi,', 0, 0, 10, 1, 1, 1, 1) (11, 'Itaque ut commodi,', 0, 0, 10, 1, 1, 1, 1)
(12, 'Molestiae quis', 0, 0, 10, 1, 1, 1, 1) (12, 'Molestiae quis', 0, 0, 10, 1, 1, 1, 1)
(13, 'Ali', 0, 0, 10, 1, 1, 1, 1) (13, 'Ali', 0, 0, 10, 1, 1, 1, 1)
(14, 'Tempora quod optio possimus il', 0, 0, 10, 1, 1, 1, 1) (14, 'Tempora quod optio possimus il', 0, 0, 10, 1, 1, 1, 1)
(15, 'Sed itaque beatae pari', 0, 0, 10, 1, 1, 1, 1) (15, 'Sed itaque beatae pari', 0, 0, 10, 1, 1, 1, 1)
(16, 'Quam dolor', 0, 0, 10, 1, 1, 1, 1) (16, 'Quam dolor', 0, 0, 10, 1, 1, 1, 1)
(17, 'Molestias expedita', 0, 0, 10, 1, 1, 1, 1) (17, 'Molestias expedita', 0, 0, 10, 1, 1, 1, 1)
(18, 'Lauda', 0, 0, 10, 1, 1, 1, 1) (18, 'Lauda', 0, 0, 10, 1, 1, 1, 1)
(19, 'Incidunt sint perferen', 0, 0, 10, 1, 1, 1, 1) (19, 'Incidunt sint perferen', 0, 0, 10, 1, 1, 1, 1)
(20, 'Laboriosa', 0, 0, 10, 1, 1, 1, 1) (20, 'Laboriosa', 0, 0, 10, 1, 1, 1, 1)
(21, 'Dolore esse nesciunt fugit com', 0, 0, 10, 1, 1, 1, 1) (21, 'Dolore esse nesciunt fugit com', 0, 0, 10, 1, 1, 1, 1)
(22, 'Dolorum nam reic', 0, 0, 10, 1, 1, 1, 1) (22, 'Dolorum nam reic', 0, 0, 10, 1, 1, 1, 1)
(23, 'Repellat ad numquam volu', 0, 0, 10, 1, 1, 1, 1) (23, 'Repellat ad numquam volu', 0, 0, 10, 1, 1, 1, 1)
(24, 'Facere enim velit eligend', 0, 0, 10, 1, 1, 1, 1) (24, 'Facere enim velit eligend', 0, 0, 10, 1, 1, 1, 1)
(25, 'Sed ratione quis rep', 0, 0, 10, 1, 1, 1, 1) (25, 'Sed ratione quis rep', 0, 0, 10, 1, 1, 1, 1)
(26, 'Doloribus neque', 0, 0, 10, 1, 1, 1, 1) (26, 'Doloribus neque', 0, 0, 10, 1, 1, 1, 1)
(27, 'Ab voluptas se', 0, 0, 10, 1, 1, 1, 1) (27, 'Ab voluptas se', 0, 0, 10, 1, 1, 1, 1)
(28, 'Molestias m', 0, 0, 10, 1, 1, 1, 1) (28, 'Molestias m', 0, 0, 10, 1, 1, 1, 1)
(29, 'In pariatur corpori', 0, 0, 10, 1, 1, 1, 1) (29, 'In pariatur corpori', 0, 0, 10, 1, 1, 1, 1)
(30, 'Possimus ad dignissimos vel, a', 0, 0, 10, 1, 1, 1, 1) (30, 'Possimus ad dignissimos vel, a', 0, 0, 10, 1, 1, 1, 1)
(31, 'At minus accusa', 0, 0, 10, 1, 1, 1, 1) (31, 'At minus accusa', 0, 0, 10, 1, 1, 1, 1)
(32, 'Ad necess', 0, 0, 10, 1, 1, 1, 1) (32, 'Ad necess', 0, 0, 10, 1, 1, 1, 1)
(33, 'Expedita c', 0, 0, 10, 1, 1, 1, 1) (33, 'Expedita c', 0, 0, 10, 1, 1, 1, 1)
(34, 'Voluptates sunt voluptas volu', 0, 0, 10, 1, 1, 1, 1) (34, 'Voluptates sunt voluptas volu', 0, 0, 10, 1, 1, 1, 1)
(35, 'Autem mollitia fuga lauda', 0, 0, 10, 1, 1, 1, 1) (35, 'Autem mollitia fuga lauda', 0, 0, 10, 1, 1, 1, 1)
(36, 'Sint quibusdam ob', 0, 0, 10, 1, 1, 1, 1) (36, 'Sint quibusdam ob', 0, 0, 10, 1, 1, 1, 1)
(37, 'Rerum et o', 0, 0, 10, 1, 1, 1, 1) (37, 'Rerum et o', 0, 0, 10, 1, 1, 1, 1)
(38, 'Doloribus dolore r', 0, 0, 10, 1, 1, 1, 1) (38, 'Doloribus dolore r', 0, 0, 10, 1, 1, 1, 1)
(39, 'Eaque su', 0, 0, 10, 1, 1, 1, 1) (39, 'Eaque su', 0, 0, 10, 1, 1, 1, 1)
(40, 'Vel molestias numqua', 0, 0, 10, 1, 1, 1, 1) (40, 'Vel molestias numqua', 0, 0, 10, 1, 1, 1, 1)
(41, 'Iste assumenda repellat q', 0, 0, 10, 1, 1, 1, 1) (41, 'Iste assumenda repellat q', 0, 0, 10, 1, 1, 1, 1)
(42, 'Animi labo', 0, 0, 10, 1, 1, 1, 1) (42, 'Animi labo', 0, 0, 10, 1, 1, 1, 1)
(43, 'Eum culpa eaque ea omn', 0, 0, 10, 1, 1, 1, 1) (43, 'Eum culpa eaque ea omn', 0, 0, 10, 1, 1, 1, 1)
(44, 'Harum provident vel quam', 0, 0, 10, 1, 1, 1, 1) (44, 'Harum provident vel quam', 0, 0, 10, 1, 1, 1, 1)
(45, 'Aspe', 0, 0, 10, 1, 1, 1, 1) (45, 'Aspe', 0, 0, 10, 1, 1, 1, 1)
(46, 'Nisi nequ', 0, 0, 10, 1, 1, 1, 1) (46, 'Nisi nequ', 0, 0, 10, 1, 1, 1, 1)
(47, 'Quod tempora', 0, 0, 10, 1, 1, 1, 1) (47, 'Quod tempora', 0, 0, 10, 1, 1, 1, 1)
(48, 'Porro aliq', 0, 0, 10, 1, 1, 1, 1) (48, 'Porro aliq', 0, 0, 10, 1, 1, 1, 1)
(49, 'Quas', 0, 0, 10, 1, 1, 1, 1) (49, 'Quas', 0, 0, 10, 1, 1, 1, 1)
(50, 'Magnam eligendi quia animi', 0, 0, 10, 1, 1, 1, 1) (50, 'Magnam eligendi quia animi', 0, 0, 10, 1, 1, 1, 1)
(51, 'Officiis se', 0, 0, 10, 1, 1, 1, 1) (51, 'Officiis se', 0, 0, 10, 1, 1, 1, 1)
(52, 'Id assumend', 0, 0, 10, 1, 1, 1, 1) (52, 'Id assumend', 0, 0, 10, 1, 1, 1, 1)
(53, 'Voluptatibus fu', 0, 0, 10, 1, 1, 1, 1) (53, 'Voluptatibus fu', 0, 0, 10, 1, 1, 1, 1)
(54, 'Odit rat', 0, 0, 10, 1, 1, 1, 1) (54, 'Odit rat', 0, 0, 10, 1, 1, 1, 1)
(55, 'Debit', 0, 0, 10, 1, 1, 1, 1) (55, 'Debit', 0, 0, 10, 1, 1, 1, 1)
(56, 'Cum aut quas repudia', 0, 0, 10, 1, 1, 1, 1) (56, 'Cum aut quas repudia', 0, 0, 10, 1, 1, 1, 1)
(57, 'Deleniti qui quae quidem', 0, 0, 10, 1, 1, 1, 1) (57, 'Deleniti qui quae quidem', 0, 0, 10, 1, 1, 1, 1)
(58, 'Adipisci voluptas', 0, 0, 10, 1, 1, 1, 1) (58, 'Adipisci voluptas', 0, 0, 10, 1, 1, 1, 1)
(59, 'Debitis sit ratione eos nam', 0, 0, 10, 1, 1, 1, 1) (59, 'Debitis sit ratione eos nam', 0, 0, 10, 1, 1, 1, 1)
(60, 'Esse illo molestias archi', 0, 0, 10, 1, 1, 1, 1) (60, 'Esse illo molestias archi', 0, 0, 10, 1, 1, 1, 1)
(61, 'Sunt at itaque voluptatum d', 0, 0, 10, 1, 1, 1, 1) (61, 'Sunt at itaque voluptatum d', 0, 0, 10, 1, 1, 1, 1)
(62, 'Est totam', 0, 0, 10, 1, 1, 1, 1) (62, 'Est totam', 0, 0, 10, 1, 1, 1, 1)
(63, 'Reprehenderit commodi eius', 0, 0, 10, 1, 1, 1, 1) (63, 'Reprehenderit commodi eius', 0, 0, 10, 1, 1, 1, 1)
(64, 'Debit', 0, 0, 10, 1, 1, 1, 1) (64, 'Debit', 0, 0, 10, 1, 1, 1, 1)
(65, 'Soluta dol', 0, 0, 10, 1, 1, 1, 1) (65, 'Soluta dol', 0, 0, 10, 1, 1, 1, 1)
(66, 'Vel nesc', 0, 0, 10, 1, 1, 1, 1) (66, 'Vel nesc', 0, 0, 10, 1, 1, 1, 1)
(67, 'Ratione quia ali', 0, 0, 10, 1, 1, 1, 1) (67, 'Ratione quia ali', 0, 0, 10, 1, 1, 1, 1)
(68, 'Rerum recusandae minima', 0, 0, 10, 1, 1, 1, 1) (68, 'Rerum recusandae minima', 0, 0, 10, 1, 1, 1, 1)
(69, 'Totam natus eius fugiat volu', 0, 0, 10, 1, 1, 1, 1) (69, 'Totam natus eius fugiat volu', 0, 0, 10, 1, 1, 1, 1)
(70, 'Perferendis commodi null', 0, 0, 10, 1, 1, 1, 1) (70, 'Perferendis commodi null', 0, 0, 10, 1, 1, 1, 1)
(71, 'Laudantiu', 0, 0, 10, 1, 1, 1, 1) (71, 'Laudantiu', 0, 0, 10, 1, 1, 1, 1)
(72, 'Voluptat', 0, 0, 10, 1, 1, 1, 1) (72, 'Voluptat', 0, 0, 10, 1, 1, 1, 1)
(73, 'Incidunt nesciun', 0, 0, 10, 1, 1, 1, 1) (73, 'Incidunt nesciun', 0, 0, 10, 1, 1, 1, 1)
(74, 'Illum amet vero', 0, 0, 10, 1, 1, 1, 1) (74, 'Illum amet vero', 0, 0, 10, 1, 1, 1, 1)
(75, 'Suscipit exercitationem re', 0, 0, 10, 1, 1, 1, 1) (75, 'Suscipit exercitationem re', 0, 0, 10, 1, 1, 1, 1)
(76, 'Quas enim error maxime nisi m', 0, 0, 10, 1, 1, 1, 1) (76, 'Quas enim error maxime nisi m', 0, 0, 10, 1, 1, 1, 1)
(77, 'Labore qu', 0, 0, 10, 1, 1, 1, 1) (77, 'Labore qu', 0, 0, 10, 1, 1, 1, 1)
(78, 'Repudiandae deleniti unde', 0, 0, 10, 1, 1, 1, 1) (78, 'Repudiandae deleniti unde', 0, 0, 10, 1, 1, 1, 1)
(79, 'Ut do', 0, 0, 10, 1, 1, 1, 1) (79, 'Ut do', 0, 0, 10, 1, 1, 1, 1)
(80, 'Quaerat esse labore q', 0, 0, 10, 1, 1, 1, 1) (80, 'Quaerat esse labore q', 0, 0, 10, 1, 1, 1, 1)
(81, 'Quidem aliq', 0, 0, 10, 1, 1, 1, 1) (81, 'Quidem aliq', 0, 0, 10, 1, 1, 1, 1)
(82, 'Aperiam vitae eos dolor sed', 0, 0, 10, 1, 1, 1, 1) (82, 'Aperiam vitae eos dolor sed', 0, 0, 10, 1, 1, 1, 1)
(83, 'Minus nobis porro', 0, 0, 10, 1, 1, 1, 1) (83, 'Minus nobis porro', 0, 0, 10, 1, 1, 1, 1)
(84, 'In similique', 0, 0, 10, 1, 1, 1, 1) (84, 'In similique', 0, 0, 10, 1, 1, 1, 1)
(85, 'Culpa repellat unde', 0, 0, 10, 1, 1, 1, 1) (85, 'Culpa repellat unde', 0, 0, 10, 1, 1, 1, 1)
(86, 'Architecto i', 0, 0, 10, 1, 1, 1, 1) (86, 'Architecto i', 0, 0, 10, 1, 1, 1, 1)
(87, 'A sed pariatur qua', 0, 0, 10, 1, 1, 1, 1) (87, 'A sed pariatur qua', 0, 0, 10, 1, 1, 1, 1)
(88, 'Tempore assumenda aperiam', 0, 0, 10, 1, 1, 1, 1) (88, 'Tempore assumenda aperiam', 0, 0, 10, 1, 1, 1, 1)
(89, 'Sed ullam tempora iusto co', 0, 0, 10, 1, 1, 1, 1) (89, 'Sed ullam tempora iusto co', 0, 0, 10, 1, 1, 1, 1)
(90, 'Ipsa', 0, 0, 10, 1, 1, 1, 1) (90, 'Ipsa', 0, 0, 10, 1, 1, 1, 1)
(91, 'Fugiat incidun', 0, 0, 10, 1, 1, 1, 1) (91, 'Fugiat incidun', 0, 0, 10, 1, 1, 1, 1)
(92, 'Molestiae of', 0, 0, 10, 1, 1, 1, 1) (92, 'Molestiae of', 0, 0, 10, 1, 1, 1, 1)
(93, 'Quae quisquam cons', 0, 0, 10, 1, 1, 1, 1) (93, 'Quae quisquam cons', 0, 0, 10, 1, 1, 1, 1)
(94, 'Repellendus ea non facil', 0, 0, 10, 1, 1, 1, 1) (94, 'Repellendus ea non facil', 0, 0, 10, 1, 1, 1, 1)
(95, 'Quod non quibu', 0, 0, 10, 1, 1, 1, 1) (95, 'Quod non quibu', 0, 0, 10, 1, 1, 1, 1)
(96, 'Numquam velit distinctio', 0, 0, 10, 1, 1, 1, 1) (96, 'Numquam velit distinctio', 0, 0, 10, 1, 1, 1, 1)
(97, 'Necessitatibus nihil ex debi', 0, 0, 10, 1, 1, 1, 1) (97, 'Necessitatibus nihil ex debi', 0, 0, 10, 1, 1, 1, 1)
(98, 'Velit tempore nemo, na', 0, 0, 10, 1, 1, 1, 1) (98, 'Velit tempore nemo, na', 0, 0, 10, 1, 1, 1, 1)
(99, 'Nesciunt v', 0, 0, 10, 1, 1, 1, 1) (99, 'Nesciunt v', 0, 0, 10, 1, 1, 1, 1)
(100, 'Dicta enim debitis accusantiu', 0, 0, 10, 1, 1, 1, 1) (100, 'Dicta enim debitis accusantiu', 0, 0, 10, 1, 1, 1, 1)
(101, 'Vitae a', 0, 0, 10, 1, 1, 1, 1) (101, 'Vitae a', 0, 0, 10, 1, 1, 1, 1)
(102, 'Praesentium voluptas u', 0, 0, 10, 1, 1, 1, 1) (102, 'Praesentium voluptas u', 0, 0, 10, 1, 1, 1, 1)
(103, 'Unde ullam mollitia? Nu', 0, 0, 10, 1, 1, 1, 1) (103, 'Unde ullam mollitia? Nu', 0, 0, 10, 1, 1, 1, 1)
(104, 'Neque molestias qu', 0, 0, 10, 1, 1, 1, 1) (104, 'Neque molestias qu', 0, 0, 10, 1, 1, 1, 1)
(105, 'Officiis es', 0, 0, 10, 1, 1, 1, 1) (105, 'Officiis es', 0, 0, 10, 1, 1, 1, 1)
(106, 'Beatae mi', 0, 0, 10, 1, 1, 1, 1) (106, 'Beatae mi', 0, 0, 10, 1, 1, 1, 1)
(107, 'Mollitia nam corporis temp', 0, 0, 10, 1, 1, 1, 1) (107, 'Mollitia nam corporis temp', 0, 0, 10, 1, 1, 1, 1)
(108, 'Repudiandae repellat i', 0, 0, 10, 1, 1, 1, 1) (108, 'Repudiandae repellat i', 0, 0, 10, 1, 1, 1, 1)
(109, 'Laboriosam', 0, 0, 10, 1, 1, 1, 1) (109, 'Laboriosam', 0, 0, 10, 1, 1, 1, 1)
(110, 'Nam minus amet', 0, 0, 10, 1, 1, 1, 1) (110, 'Nam minus amet', 0, 0, 10, 1, 1, 1, 1)
(111, 'Harum quae volup', 0, 0, 10, 1, 1, 1, 1) (111, 'Harum quae volup', 0, 0, 10, 1, 1, 1, 1)
(112, 'Impedit facere ulla', 0, 0, 10, 1, 1, 1, 1) (112, 'Impedit facere ulla', 0, 0, 10, 1, 1, 1, 1)
(113, 'Enim', 0, 0, 10, 1, 1, 1, 1) (113, 'Enim', 0, 0, 10, 1, 1, 1, 1)
(114, 'Dolore magni', 0, 0, 10, 1, 1, 1, 1) (114, 'Dolore magni', 0, 0, 10, 1, 1, 1, 1)
(115, 'Eaque at corpori', 0, 0, 10, 1, 1, 1, 1) (115, 'Eaque at corpori', 0, 0, 10, 1, 1, 1, 1)
(116, 'Fug', 0, 0, 10, 1, 1, 1, 1) (116, 'Fug', 0, 0, 10, 1, 1, 1, 1)
(117, 'Dolorum laudanti', 0, 0, 10, 1, 1, 1, 1) (117, 'Dolorum laudanti', 0, 0, 10, 1, 1, 1, 1)
(118, 'Perferendis nat', 0, 0, 10, 1, 1, 1, 1) (118, 'Perferendis nat', 0, 0, 10, 1, 1, 1, 1)
(119, 'Cupidi', 0, 0, 10, 1, 1, 1, 1) (119, 'Cupidi', 0, 0, 10, 1, 1, 1, 1)
(120, 'Commodi eius dicta digniss', 0, 0, 10, 1, 1, 1, 1) (120, 'Commodi eius dicta digniss', 0, 0, 10, 1, 1, 1, 1)
(121, 'Debitis eu', 0, 0, 10, 1, 1, 1, 1) (121, 'Debitis eu', 0, 0, 10, 1, 1, 1, 1)
(122, 'Nihil repella', 0, 0, 10, 1, 1, 1, 1) (122, 'Nihil repella', 0, 0, 10, 1, 1, 1, 1)
(123, 'Rem quasi minima hic sed anim', 0, 0, 10, 1, 1, 1, 1) (123, 'Rem quasi minima hic sed anim', 0, 0, 10, 1, 1, 1, 1)
(124, 'Sed ali', 0, 0, 10, 1, 1, 1, 1) (124, 'Sed ali', 0, 0, 10, 1, 1, 1, 1)
(125, 'Earum vol', 0, 0, 10, 1, 1, 1, 1) (125, 'Earum vol', 0, 0, 10, 1, 1, 1, 1)
(126, 'Inventore tempore com', 0, 0, 10, 1, 1, 1, 1) (126, 'Inventore tempore com', 0, 0, 10, 1, 1, 1, 1)
(127, 'Repell', 0, 0, 10, 1, 1, 1, 1) (127, 'Repell', 0, 0, 10, 1, 1, 1, 1)
(128, 'Consequatur quis recusandae qu', 0, 0, 10, 1, 1, 1, 1) (128, 'Consequatur quis recusandae qu', 0, 0, 10, 1, 1, 1, 1)
(129, 'Dolores ea velit mi', 0, 0, 10, 1, 1, 1, 1) (129, 'Dolores ea velit mi', 0, 0, 10, 1, 1, 1, 1)
(130, 'Atque blanditiis a aperiam', 0, 0, 10, 1, 1, 1, 1) (130, 'Atque blanditiis a aperiam', 0, 0, 10, 1, 1, 1, 1)
(131, 'Reprehenderit sequi iu', 0, 0, 10, 1, 1, 1, 1) (131, 'Reprehenderit sequi iu', 0, 0, 10, 1, 1, 1, 1)
(132, 'Natus architecto eos, hic blan', 0, 0, 10, 1, 1, 1, 1) (132, 'Natus architecto eos, hic blan', 0, 0, 10, 1, 1, 1, 1)
(133, 'Ipsa illo quas', 0, 0, 10, 1, 1, 1, 1) (133, 'Ipsa illo quas', 0, 0, 10, 1, 1, 1, 1)
(134, 'Voluptas ali', 0, 0, 10, 1, 1, 1, 1) (134, 'Voluptas ali', 0, 0, 10, 1, 1, 1, 1)
(135, 'Voluptates obcaecati quod e', 0, 0, 10, 1, 1, 1, 1) (135, 'Voluptates obcaecati quod e', 0, 0, 10, 1, 1, 1, 1)
(136, 'Dolor adipisci a voluptate', 0, 0, 10, 1, 1, 1, 1) (136, 'Dolor adipisci a voluptate', 0, 0, 10, 1, 1, 1, 1)
(137, 'Repellendus natus quae, n', 0, 0, 10, 1, 1, 1, 1) (137, 'Repellendus natus quae, n', 0, 0, 10, 1, 1, 1, 1)
(138, 'Laudantium earum nam in dol', 0, 0, 10, 1, 1, 1, 1) (138, 'Laudantium earum nam in dol', 0, 0, 10, 1, 1, 1, 1)
(139, 'Molestias face', 0, 0, 10, 1, 1, 1, 1) (139, 'Molestias face', 0, 0, 10, 1, 1, 1, 1)
(140, 'Maiores suscipit exc', 0, 0, 10, 1, 1, 1, 1) (140, 'Maiores suscipit exc', 0, 0, 10, 1, 1, 1, 1)
(141, 'Illum dolore perferen', 0, 0, 10, 1, 1, 1, 1) (141, 'Illum dolore perferen', 0, 0, 10, 1, 1, 1, 1)
(142, 'Explicabo recusandae ma', 0, 0, 10, 1, 1, 1, 1) (142, 'Explicabo recusandae ma', 0, 0, 10, 1, 1, 1, 1)
(143, 'Odio obcaecati hic nostrum n', 0, 0, 10, 1, 1, 1, 1) (143, 'Odio obcaecati hic nostrum n', 0, 0, 10, 1, 1, 1, 1)
(144, 'Voluptate ali', 0, 0, 10, 1, 1, 1, 1) (144, 'Voluptate ali', 0, 0, 10, 1, 1, 1, 1)
(145, 'Repudiandae vitae sapiente mol', 0, 0, 10, 1, 1, 1, 1) (145, 'Repudiandae vitae sapiente mol', 0, 0, 10, 1, 1, 1, 1)
(146, 'Ipsam cumque', 0, 0, 10, 1, 1, 1, 1) (146, 'Ipsam cumque', 0, 0, 10, 1, 1, 1, 1)
(147, 'Fugiat quos alias eos dese', 0, 0, 10, 1, 1, 1, 1) (147, 'Fugiat quos alias eos dese', 0, 0, 10, 1, 1, 1, 1)
(148, 'Eaque impe', 0, 0, 10, 1, 1, 1, 1) (148, 'Eaque impe', 0, 0, 10, 1, 1, 1, 1)
(149, 'Elige', 0, 0, 10, 1, 1, 1, 1) (149, 'Elige', 0, 0, 10, 1, 1, 1, 1)
(150, 'Adip', 0, 0, 10, 1, 1, 1, 1) (150, 'Adip', 0, 0, 10, 1, 1, 1, 1)
(151, 'Fuga nemo vel mo', 0, 0, 10, 1, 1, 1, 1) (151, 'Fuga nemo vel mo', 0, 0, 10, 1, 1, 1, 1)
(152, 'Libero cumque impedit eveniet', 0, 0, 10, 1, 1, 1, 1) (152, 'Libero cumque impedit eveniet', 0, 0, 10, 1, 1, 1, 1)
(153, 'Odio soluta', 0, 0, 10, 1, 1, 1, 1) (153, 'Odio soluta', 0, 0, 10, 1, 1, 1, 1)
(154, 'Vero nostrum duc', 0, 0, 10, 1, 1, 1, 1) (154, 'Vero nostrum duc', 0, 0, 10, 1, 1, 1, 1)
(155, 'Repellend', 0, 0, 10, 1, 1, 1, 1) (155, 'Repellend', 0, 0, 10, 1, 1, 1, 1)
(156, 'Quod', 0, 0, 10, 1, 1, 1, 1) (156, 'Quod', 0, 0, 10, 1, 1, 1, 1)
(157, 'Suscipit reiciend', 0, 0, 10, 1, 1, 1, 1) (157, 'Suscipit reiciend', 0, 0, 10, 1, 1, 1, 1)
(158, 'Voluptat', 0, 0, 10, 1, 1, 1, 1) (158, 'Voluptat', 0, 0, 10, 1, 1, 1, 1)
(159, 'Porro dolor fuga quam', 0, 0, 10, 1, 1, 1, 1) (159, 'Porro dolor fuga quam', 0, 0, 10, 1, 1, 1, 1)
(160, 'Amet quo fugit aliquam sequi', 0, 0, 10, 1, 1, 1, 1) (160, 'Amet quo fugit aliquam sequi', 0, 0, 10, 1, 1, 1, 1)
(161, 'Magni adipisci veritatis sit q', 0, 0, 10, 1, 1, 1, 1) (161, 'Magni adipisci veritatis sit q', 0, 0, 10, 1, 1, 1, 1)
(162, 'Debitis enim cumque cum qu', 0, 0, 10, 1, 1, 1, 1) (162, 'Debitis enim cumque cum qu', 0, 0, 10, 1, 1, 1, 1)
(163, 'Dolorem eligend', 0, 0, 10, 1, 1, 1, 1) (163, 'Dolorem eligend', 0, 0, 10, 1, 1, 1, 1)
(164, 'Autem lib', 0, 0, 10, 1, 1, 1, 1) (164, 'Autem lib', 0, 0, 10, 1, 1, 1, 1)
(165, 'Saepe assumenda perferendis f', 0, 0, 10, 1, 1, 1, 1) (165, 'Saepe assumenda perferendis f', 0, 0, 10, 1, 1, 1, 1)
(166, 'Deserunt', 0, 0, 10, 1, 1, 1, 1) (166, 'Deserunt', 0, 0, 10, 1, 1, 1, 1)
(167, 'Provident soluta simil', 0, 0, 10, 1, 1, 1, 1) (167, 'Provident soluta simil', 0, 0, 10, 1, 1, 1, 1)
(168, 'In accu', 0, 0, 10, 1, 1, 1, 1) (168, 'In accu', 0, 0, 10, 1, 1, 1, 1)
(169, 'Inve', 0, 0, 10, 1, 1, 1, 1) (169, 'Inve', 0, 0, 10, 1, 1, 1, 1)
(170, 'Placeat sapiente', 0, 0, 10, 1, 1, 1, 1) (170, 'Placeat sapiente', 0, 0, 10, 1, 1, 1, 1)
(171, 'Ducimus architecto ullam', 0, 0, 10, 1, 1, 1, 1) (171, 'Ducimus architecto ullam', 0, 0, 10, 1, 1, 1, 1)
(172, 'Voluptate tempora rerum', 0, 0, 10, 1, 1, 1, 1) (172, 'Voluptate tempora rerum', 0, 0, 10, 1, 1, 1, 1)
(173, 'Totam incidunt earum perspicia', 0, 0, 10, 1, 1, 1, 1) (173, 'Totam incidunt earum perspicia', 0, 0, 10, 1, 1, 1, 1)
(174, 'Optio quas e', 0, 0, 10, 1, 1, 1, 1) (174, 'Optio quas e', 0, 0, 10, 1, 1, 1, 1)
(175, 'Ab illum invento', 0, 0, 10, 1, 1, 1, 1) (175, 'Ab illum invento', 0, 0, 10, 1, 1, 1, 1)
(176, 'Repellat quis natus totam, s', 0, 0, 10, 1, 1, 1, 1) (176, 'Repellat quis natus totam, s', 0, 0, 10, 1, 1, 1, 1)
(177, 'Est voluptate accusantium tem', 0, 0, 10, 1, 1, 1, 1) (177, 'Est voluptate accusantium tem', 0, 0, 10, 1, 1, 1, 1)
(178, 'Beatae q', 0, 0, 10, 1, 1, 1, 1) (178, 'Beatae q', 0, 0, 10, 1, 1, 1, 1)
(179, 'Velit', 0, 0, 10, 1, 1, 1, 1) (179, 'Velit', 0, 0, 10, 1, 1, 1, 1)
(180, 'Minus nequ', 0, 0, 10, 1, 1, 1, 1) (180, 'Minus nequ', 0, 0, 10, 1, 1, 1, 1)
(181, 'Autem eos voluptates off', 0, 0, 10, 1, 1, 1, 1) (181, 'Autem eos voluptates off', 0, 0, 10, 1, 1, 1, 1)
(182, 'Vel fug', 0, 0, 10, 1, 1, 1, 1) (182, 'Vel fug', 0, 0, 10, 1, 1, 1, 1)
(183, 'Architecto repudian', 0, 0, 10, 1, 1, 1, 1) (183, 'Architecto repudian', 0, 0, 10, 1, 1, 1, 1)
(184, 'Opti', 0, 0, 10, 1, 1, 1, 1) (184, 'Opti', 0, 0, 10, 1, 1, 1, 1)
(185, 'Iust', 0, 0, 10, 1, 1, 1, 1) (185, 'Iust', 0, 0, 10, 1, 1, 1, 1)
(186, 'Sapiente', 0, 0, 10, 1, 1, 1, 1) (186, 'Sapiente', 0, 0, 10, 1, 1, 1, 1)
(187, 'Officiis repellat corrupti su', 0, 0, 10, 1, 1, 1, 1) (187, 'Officiis repellat corrupti su', 0, 0, 10, 1, 1, 1, 1)
(188, 'Dicta et natus e', 0, 0, 10, 1, 1, 1, 1) (188, 'Dicta et natus e', 0, 0, 10, 1, 1, 1, 1)
(189, 'At quos', 0, 0, 10, 1, 1, 1, 1) (189, 'At quos', 0, 0, 10, 1, 1, 1, 1)
(190, 'Laborum ven', 0, 0, 10, 1, 1, 1, 1) (190, 'Laborum ven', 0, 0, 10, 1, 1, 1, 1)
(191, 'Exceptur', 0, 0, 10, 1, 1, 1, 1) (191, 'Exceptur', 0, 0, 10, 1, 1, 1, 1)
(192, 'Reiciendis assumenda dolo', 0, 0, 10, 1, 1, 1, 1) (192, 'Reiciendis assumenda dolo', 0, 0, 10, 1, 1, 1, 1)
(193, 'Poss', 0, 0, 10, 1, 1, 1, 1) (193, 'Poss', 0, 0, 10, 1, 1, 1, 1)
(194, 'Acc', 0, 0, 10, 1, 1, 1, 1) (194, 'Acc', 0, 0, 10, 1, 1, 1, 1)
(195, 'Placeat esse archit', 0, 0, 10, 1, 1, 1, 1) (195, 'Placeat esse archit', 0, 0, 10, 1, 1, 1, 1)
(196, 'Enim repellendus nihil est te', 0, 0, 10, 1, 1, 1, 1) (196, 'Enim repellendus nihil est te', 0, 0, 10, 1, 1, 1, 1)
(197, 'Ipsam incidunt t', 0, 0, 10, 1, 1, 1, 1) (197, 'Ipsam incidunt t', 0, 0, 10, 1, 1, 1, 1)
(198, 'Iure', 0, 0, 10, 1, 1, 1, 1) (198, 'Iure', 0, 0, 10, 1, 1, 1, 1)
(199, 'Illo en', 0, 0, 10, 1, 1, 1, 1) (199, 'Illo en', 0, 0, 10, 1, 1, 1, 1)
(200, 'A rem ex', 0, 0, 10, 1, 1, 1, 1) (200, 'A rem ex', 0, 0, 10, 1, 1, 1, 1)
(201, 'Officiis su', 0, 0, 10, 1, 1, 1, 1) (201, 'Officiis su', 0, 0, 10, 1, 1, 1, 1)
(202, 'Numquam molestias', 0, 0, 10, 1, 1, 1, 1) (202, 'Numquam molestias', 0, 0, 10, 1, 1, 1, 1)
(203, 'Voluptates unde', 0, 0, 10, 1, 1, 1, 1) (203, 'Voluptates unde', 0, 0, 10, 1, 1, 1, 1)
(204, 'Quae praesentium vel', 0, 0, 10, 1, 1, 1, 1) (204, 'Quae praesentium vel', 0, 0, 10, 1, 1, 1, 1)
(205, 'Quas', 0, 0, 10, 1, 1, 1, 1) (205, 'Quas', 0, 0, 10, 1, 1, 1, 1)
(206, 'Dolores aliquid inv', 0, 0, 10, 1, 1, 1, 1) (206, 'Dolores aliquid inv', 0, 0, 10, 1, 1, 1, 1)
(207, 'Mollitia tempore laborum eaqu', 0, 0, 10, 1, 1, 1, 1) (207, 'Mollitia tempore laborum eaqu', 0, 0, 10, 1, 1, 1, 1)

In [0]:
# Nothing happened - which means they're all the same!
# We have successfully performed and validated an ETL

In [0]:
pg_curs.close()

##Titanic

In [0]:
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv

--2019-08-14 00:21:51--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44225 (43K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  43.19K  --.-KB/s    in 0.02s

2019-08-14 00:21:51 (2.01 MB/s) - ‘titanic.csv’ saved [44225/44225]

In [0]:
DATA = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv'

titanic = pd.read_csv(DATA)
print(titanic.shape)
titanic.head()

(887, 8)

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [0]:
pg_curs = pg_conn.cursor()

In [0]:
create_titanic_table = """
  CREATE TABLE titanic2(
  Survived INT,
  Pclass INT,
  Name VARCHAR(100),
  Sex VARCHAR(10),
  Age INT,
  Siblings_Spouses_Aboard INT,
  Parents_Children_Aboard INT,
  Fare INT
  );
"""

In [0]:
pg_curs.execute(create_titanic_table)

In [0]:
pg_curs.execute("\copy titanic2 FROM '/content/titanic.csv' DELIMITER ',' CSV;")

SyntaxError: ignored

In [0]:
# https://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table

import pandas as pd
df = pd.read_csv('/content/titanic.csv')
df.columns = [c.lower() for c in df.columns] #postgres doesn't like capitals or spaces

from sqlalchemy import create_engine
engine = create_engine('postgres://kvobzcdf:Z6GcK2XttNxPBRVoCVBM-_FgYLdfDJst@raja.db.elephantsql.com:5432/kvobzcdf')

df.to_sql("titanic", engine)

In [0]:
# more from stackoverflow

# # Set it so the raw sql output is logged
# import logging
# logging.basicConfig()
# logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)

# df.to_sql("my_table_name2", 
#           engine, 
#           if_exists="append",  #options are ‘fail’, ‘replace’, ‘append’, default ‘fail’
#           index=False, #Do not output the index of the dataframe
#           dtype={'col1': sqlalchemy.types.NUMERIC,
#                  'col2': sqlalchemy.types.String}) #Datatypes should be [sqlalchemy types][1]

In [0]:
def get_titanic_rows(df):
  titanic_rows = []
  for i in range(len(df)):
    titanic_rows.append(df.loc[i:i].values)
  return titanic_rows

titanic_df = get_titanic_rows(titanic)

In [0]:
print(titanic_df)

[array([[0, 3, 'Mr. Owen Harris Braund', 'male', 22.0, 1, 0, 7.25]],
      dtype=object), array([[1, 1, 'Mrs. John Bradley (Florence Briggs Thayer) Cumings',
        'female', 38.0, 1, 0, 71.2833]], dtype=object), array([[1, 3, 'Miss. Laina Heikkinen', 'female', 26.0, 0, 0, 7.925]],
      dtype=object), array([[1, 1, 'Mrs. Jacques Heath (Lily May Peel) Futrelle', 'female',
        35.0, 1, 0, 53.1]], dtype=object), array([[0, 3, 'Mr. William Henry Allen', 'male', 35.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Mr. James Moran', 'male', 27.0, 0, 0, 8.4583]],
      dtype=object), array([[0, 1, 'Mr. Timothy J McCarthy', 'male', 54.0, 0, 0, 51.8625]],
      dtype=object), array([[0, 3, 'Master. Gosta Leonard Palsson', 'male', 2.0, 3, 1, 21.075]],
      dtype=object), array([[1, 3, 'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
        'female', 27.0, 0, 2, 11.1333]], dtype=object), array([[1, 2, 'Mrs. Nicholas (Adele Achem) Nasser', 'female', 14.0, 1, 0,
        30.0708]], dtype=object), array([[1, 3, 'Miss. Marguerite Rut Sandstrom', 'female', 4.0, 1, 1,
        16.7]], dtype=object), array([[1, 1, 'Miss. Elizabeth Bonnell', 'female', 58.0, 0, 0, 26.55]],
      dtype=object), array([[0, 3, 'Mr. William Henry Saundercock', 'male', 20.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Mr. Anders Johan Andersson', 'male', 39.0, 1, 5, 31.275]],
      dtype=object), array([[0, 3, 'Miss. Hulda Amanda Adolfina Vestrom', 'female', 14.0, 0,
        0, 7.8542]], dtype=object), array([[1, 2, 'Mrs. (Mary D Kingcome) Hewlett', 'female', 55.0, 0, 0,
        16.0]], dtype=object), array([[0, 3, 'Master. Eugene Rice', 'male', 2.0, 4, 1, 29.125]],
      dtype=object), array([[1, 2, 'Mr. Charles Eugene Williams', 'male', 23.0, 0, 0, 13.0]],
      dtype=object), array([[0, 3, 'Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke',
        'female', 31.0, 1, 0, 18.0]], dtype=object), array([[1, 3, 'Mrs. Fatima Masselmani', 'female', 22.0, 0, 0, 7.225]],
      dtype=object), array([[0, 2, 'Mr. Joseph J Fynney', 'male', 35.0, 0, 0, 26.0]],
      dtype=object), array([[1, 2, 'Mr. Lawrence Beesley', 'male', 34.0, 0, 0, 13.0]],
      dtype=object), array([[1, 3, 'Miss. Anna McGowan', 'female', 15.0, 0, 0, 8.0292]],
      dtype=object), array([[1, 1, 'Mr. William Thompson Sloper', 'male', 28.0, 0, 0, 35.5]],
      dtype=object), array([[0, 3, 'Miss. Torborg Danira Palsson', 'female', 8.0, 3, 1,
        21.075]], dtype=object), array([[1, 3, 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund',
        'female', 38.0, 1, 5, 31.3875]], dtype=object), array([[0, 3, 'Mr. Farred Chehab Emir', 'male', 26.0, 0, 0, 7.225]],
      dtype=object), array([[0, 1, 'Mr. Charles Alexander Fortune', 'male', 19.0, 3, 2, 263.0]],
      dtype=object), array([[1, 3, "Miss. Ellen O'Dwyer", 'female', 24.0, 0, 0, 7.8792]],
      dtype=object), array([[0, 3, 'Mr. Lalio Todoroff', 'male', 23.0, 0, 0, 7.8958]],
      dtype=object), array([[0, 1, 'Don. Manuel E Uruchurtu', 'male', 40.0, 0, 0, 27.7208]],
      dtype=object), array([[1, 1, 'Mrs. William Augustus (Marie Eugenie) Spencer', 'female',
        48.0, 1, 0, 146.5208]], dtype=object), array([[1, 3, 'Miss. Mary Agatha Glynn', 'female', 18.0, 0, 0, 7.75]],
      dtype=object), array([[0, 2, 'Mr. Edward H Wheadon', 'male', 66.0, 0, 0, 10.5]],
      dtype=object), array([[0, 1, 'Mr. Edgar Joseph Meyer', 'male', 28.0, 1, 0, 82.1708]],
      dtype=object), array([[0, 1, 'Mr. Alexander Oskar Holverson', 'male', 42.0, 1, 0, 52.0]],
      dtype=object), array([[1, 3, 'Mr. Hanna Mamee', 'male', 18.0, 0, 0, 7.2292]],
      dtype=object), array([[0, 3, 'Mr. Ernest Charles Cann', 'male', 21.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Miss. Augusta Maria Vander Planke', 'female', 18.0, 2, 0,
        18.0]], dtype=object), array([[1, 3, 'Miss. Jamila Nicola-Yarred', 'female', 14.0, 1, 0,
        11.2417]], dtype=object), array([[0, 3, 'Mrs. Johan (Johanna Persdotter Larsson) Ahlin', 'female',
        40.0, 1, 0, 9.475]], dtype=object), array([[0, 2, 'Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin',
        'female', 27.0, 1, 0, 21.0]], dtype=object), array([[1, 2, 'Miss. Simonne Marie Anne Andree Laroche', 'female', 3.0,
        1, 2, 41.5792]], dtype=object), array([[1, 3, 'Miss. Margaret Delia Devaney', 'female', 19.0, 0, 0,
        7.8792]], dtype=object), array([[0, 3, 'Mr. William John Rogers', 'male', 30.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Mr. Denis Lennon', 'male', 20.0, 1, 0, 15.5]], dtype=object), array([[1, 3, "Miss. Bridget O'Driscoll", 'female', 27.0, 0, 0, 7.75]],
      dtype=object), array([[0, 3, 'Mr. Youssef Samaan', 'male', 16.0, 2, 0, 21.6792]],
      dtype=object), array([[0, 3, 'Mrs. Josef (Josefine Franchi) Arnold-Franchi', 'female',
        18.0, 1, 0, 17.8]], dtype=object), array([[0, 3, 'Master. Juha Niilo Panula', 'male', 7.0, 4, 1, 39.6875]],
      dtype=object), array([[0, 3, 'Mr. Richard Cater Nosworthy', 'male', 21.0, 0, 0, 7.8]],
      dtype=object), array([[1, 1, 'Mrs. Henry Sleeper (Myna Haxtun) Harper', 'female', 49.0,
        1, 0, 76.7292]], dtype=object), array([[1, 2, 'Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe',
        'female', 29.0, 1, 0, 26.0]], dtype=object), array([[0, 1, 'Mr. Engelhart Cornelius Ostby', 'male', 65.0, 0, 1,
        61.9792]], dtype=object), array([[1, 1, 'Mr. Hugh Woolner', 'male', 46.0, 0, 0, 35.5]], dtype=object), array([[1, 2, 'Miss. Emily Rugg', 'female', 21.0, 0, 0, 10.5]],
      dtype=object), array([[0, 3, 'Mr. Mansouer Novel', 'male', 28.5, 0, 0, 7.2292]],
      dtype=object), array([[1, 2, 'Miss. Constance Mirium West', 'female', 5.0, 1, 2, 27.75]],
      dtype=object), array([[0, 3, 'Master. William Frederick Goodwin', 'male', 11.0, 5, 2,
        46.9]], dtype=object), array([[0, 3, 'Mr. Orsen Sirayanian', 'male', 22.0, 0, 0, 7.2292]],
      dtype=object), array([[1, 1, 'Miss. Amelie Icard', 'female', 38.0, 0, 0, 80.0]],
      dtype=object), array([[0, 1, 'Mr. Henry Birkhardt Harris', 'male', 45.0, 1, 0, 83.475]],
      dtype=object), array([[0, 3, 'Master. Harald Skoog', 'male', 4.0, 3, 2, 27.9]],
      dtype=object), array([[0, 1, 'Mr. Albert A Stewart', 'male', 64.0, 0, 0, 27.7208]],
      dtype=object), array([[1, 3, 'Master. Gerios Moubarek', 'male', 7.0, 1, 1, 15.2458]],
      dtype=object), array([[1, 2, 'Mrs. (Elizabeth Ramell) Nye', 'female', 29.0, 0, 0, 10.5]],
      dtype=object), array([[0, 3, 'Mr. Ernest James Crease', 'male', 19.0, 0, 0, 8.1583]],
      dtype=object), array([[1, 3, 'Miss. Erna Alexandra Andersson', 'female', 17.0, 4, 2,
        7.925]], dtype=object), array([[0, 3, 'Mr. Vincenz Kink', 'male', 26.0, 2, 0, 8.6625]],
      dtype=object), array([[0, 2, 'Mr. Stephen Curnow Jenkin', 'male', 32.0, 0, 0, 10.5]],
      dtype=object), array([[0, 3, 'Miss. Lillian Amy Goodwin', 'female', 16.0, 5, 2, 46.9]],
      dtype=object), array([[0, 2, 'Mr. Ambrose Jr Hood', 'male', 21.0, 0, 0, 73.5]],
      dtype=object), array([[0, 3, 'Mr. Apostolos Chronopoulos', 'male', 26.0, 1, 0, 14.4542]],
      dtype=object), array([[1, 3, 'Mr. Lee Bing', 'male', 32.0, 0, 0, 56.4958]], dtype=object), array([[0, 3, 'Mr. Sigurd Hansen Moen', 'male', 25.0, 0, 0, 7.65]],
      dtype=object), array([[0, 3, 'Mr. Ivan Staneff', 'male', 23.0, 0, 0, 7.8958]],
      dtype=object), array([[0, 3, 'Mr. Rahamin Haim Moutal', 'male', 28.0, 0, 0, 8.05]],
      dtype=object), array([[1, 2, 'Master. Alden Gates Caldwell', 'male', 0.83, 0, 2, 29.0]],
      dtype=object), array([[1, 3, 'Miss. Elizabeth Dowdell', 'female', 30.0, 0, 0, 12.475]],
      dtype=object), array([[0, 3, 'Mr. Achille Waelens', 'male', 22.0, 0, 0, 9.0]],
      dtype=object), array([[1, 3, 'Mr. Jan Baptist Sheerlinck', 'male', 29.0, 0, 0, 9.5]],
      dtype=object), array([[1, 3, 'Miss. Brigdet Delia McDermott', 'female', 31.0, 0, 0,
        7.7875]], dtype=object), array([[0, 1, 'Mr. Francisco M Carrau', 'male', 28.0, 0, 0, 47.1]],
      dtype=object), array([[1, 2, 'Miss. Bertha Ilett', 'female', 17.0, 0, 0, 10.5]],
      dtype=object), array([[1, 3, 'Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom',
        'female', 33.0, 3, 0, 15.85]], dtype=object), array([[0, 3, 'Mr. William Neal Ford', 'male', 16.0, 1, 3, 34.375]],
      dtype=object), array([[0, 3, 'Mr. Selman Francis Slocovski', 'male', 20.0, 0, 0, 8.05]],
      dtype=object), array([[1, 1, 'Miss. Mabel Helen Fortune', 'female', 23.0, 3, 2, 263.0]],
      dtype=object), array([[0, 3, 'Mr. Francesco Celotti', 'male', 24.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Mr. Emil Christmann', 'male', 29.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Mr. Paul Edvin Andreasson', 'male', 20.0, 0, 0, 7.8542]],
      dtype=object), array([[0, 1, 'Mr. Herbert Fuller Chaffee', 'male', 46.0, 1, 0, 61.175]],
      dtype=object), array([[0, 3, 'Mr. Bertram Frank Dean', 'male', 26.0, 1, 2, 20.575]],
      dtype=object), array([[0, 3, 'Mr. Daniel Coxon', 'male', 59.0, 0, 0, 7.25]], dtype=object), array([[0, 3, 'Mr. Charles Joseph Shorney', 'male', 22.0, 0, 0, 8.05]],
      dtype=object), array([[0, 1, 'Mr. George B Goldschmidt', 'male', 71.0, 0, 0, 34.6542]],
      dtype=object), array([[1, 1, 'Mr. William Bertram Greenfield', 'male', 23.0, 0, 1,
        63.3583]], dtype=object), array([[1, 2, 'Mrs. John T (Ada Julia Bone) Doling', 'female', 34.0, 0,
        1, 23.0]], dtype=object), array([[0, 2, 'Mr. Sinai Kantor', 'male', 34.0, 1, 0, 26.0]], dtype=object), array([[0, 3, 'Miss. Matilda Petranec', 'female', 28.0, 0, 0, 7.8958]],
      dtype=object), array([[0, 3, 'Mr. Pastcho Petroff', 'male', 29.0, 0, 0, 7.8958]],
      dtype=object), array([[0, 1, 'Mr. Richard Frasar White', 'male', 21.0, 0, 1, 77.2875]],
      dtype=object), array([[0, 3, 'Mr. Gustaf Joel Johansson', 'male', 33.0, 0, 0, 8.6542]],
      dtype=object), array([[0, 3, 'Mr. Anders Vilhelm Gustafsson', 'male', 37.0, 2, 0, 7.925]],
      dtype=object), array([[0, 3, 'Mr. Stoytcho Mionoff', 'male', 28.0, 0, 0, 7.8958]],
      dtype=object), array([[1, 3, 'Miss. Anna Kristine Salkjelsvik', 'female', 21.0, 0, 0,
        7.65]], dtype=object), array([[1, 3, 'Mr. Albert Johan Moss', 'male', 29.0, 0, 0, 7.775]],
      dtype=object), array([[0, 3, 'Mr. Tido Rekic', 'male', 38.0, 0, 0, 7.8958]], dtype=object), array([[1, 3, 'Miss. Bertha Moran', 'female', 28.0, 1, 0, 24.15]],
      dtype=object), array([[0, 1, 'Mr. Walter Chamberlain Porter', 'male', 47.0, 0, 0, 52.0]],
      dtype=object), array([[0, 3, 'Miss. Hileni Zabour', 'female', 14.5, 1, 0, 14.4542]],
      dtype=object), array([[0, 3, 'Mr. David John Barton', 'male', 22.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Miss. Katriina Jussila', 'female', 20.0, 1, 0, 9.825]],
      dtype=object), array([[0, 3, 'Miss. Malake Attalah', 'female', 17.0, 0, 0, 14.4583]],
      dtype=object), array([[0, 3, 'Mr. Edvard Pekoniemi', 'male', 21.0, 0, 0, 7.925]],
      dtype=object), array([[0, 3, 'Mr. Patrick Connors', 'male', 70.5, 0, 0, 7.75]],
      dtype=object), array([[0, 2, 'Mr. William John Robert Turpin', 'male', 29.0, 1, 0, 21.0]],
      dtype=object), array([[0, 1, 'Mr. Quigg Edmond Baxter', 'male', 24.0, 0, 1, 247.5208]],
      dtype=object), array([[0, 3, 'Miss. Ellis Anna Maria Andersson', 'female', 2.0, 4, 2,
        31.275]], dtype=object), array([[0, 2, 'Mr. Stanley George Hickman', 'male', 21.0, 2, 0, 73.5]],
      dtype=object), array([[0, 3, 'Mr. Leonard Charles Moore', 'male', 19.0, 0, 0, 8.05]],
      dtype=object), array([[0, 2, 'Mr. Nicholas Nasser', 'male', 32.5, 1, 0, 30.0708]],
      dtype=object), array([[1, 2, 'Miss. Susan Webber', 'female', 32.5, 0, 0, 13.0]],
      dtype=object), array([[0, 1, 'Mr. Percival Wayland White', 'male', 54.0, 0, 1, 77.2875]],
      dtype=object), array([[1, 3, 'Master. Elias Nicola-Yarred', 'male', 12.0, 1, 0, 11.2417]],
      dtype=object), array([[0, 3, 'Mr. Martin McMahon', 'male', 19.0, 0, 0, 7.75]],
      dtype=object), array([[1, 3, 'Mr. Fridtjof Arne Madsen', 'male', 24.0, 0, 0, 7.1417]],
      dtype=object), array([[1, 3, 'Miss. Anna Peter', 'female', 2.0, 1, 1, 22.3583]],
      dtype=object), array([[0, 3, 'Mr. Johan Ekstrom', 'male', 45.0, 0, 0, 6.975]],
      dtype=object), array([[0, 3, 'Mr. Jozef Drazenoic', 'male', 33.0, 0, 0, 7.8958]],
      dtype=object), array([[0, 3, 'Mr. Domingos Fernandeo Coelho', 'male', 20.0, 0, 0, 7.05]],
      dtype=object), array([[0, 3, 'Mrs. Alexander A (Grace Charity Laury) Robins', 'female',
        47.0, 1, 0, 14.5]], dtype=object), array([[1, 2, 'Mrs. Leopold (Mathilde Francoise Pede) Weisz', 'female',
        29.0, 1, 0, 26.0]], dtype=object), array([[0, 2, 'Mr. Samuel James Hayden Sobey', 'male', 25.0, 0, 0, 13.0]],
      dtype=object), array([[0, 2, 'Mr. Emile Richard', 'male', 23.0, 0, 0, 15.0458]],
      dtype=object), array([[1, 1, 'Miss. Helen Monypeny Newsom', 'female', 19.0, 0, 2,
        26.2833]], dtype=object), array([[0, 1, 'Mr. Jacques Heath Futrelle', 'male', 37.0, 1, 0, 53.1]],
      dtype=object), array([[0, 3, 'Mr. Olaf Elon Osen', 'male', 16.0, 0, 0, 9.2167]],
      dtype=object), array([[0, 1, 'Mr. Victor Giglio', 'male', 24.0, 0, 0, 79.2]],
      dtype=object), array([[0, 3, 'Mrs. Joseph (Sultana) Boulos', 'female', 40.0, 0, 2,
        15.2458]], dtype=object), array([[1, 3, 'Miss. Anna Sofia Nysten', 'female', 22.0, 0, 0, 7.75]],
      dtype=object), array([[1, 3, 'Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen',
        'female', 24.0, 1, 0, 15.85]], dtype=object), array([[0, 3, 'Mr. Jeremiah Burke', 'male', 19.0, 0, 0, 6.75]],
      dtype=object), array([[0, 2, 'Mr. Edgardo Samuel Andrew', 'male', 18.0, 0, 0, 11.5]],
      dtype=object), array([[0, 2, 'Mr. Joseph Charles Nicholls', 'male', 19.0, 1, 1, 36.75]],
      dtype=object), array([[1, 3, 'Mr. August Edvard Andersson', 'male', 27.0, 0, 0, 7.7958]],
      dtype=object), array([[0, 3, 'Miss. Robina Maggie Ford', 'female', 9.0, 2, 2, 34.375]],
      dtype=object), array([[0, 2, 'Mr. Michel Navratil', 'male', 36.5, 0, 2, 26.0]],
      dtype=object), array([[0, 2, 'Rev. Thomas Roussel Davids Byles', 'male', 42.0, 0, 0,
        13.0]], dtype=object), array([[0, 2, 'Rev. Robert James Bateman', 'male', 51.0, 0, 0, 12.525]],
      dtype=object), array([[1, 1, 'Mrs. Thomas (Edith Wearne) Pears', 'female', 22.0, 1, 0,
        66.6]], dtype=object), array([[0, 3, 'Mr. Alfonzo Meo', 'male', 55.5, 0, 0, 8.05]], dtype=object), array([[0, 3, 'Mr. Austin Blyler van Billiard', 'male', 40.5, 0, 2, 14.5]],
      dtype=object), array([[0, 3, 'Mr. Ole Martin Olsen', 'male', 27.0, 0, 0, 7.3125]],
      dtype=object), array([[0, 1, 'Mr. Charles Duane Williams', 'male', 51.0, 0, 1, 61.3792]],
      dtype=object), array([[1, 3, 'Miss. Katherine Gilnagh', 'female', 16.0, 0, 0, 7.7333]],
      dtype=object), array([[0, 3, 'Mr. Harry Corn', 'male', 30.0, 0, 0, 8.05]], dtype=object), array([[0, 3, 'Mr. Mile Smiljanic', 'male', 37.0, 0, 0, 8.6625]],
      dtype=object), array([[0, 3, 'Master. Thomas Henry Sage', 'male', 5.0, 8, 2, 69.55]],
      dtype=object), array([[0, 3, 'Mr. John Hatfield Cribb', 'male', 44.0, 0, 1, 16.1]],
      dtype=object), array([[1, 2, 'Mrs. James (Elizabeth Inglis Milne) Watt', 'female', 40.0,
        0, 0, 15.75]], dtype=object), array([[0, 3, 'Mr. John Viktor Bengtsson', 'male', 26.0, 0, 0, 7.775]],
      dtype=object), array([[0, 3, 'Mr. Jovo Calic', 'male', 17.0, 0, 0, 8.6625]], dtype=object), array([[0, 3, 'Master. Eino Viljami Panula', 'male', 1.0, 4, 1, 39.6875]],
      dtype=object), array([[1, 3, 'Master. Frank John William Goldsmith', 'male', 9.0, 0, 2,
        20.525]], dtype=object), array([[1, 1, 'Mrs. (Edith Martha Bowerman) Chibnall', 'female', 48.0, 0,
        1, 55.0]], dtype=object), array([[0, 3, 'Mrs. William (Anna Bernhardina Karlsson) Skoog', 'female',
        45.0, 1, 4, 27.9]], dtype=object), array([[0, 1, 'Mr. John D Baumann', 'male', 60.0, 0, 0, 25.925]],
      dtype=object), array([[0, 3, 'Mr. Lee Ling', 'male', 28.0, 0, 0, 56.4958]], dtype=object), array([[0, 1, 'Mr. Wyckoff Van der hoef', 'male', 61.0, 0, 0, 33.5]],
      dtype=object), array([[0, 3, 'Master. Arthur Rice', 'male', 4.0, 4, 1, 29.125]],
      dtype=object), array([[1, 3, 'Miss. Eleanor Ileen Johnson', 'female', 1.0, 1, 1,
        11.1333]], dtype=object), array([[0, 3, 'Mr. Antti Wilhelm Sivola', 'male', 21.0, 0, 0, 7.925]],
      dtype=object), array([[0, 1, 'Mr. James Clinch Smith', 'male', 56.0, 0, 0, 30.6958]],
      dtype=object), array([[0, 3, 'Mr. Klas Albin Klasen', 'male', 18.0, 1, 1, 7.8542]],
      dtype=object), array([[0, 3, 'Master. Henry Forbes Lefebre', 'male', 5.0, 3, 1, 25.4667]],
      dtype=object), array([[0, 1, 'Miss. Ann Elizabeth Isham', 'female', 50.0, 0, 0, 28.7125]],
      dtype=object), array([[0, 2, 'Mr. Reginald Hale', 'male', 30.0, 0, 0, 13.0]],
      dtype=object), array([[0, 3, 'Mr. Lionel Leonard', 'male', 36.0, 0, 0, 0.0]],
      dtype=object), array([[0, 3, 'Miss. Constance Gladys Sage', 'female', 8.0, 8, 2, 69.55]],
      dtype=object), array([[0, 2, 'Mr. Rene Pernot', 'male', 39.0, 0, 0, 15.05]], dtype=object), array([[0, 3, 'Master. Clarence Gustaf Hugo Asplund', 'male', 9.0, 4, 2,
        31.3875]], dtype=object), array([[1, 2, 'Master. Richard F Becker', 'male', 1.0, 2, 1, 39.0]],
      dtype=object), array([[1, 3, 'Miss. Luise Gretchen Kink-Heilmann', 'female', 4.0, 0, 2,
        22.025]], dtype=object), array([[0, 1, 'Mr. Hugh Roscoe Rood', 'male', 39.0, 0, 0, 50.0]],
      dtype=object), array([[1, 3, "Mrs. Thomas (Johanna Godfrey) O'Brien", 'female', 26.0, 1,
        0, 15.5]], dtype=object), array([[1, 1, 'Mr. Charles Hallace Romaine', 'male', 45.0, 0, 0, 26.55]],
      dtype=object), array([[0, 3, 'Mr. John Bourke', 'male', 40.0, 1, 1, 15.5]], dtype=object), array([[0, 3, 'Mr. Stjepan Turcin', 'male', 36.0, 0, 0, 7.8958]],
      dtype=object), array([[1, 2, 'Mrs. (Rosa) Pinsky', 'female', 32.0, 0, 0, 13.0]],
      dtype=object), array([[0, 2, 'Mr. William Carbines', 'male', 19.0, 0, 0, 13.0]],
      dtype=object), array([[1, 3, 'Miss. Carla Christine Nielsine Andersen-Jensen', 'female',
        19.0, 1, 0, 7.8542]], dtype=object), array([[1, 2, 'Master. Michel M Navratil', 'male', 3.0, 1, 1, 26.0]],
      dtype=object), array([[1, 1, 'Mrs. James Joseph (Margaret Tobin) Brown', 'female', 44.0,
        0, 0, 27.7208]], dtype=object), array([[1, 1, 'Miss. Elise Lurette', 'female', 58.0, 0, 0, 146.5208]],
      dtype=object), array([[0, 3, 'Mr. Robert Mernagh', 'male', 28.0, 0, 0, 7.75]],
      dtype=object), array([[0, 3, 'Mr. Karl Siegwart Andreas Olsen', 'male', 42.0, 0, 1,
        8.4042]], dtype=object), array([[1, 3, 'Miss. Margaret Madigan', 'female', 21.0, 0, 0, 7.75]],
      dtype=object), array([[0, 2, 'Miss. Henriette Yrois', 'female', 24.0, 0, 0, 13.0]],
      dtype=object), array([[0, 3, 'Mr. Nestor Cyriel Vande Walle', 'male', 28.0, 0, 0, 9.5]],
      dtype=object), array([[0, 3, 'Mr. Frederick Sage', 'male', 17.0, 8, 2, 69.55]],
      dtype=object), array([[0, 3, 'Mr. Jakob Alfred Johanson', 'male', 34.0, 0, 0, 6.4958]],
      dtype=object), array([[0, 3, 'Mr. Gerious Youseff', 'male', 45.5, 0, 0, 7.225]],
      dtype=object), array([[1, 3, 'Mr. Gurshon Cohen', 'male', 18.0, 0, 0, 8.05]],
      dtype=object), array([[0, 3, 'Miss. Telma Matilda Strom', 'female', 2.0, 0, 1, 10.4625]],
      dtype=object), array([[0, 3, 'Mr. Karl Alfred Backstrom', 'male', 32.0, 1, 0, 15.85]],
      dtype=object), array([[1, 3, 'Mr. Nassef Cassem Albimona', 'male', 26.0, 0, 0, 18.7875]],
      dtype=object), array([[1, 3, 'Miss. Helen Carr', 'female', 16.0, 0, 0, 7.75]],
      dtype=object), array([[1, 1, 'Mr. Henry Blank', 'male', 40.0, 0, 0, 31.0]], dtype=object), array([[0, 3, 'Mr. Ahmed Ali', 'male', 24.0, 0, 0, 7.05]], dtype=object), array([[1, 2, 'Miss. Clear Annie Cameron', 'female', 35.0, 0, 0, 21.0]],
      dtype=object), array([[0, 3, 'Mr. John Henry Perkin', 'male', 22.0, 0, 0, 7.25]],

##Explore new table on PostgreSQL

In [0]:
pg_curs = pg_conn.cursor()
pg_curs.execute('SELECT * FROM titanic')
titanic_pg = pg_curs.fetchall()

In [0]:
pg_curs.execute("""SELECT table_name FROM information_schema.tables
      WHERE table_schema = 'public'""")
for table in pg_curs.fetchall():
   print(table)

('test_table',)
('titanic',)
('charactercreator_character',)
('pg_stat_statements',)

In [0]:
pg_curs.execute('SELECT * FROM titanic;')

In [0]:
titanic_sql = pg_curs.fetchall()

In [0]:
for titanic_sql_row, titanic_row in zip(titanic_sql, titanic_df):
#   print(titanic_row)
  assert titanic_sql_row == titanic_row

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until

AssertionError: ignored

In [0]:
for index, row in titanic.iterrows():
  print(row)

In [0]:
titanic_df

KeyboardInterrupt: ignored

In [0]:
titanic_sql

[(0, 0, 3, 'Mr. Owen Harris Braund', 'male', 22.0, 1, 0, 7.25),
 (1,
  1,
  1,
  'Mrs. John Bradley (Florence Briggs Thayer) Cumings',
  'female',
  38.0,
  1,
  0,
  71.2833),
 (2, 1, 3, 'Miss. Laina Heikkinen', 'female', 26.0, 0, 0, 7.925),
 (3,
  1,
  1,
  'Mrs. Jacques Heath (Lily May Peel) Futrelle',
  'female',
  35.0,
  1,
  0,
  53.1),
 (4, 0, 3, 'Mr. William Henry Allen', 'male', 35.0, 0, 0, 8.05),
 (5, 0, 3, 'Mr. James Moran', 'male', 27.0, 0, 0, 8.4583),
 (6, 0, 1, 'Mr. Timothy J McCarthy', 'male', 54.0, 0, 0, 51.8625),
 (7, 0, 3, 'Master. Gosta Leonard Palsson', 'male', 2.0, 3, 1, 21.075),
 (8,
  1,
  3,
  'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
  'female',
  27.0,
  0,
  2,
  11.1333),
 (9,
  1,
  2,
  'Mrs. Nicholas (Adele Achem) Nasser',
  'female',
  14.0,
  1,
  0,
  30.0708),
 (10, 1, 3, 'Miss. Marguerite Rut Sandstrom', 'female', 4.0, 1, 1, 16.7),
 (11, 1, 1, 'Miss. Elizabeth Bonnell', 'female', 58.0, 0, 0, 26.55),
 (12, 0, 3, 'Mr. William Henry Saundercock', 'male', 20.0, 0, 0, 8.05),
 (13, 0, 3, 'Mr. Anders Johan Andersson', 'male', 39.0, 1, 5, 31.275),
 (14,
  0,
  3,
  'Miss. Hulda Amanda Adolfina Vestrom',
  'female',
  14.0,
  0,
  0,
  7.8542),
 (15, 1, 2, 'Mrs. (Mary D Kingcome) Hewlett', 'female', 55.0, 0, 0, 16.0),
 (16, 0, 3, 'Master. Eugene Rice', 'male', 2.0, 4, 1, 29.125),
 (17, 1, 2, 'Mr. Charles Eugene Williams', 'male', 23.0, 0, 0, 13.0),
 (18,
  0,
  3,
  'Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke',
  'female',
  31.0,
  1,
  0,
  18.0),
 (19, 1, 3, 'Mrs. Fatima Masselmani', 'female', 22.0, 0, 0, 7.225),
 (20, 0, 2, 'Mr. Joseph J Fynney', 'male', 35.0, 0, 0, 26.0),
 (21, 1, 2, 'Mr. Lawrence Beesley', 'male', 34.0, 0, 0, 13.0),
 (22, 1, 3, 'Miss. Anna McGowan', 'female', 15.0, 0, 0, 8.0292),
 (23, 1, 1, 'Mr. William Thompson Sloper', 'male', 28.0, 0, 0, 35.5),
 (24, 0, 3, 'Miss. Torborg Danira Palsson', 'female', 8.0, 3, 1, 21.075),
 (25,
  1,
  3,
  'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund',
  'female',
  38.0,
  1,
  5,
  31.3875),
 (26, 0, 3, 'Mr. Farred Chehab Emir', 'male', 26.0, 0, 0, 7.225),
 (27, 0, 1, 'Mr. Charles Alexander Fortune', 'male', 19.0, 3, 2, 263.0),
 (28, 1, 3, "Miss. Ellen O'Dwyer", 'female', 24.0, 0, 0, 7.8792),
 (29, 0, 3, 'Mr. Lalio Todoroff', 'male', 23.0, 0, 0, 7.8958),
 (30, 0, 1, 'Don. Manuel E Uruchurtu', 'male', 40.0, 0, 0, 27.7208),
 (31,
  1,
  1,
  'Mrs. William Augustus (Marie Eugenie) Spencer',
  'female',
  48.0,
  1,
  0,
  146.5208),
 (32, 1, 3, 'Miss. Mary Agatha Glynn', 'female', 18.0, 0, 0, 7.75),
 (33, 0, 2, 'Mr. Edward H Wheadon', 'male', 66.0, 0, 0, 10.5),
 (34, 0, 1, 'Mr. Edgar Joseph Meyer', 'male', 28.0, 1, 0, 82.1708),
 (35, 0, 1, 'Mr. Alexander Oskar Holverson', 'male', 42.0, 1, 0, 52.0),
 (36, 1, 3, 'Mr. Hanna Mamee', 'male', 18.0, 0, 0, 7.2292),
 (37, 0, 3, 'Mr. Ernest Charles Cann', 'male', 21.0, 0, 0, 8.05),
 (38, 0, 3, 'Miss. Augusta Maria Vander Planke', 'female', 18.0, 2, 0, 18.0),
 (39, 1, 3, 'Miss. Jamila Nicola-Yarred', 'female', 14.0, 1, 0, 11.2417),
 (40,
  0,
  3,
  'Mrs. Johan (Johanna Persdotter Larsson) Ahlin',
  'female',
  40.0,
  1,
  0,
  9.475),
 (41,
  0,
  2,
  'Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin',
  'female',
  27.0,
  1,
  0,
  21.0),
 (42,
  1,
  2,
  'Miss. Simonne Marie Anne Andree Laroche',
  'female',
  3.0,
  1,
  2,
  41.5792),
 (43, 1, 3, 'Miss. Margaret Delia Devaney', 'female', 19.0, 0, 0, 7.8792),
 (44, 0, 3, 'Mr. William John Rogers', 'male', 30.0, 0, 0, 8.05),
 (45, 0, 3, 'Mr. Denis Lennon', 'male', 20.0, 1, 0, 15.5),
 (46, 1, 3, "Miss. Bridget O'Driscoll", 'female', 27.0, 0, 0, 7.75),
 (47, 0, 3, 'Mr. Youssef Samaan', 'male', 16.0, 2, 0, 21.6792),
 (48,
  0,
  3,
  'Mrs. Josef (Josefine Franchi) Arnold-Franchi',
  'female',
  18.0,
  1,
  0,
  17.8),
 (49, 0, 3, 'Master. Juha Niilo Panula', 'male', 7.0, 4, 1, 39.6875),
 (50, 0, 3, 'Mr. Richard Cater Nosworthy', 'male', 21.0, 0, 0, 7.8),
 (51,
  1,
  1,
  'Mrs. Henry Sleeper (Myna Haxtun) Harper',
  'female',
  49.0,
  1,
  0,
  76.7292),
 (52,
  1,
  2,
  'Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe',
  'female',
  29.0,
  1,
  0,
  26.0),
 (53, 0, 1, 'Mr. Engelhart Cornelius Ostby', 'male', 65.0, 0, 1, 61.9792),
 (54, 1, 1, 'Mr. Hugh Woolner', 'male', 46.0, 0, 0, 35.5),
 (55, 1, 2, 'Miss. Emily Rugg', 'female', 21.0, 0, 0, 10.5),
 (56, 0, 3, 'Mr. Mansouer Novel', 'male', 28.5, 0, 0, 7.2292),
 (57, 1, 2, 'Miss. Constance Mirium West', 'female', 5.0, 1, 2, 27.75),
 (58, 0, 3, 'Master. William Frederick Goodwin', 'male', 11.0, 5, 2, 46.9),
 (59, 0, 3, 'Mr. Orsen Sirayanian', 'male', 22.0, 0, 0, 7.2292),
 (60, 1, 1, 'Miss. Amelie Icard', 'female', 38.0, 0, 0, 80.0),
 (61, 0, 1, 'Mr. Henry Birkhardt Harris', 'male', 45.0, 1, 0, 83.475),
 (62, 0, 3, 'Master. Harald Skoog', 'male', 4.0, 3, 2, 27.9),
 (63, 0, 1, 'Mr. Albert A Stewart', 'male', 64.0, 0, 0, 27.7208),
 (64, 1, 3, 'Master. Gerios Moubarek', 'male', 7.0, 1, 1, 15.2458),
 (65, 1, 2, 'Mrs. (Elizabeth Ramell) Nye', 'female', 29.0, 0, 0, 10.5),
 (66, 0, 3, 'Mr. Ernest James Crease', 'male', 19.0, 0, 0, 8.1583),
 (67, 1, 3, 'Miss. Erna Alexandra Andersson', 'female', 17.0, 4, 2, 7.925),
 (68, 0, 3, 'Mr. Vincenz Kink', 'male', 26.0, 2, 0, 8.6625),
 (69, 0, 2, 'Mr. Stephen Curnow Jenkin', 'male', 32.0, 0, 0, 10.5),
 (70, 0, 3, 'Miss. Lillian Amy Goodwin', 'female', 16.0, 5, 2, 46.9),
 (71, 0, 2, 'Mr. Ambrose Jr Hood', 'male', 21.0, 0, 0, 73.5),
 (72, 0, 3, 'Mr. Apostolos Chronopoulos', 'male', 26.0, 1, 0, 14.4542),
 (73, 1, 3, 'Mr. Lee Bing', 'male', 32.0, 0, 0, 56.4958),
 (74, 0, 3, 'Mr. Sigurd Hansen Moen', 'male', 25.0, 0, 0, 7.65),
 (75, 0, 3, 'Mr. Ivan Staneff', 'male', 23.0, 0, 0, 7.8958),
 (76, 0, 3, 'Mr. Rahamin Haim Moutal', 'male', 28.0, 0, 0, 8.05),
 (77, 1, 2, 'Master. Alden Gates Caldwell', 'male', 0.83, 0, 2, 29.0),
 (78, 1, 3, 'Miss. Elizabeth Dowdell', 'female', 30.0, 0, 0, 12.475),
 (79, 0, 3, 'Mr. Achille Waelens', 'male', 22.0, 0, 0, 9.0),
 (80, 1, 3, 'Mr. Jan Baptist Sheerlinck', 'male', 29.0, 0, 0, 9.5),
 (81, 1, 3, 'Miss. Brigdet Delia McDermott', 'female', 31.0, 0, 0, 7.7875),
 (82, 0, 1, 'Mr. Francisco M Carrau', 'male', 28.0, 0, 0, 47.1),
 (83, 1, 2, 'Miss. Bertha Ilett', 'female', 17.0, 0, 0, 10.5),
 (84,
  1,
  3,
  'Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom',
  'female',
  33.0,
  3,
  0,
  15.85),
 (85, 0, 3, 'Mr. William Neal Ford', 'male', 16.0, 1, 3, 34.375),
 (86, 0, 3, 'Mr. Selman Francis Slocovski', 'male', 20.0, 0, 0, 8.05),
 (87, 1, 1, 'Miss. Mabel Helen Fortune', 'female', 23.0, 3, 2, 263.0),
 (88, 0, 3, 'Mr. Francesco Celotti', 'male', 24.0, 0, 0, 8.05),
 (89, 0, 3, 'Mr. Emil Christmann', 'male', 29.0, 0, 0, 8.05),
 (90, 0, 3, 'Mr. Paul Edvin Andreasson', 'male', 20.0, 0, 0, 7.8542),
 (91, 0, 1, 'Mr. Herbert Fuller Chaffee', 'male', 46.0, 1, 0, 61.175),
 (92, 0, 3, 'Mr. Bertram Frank Dean', 'male', 26.0, 1, 2, 20.575),
 (93, 0, 3, 'Mr. Daniel Coxon', 'male', 59.0, 0, 0, 7.25),
 (94, 0, 3, 'Mr. Charles Joseph Shorney', 'male', 22.0, 0, 0, 8.05),
 (95, 0, 1, 'Mr. George B Goldschmidt', 'male', 71.0, 0, 0, 34.6542),
 (96, 1, 1, 'Mr. William Bertram Greenfield', 'male', 23.0, 0, 1, 63.3583),
 (97, 1, 2, 'Mrs. John T (Ada Julia Bone) Doling', 'female', 34.0, 0, 1, 23.0),
 (98, 0, 2, 'Mr. Sinai Kantor', 'male', 34.0, 1, 0, 26.0),
 (99, 0, 3, 'Miss. Matilda Petranec', 'female', 28.0, 0, 0, 7.8958),
 (100, 0, 3, 'Mr. Pastcho Petroff', 'male', 29.0, 0, 0, 7.8958),
 (101, 0, 1, 'Mr. Richard Frasar White', 'male', 21.0, 0, 1, 77.2875),
 (102, 0, 3, 'Mr. Gustaf Joel Johansson', 'male', 33.0, 0, 0, 8.6542),
 (103, 0, 3, 'Mr. Anders Vilhelm Gustafsson', 'male', 37.0, 2, 0, 7.925),
 (104, 0, 3, 'Mr. Stoytcho Mionoff', 'male', 28.0, 0, 0, 7.8958),
 (105, 1, 3, 'Miss. Anna Kristine Salkjelsvik', 'female', 21.0, 0, 0, 7.65),
 (106, 1, 3, 'Mr. Albert Johan Moss', 'male', 29.0, 0, 0, 7.775),
 (107, 0, 3, 'Mr. Tido Rekic', 'male', 38.0, 0, 0, 7.8958),
 (108, 1, 3, 'Miss. Bertha Moran', 'female', 28.0, 1, 0, 24.15),
 (109, 0, 1, 'Mr. Walter Chamberlain Porter', 'male', 47.0, 0, 0, 52.0),
 (110, 0, 3, 'Miss. Hileni Zabour', 'female', 14.5, 1, 0, 14.4542),
 (111, 0, 3, 'Mr. David John Barton', 'male', 22.0, 0, 0, 8.05),
 (112, 0, 3, 'Miss. Katriina Jussila', 'female', 20.0, 1, 0, 9.825),
 (113, 0, 3, 'Miss. Malake Attalah', 'female', 17.0, 0, 0, 14.4583),
 (114, 0, 3, 'Mr. Edvard Pekoniemi', 'male', 21.0, 0, 0, 7.925),
 (115, 0, 3, 'Mr. Patrick Connors', 'male', 70.5, 0, 0, 7.75),
 (116, 0, 2, 'Mr. William John Robert Turpin', 'male', 29.0, 1, 0, 21.0),
 (117, 0, 1, 'Mr. Quigg Edmond Baxter', 'male', 24.0, 0, 1, 247.5208),
 (118, 0, 3, 'Miss. Ellis Anna Maria Andersson', 'female', 2.0, 4, 2, 31.275),
 (119, 0, 2, 'Mr. Stanley George Hickman', 'male', 21.0, 2, 0, 73.5),
 (120, 0, 3, 'Mr. Leonard Charles Moore', 'male', 19.0, 0, 0, 8.05),
 (121, 0, 2, 'Mr. Nicholas Nasser', 'male', 32.5, 1, 0, 30.0708),
 (122, 1, 2, 'Miss. Susan Webber', 'female', 32.5, 0, 0, 13.0),
 (123, 0, 1, 'Mr. Percival Wayland White', 'male', 54.0, 0, 1, 77.2875),
 (124, 1, 3, 'Master. Elias Nicola-Yarred', 'male', 12.0, 1, 0, 11.2417),
 (125, 0, 3, 'Mr. Martin McMahon', 'male', 19.0, 0, 0, 7.75),
 (126, 1, 3, 'Mr. Fridtjof Arne Madsen', 'male', 24.0, 0, 0, 7.1417),
 (127, 1, 3, 'Miss. Anna Peter', 'female', 2.0, 1, 1, 22.3583),
 (128, 0, 3, 'Mr. Johan Ekstrom', 'male', 45.0, 0, 0, 6.975),
 (129, 0, 3, 'Mr. Jozef Drazenoic', 'male', 33.0, 0, 0, 7.8958),
 (130, 0, 3, 'Mr. Domingos Fernandeo Coelho', 'male', 20.0, 0, 0, 7.05),
 (131,
  0,
  3,
  'Mrs. Alexander A (Grace Charity Laury) Robins',
  'female',
  47.0,
  1,
  0,
  14.5),
 (132,
  1,
  2,
  'Mrs. Leopold (Mathilde Francoise Pede) Weisz',
  'female',
  29.0,
  1,
  0,
  26.0),
 (133, 0, 2, 'Mr. Samuel James Hayden Sobey', 'male', 25.0, 0, 0, 13.0),
 (134, 0, 2, 'Mr. Emile Richard', 'male', 23.0, 0, 0, 15.0458),
 (135, 1, 1, 'Miss. Helen Monypeny Newsom', 'female', 19.0, 0, 2, 26.2833),
 (136, 0, 1, 'Mr. Jacques Heath Futrelle', 'male', 37.0, 1, 0, 53.1),
 (137, 0, 3, 'Mr. Olaf Elon Osen', 'male', 16.0, 0, 0, 9.2167),
 (138, 0, 1, 'Mr. Victor Giglio', 'male', 24.0, 0, 0, 79.2),
 (139, 0, 3, 'Mrs. Joseph (Sultana) Boulos', 'female', 40.0, 0, 2, 15.2458),
 (140, 1, 3, 'Miss. Anna Sofia Nysten', 'female', 22.0, 0, 0, 7.75),
 (141,
  1,
  3,
  'Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen',
  'female',
  24.0,
  1,
  0,
  15.85),
 (142, 0, 3, 'Mr. Jeremiah Burke', 'male', 19.0, 0, 0, 6.75),
 (143, 0, 2, 'Mr. Edgardo Samuel Andrew', 'male', 18.0, 0, 0, 11.5),
 (144, 0, 2, 'Mr. Joseph Charles Nicholls', 'male', 19.0, 1, 1, 36.75),
 (145, 1, 3, 'Mr. August Edvard Andersson', 'male', 27.0, 0, 0, 7.7958),
 (146, 0, 3, 'Miss. Robina Maggie Ford', 'female', 9.0, 2, 2, 34.375),
 (147, 0, 2, 'Mr. Michel Navratil', 'male', 36.5, 0, 2, 26.0),
 (148, 0, 2, 'Rev. Thomas Roussel Davids Byles', 'male', 42.0, 0, 0, 13.0),
 (149, 0, 2, 'Rev. Robert James Bateman', 'male', 51.0, 0, 0, 12.525),
 (150, 1, 1, 'Mrs. Thomas (Edith Wearne) Pears', 'female', 22.0, 1, 0, 66.6),
 (151, 0, 3, 'Mr. Alfonzo Meo', 'male', 55.5, 0, 0, 8.05),
 (152, 0, 3, 'Mr. Austin Blyler van Billiard', 'male', 40.5, 0, 2, 14.5),
 (153, 0, 3, 'Mr. Ole Martin Olsen', 'male', 27.0, 0, 0, 7.3125),
 (154, 0, 1, 'Mr. Charles Duane Williams', 'male', 51.0, 0, 1, 61.3792),
 (155, 1, 3, 'Miss. Katherine Gilnagh', 'female', 16.0, 0, 0, 7.7333),
 (156, 0, 3, 'Mr. Harry Corn', 'male', 30.0, 0, 0, 8.05),
 (157, 0, 3, 'Mr. Mile Smiljanic', 'male', 37.0, 0, 0, 8.6625),
 (158, 0, 3, 'Master. Thomas Henry Sage', 'male', 5.0, 8, 2, 69.55),
 (159, 0, 3, 'Mr. John Hatfield Cribb', 'male', 44.0, 0, 1, 16.1),
 (160,
  1,
  2,
  'Mrs. James (Elizabeth Inglis Milne) Watt',
  'female',
  40.0,
  0,
  0,
  15.75),
 (161, 0, 3, 'Mr. John Viktor Bengtsson', 'male', 26.0, 0, 0, 7.775),
 (162, 0, 3, 'Mr. Jovo Calic', 'male', 17.0, 0, 0, 8.6625),
 (163, 0, 3, 'Master. Eino Viljami Panula', 'male', 1.0, 4, 1, 39.6875),
 (164,
  1,
  3,
  'Master. Frank John William Goldsmith',
  'male',
  9.0,
  0,
  2,
  20.525),
 (165,
  1,
  1,
  'Mrs. (Edith Martha Bowerman) Chibnall',
  'female',
  48.0,
  0,
  1,
  55.0),
 (166,
  0,
  3,
  'Mrs. William (Anna Bernhardina Karlsson) Skoog',
  'female',
  45.0,
  1,
  4,
  27.9),
 (167, 0, 1, 'Mr. John D Baumann', 'male', 60.0, 0, 0, 25.925),
 (168, 0, 3, 'Mr. Lee Ling', 'male', 28.0, 0, 0, 56.4958),
 (169, 0, 1, 'Mr. Wyckoff Van der hoef', 'male', 61.0, 0, 0, 33.5),
 (170, 0, 3, 'Master. Arthur Rice', 'male', 4.0, 4, 1, 29.125),
 (171, 1, 3, 'Miss. Eleanor Ileen Johnson', 'female', 1.0, 1, 1, 11.1333),
 (172, 0, 3, 'Mr. Antti Wilhelm Sivola', 'male', 21.0, 0, 0, 7.925),
 (173, 0, 1, 'Mr. James Clinch Smith', 'male', 56.0, 0, 0, 30.6958),
 (174, 0, 3, 'Mr. Klas Albin Klasen', 'male', 18.0, 1, 1, 7.8542),
 (175, 0, 3, 'Master. Henry Forbes Lefebre', 'male', 5.0, 3, 1, 25.4667),
 (176, 0, 1, 'Miss. Ann Elizabeth Isham', 'female', 50.0, 0, 0, 28.7125),
 (177, 0, 2, 'Mr. Reginald Hale', 'male', 30.0, 0, 0, 13.0),
 (178, 0, 3, 'Mr. Lionel Leonard', 'male', 36.0, 0, 0, 0.0),
 (179, 0, 3, 'Miss. Constance Gladys Sage', 'female', 8.0, 8, 2, 69.55),
 (180, 0, 2, 'Mr. Rene Pernot', 'male', 39.0, 0, 0, 15.05),
 (181,
  0,
  3,
  'Master. Clarence Gustaf Hugo Asplund',
  'male',
  9.0,
  4,
  2,
  31.3875),
 (182, 1, 2, 'Master. Richard F Becker', 'male', 1.0, 2, 1, 39.0),
 (183,
  1,
  3,
  'Miss. Luise Gretchen Kink-Heilmann',
  'female',
  4.0,
  0,
  2,
  22.025),
 (184, 0, 1, 'Mr. Hugh Roscoe Rood', 'male', 39.0, 0, 0, 50.0),
 (185,
  1,
  3,
  "Mrs. Thomas (Johanna Godfrey) O'Brien",
  'female',
  26.0,
  1,
  0,
  15.5),
 (186, 1, 1, 'Mr. Charles Hallace Romaine', 'male', 45.0, 0, 0, 26.55),
 (187, 0, 3, 'Mr. John Bourke', 'male', 40.0, 1, 1, 15.5),
 (188, 0, 3, 'Mr. Stjepan Turcin', 'male', 36.0, 0, 0, 7.8958),
 (189, 1, 2, 'Mrs. (Rosa) Pinsky', 'female', 32.0, 0, 0, 13.0),
 (190, 0, 2, 'Mr. William Carbines', 'male', 19.0, 0, 0, 13.0),
 (191,
  1,
  3,
  'Miss. Carla Christine Nielsine Andersen-Jensen',
  'female',
  19.0,
  1,
  0,
  7.8542),
 (192, 1, 2, 'Master. Michel M Navratil', 'male', 3.0, 1, 1, 26.0),
 (193,
  1,
  1,
  'Mrs. James Joseph (Margaret Tobin) Brown',
  'female',
  44.0,
  0,
  0,
  27.7208),
 (194, 1, 1, 'Miss. Elise Lurette', 'female', 58.0, 0, 0, 146.5208),
 (195, 0, 3, 'Mr. Robert Mernagh', 'male', 28.0, 0, 0, 7.75),
 (196, 0, 3, 'Mr. Karl Siegwart Andreas Olsen', 'male', 42.0, 0, 1, 8.4042),
 (197, 1, 3, 'Miss. Margaret Madigan', 'female', 21.0, 0, 0, 7.75),
 (198, 0, 2, 'Miss. Henriette Yrois', 'female', 24.0, 0, 0, 13.0),
 (199, 0, 3, 'Mr. Nestor Cyriel Vande Walle', 'male', 28.0, 0, 0, 9.5),
 (200, 0, 3, 'Mr. Frederick Sage', 'male', 17.0, 8, 2, 69.55),
 (201, 0, 3, 'Mr. Jakob Alfred Johanson', 'male', 34.0, 0, 0, 6.4958),
 (202, 0, 3, 'Mr. Gerious Youseff', 'male', 45.5, 0, 0, 7.225),
 (203, 1, 3, 'Mr. Gurshon Cohen', 'male', 18.0, 0, 0, 8.05),
 (204, 0, 3, 'Miss. Telma Matilda Strom', 'female', 2.0, 0, 1, 10.4625),
 (205, 0, 3, 'Mr. Karl Alfred Backstrom', 'male', 32.0, 1, 0, 15.85),
 (206, 1, 3, 'Mr. Nassef Cassem Albimona', 'male', 26.0, 0, 0, 18.7875),
 (207, 1, 3, 'Miss. Helen Carr', 'female', 16.0, 0, 0, 7.75),
 (208, 1, 1, 'Mr. Henry Blank', 'male', 40.0, 0, 0, 31.0),
 (209, 0, 3, 'Mr. Ahmed Ali', 'male', 24.0, 0, 0, 7.05),
 (210, 1, 2, 'Miss. Clear Annie Cameron', 'female', 35.0, 0, 0, 21.0),
 (211, 0, 3, 'Mr. John Henry Perkin', 'male', 22.0, 0, 0, 7.25),
 (212, 0, 2, 'Mr. Hans Kristensen Givard', 'male', 30.0, 0, 0, 13.0),
 (213, 0, 3, 'Mr. Philip Kiernan', 'male', 22.0, 1, 0, 7.75),
 (214, 1, 1, 'Miss. Madeleine Newell', 'female', 31.0, 1, 0, 113.275),
 (215, 1, 3, 'Miss. Eliina Honkanen', 'female', 27.0, 0, 0, 7.925),
 (216, 0, 2, 'Mr. Sidney Samuel Jacobsohn', 'male', 42.0, 1, 0, 27.0),
 (217, 1, 1, 'Miss. Albina Bazzani', 'female', 32.0, 0, 0, 76.2917),
 (218, 0, 2, 'Mr. Walter Harris', 'male', 30.0, 0, 0, 10.5),
 (219, 1, 3, 'Mr. Victor Francis Sunderland', 'male', 16.0, 0, 0, 8.05),
 (220, 0, 2, 'Mr. James H Bracken', 'male', 27.0, 0, 0, 13.0),
 (221, 0, 3, 'Mr. George Henry Green', 'male', 51.0, 0, 0, 8.05),
 (222, 0, 3, 'Mr. Christo Nenkoff', 'male', 22.0, 0, 0, 7.8958),
 (223, 1, 1, 'Mr. Frederick Maxfield Hoyt', 'male', 38.0, 1, 0, 90.0),
 (224, 0, 3, 'Mr. Karl Ivar Sven Berglund', 'male', 22.0, 0, 0, 9.35),
 (225, 1, 2, 'Mr. William John Mellors', 'male', 19.0, 0, 0, 10.5),
 (226, 0, 3, 'Mr. John Hall Lovell', 'male', 20.5, 0, 0, 7.25),
 (227, 0, 2, 'Mr. Arne Jonas Fahlstrom', 'male', 18.0, 0, 0, 13.0),
 (228, 0, 3, 'Miss. Mathilde Lefebre', 'female', 12.0, 3, 1, 25.4667),
 (229,
  1,
  1,
  'Mrs. Henry Birkhardt (Irene Wallach) Harris',
  'female',
  35.0,
  1,
  0,
  83.475),
 (230, 0, 3, 'Mr. Bengt Edvin Larsson', 'male', 29.0, 0, 0, 7.775),
 (231, 0, 2, 'Mr. Ernst Adolf Sjostedt', 'male', 59.0, 0, 0, 13.5),
 (232, 1, 3, 'Miss. Lillian Gertrud Asplund', 'female', 5.0, 4, 2, 31.3875),
 (233, 0, 2, 'Mr. Robert William Norman Leyson', 'male', 24.0, 0, 0, 10.5),
 (234, 0, 3, 'Miss. Alice Phoebe Harknett', 'female', 21.0, 0, 0, 7.55),
 (235, 0, 2, 'Mr. Stephen Hold', 'male', 44.0, 1, 0, 26.0),
 (236, 1, 2, 'Miss. Marjorie Collyer', 'female', 8.0, 0, 2, 26.25),
 (237, 0, 2, 'Mr. Frederick William Pengelly', 'male', 19.0, 0, 0, 10.5),
 (238, 0, 2, 'Mr. George Henry Hunt', 'male', 33.0, 0, 0, 12.275),
 (239, 0, 3, 'Miss. Thamine Zabour', 'female', 19.0, 1, 0, 14.4542),
 (240, 1, 3, 'Miss. Katherine Murphy', 'female', 18.0, 1, 0, 15.5),
 (241, 0, 2, 'Mr. Reginald Charles Coleridge', 'male', 29.0, 0, 0, 10.5),
 (242, 0, 3, 'Mr. Matti Alexanteri Maenpaa', 'male', 22.0, 0, 0, 7.125),
 (243, 0, 3, 'Mr. Sleiman Attalah', 'male', 30.0, 0, 0, 7.225),
 (244, 0, 1, 'Dr. William Edward Minahan', 'male', 44.0, 2, 0, 90.0),
 (245,
  0,
  3,
  'Miss. Agda Thorilda Viktoria Lindahl',
  'female',
  25.0,
  0,
  0,
  7.775),
 (246, 1, 2, 'Mrs. William (Anna) Hamalainen', 'female', 24.0, 0, 2, 14.5),
 (247, 1, 1, 'Mr. Richard Leonard Beckwith', 'male', 37.0, 1, 1, 52.5542),
 (248, 0, 2, 'Rev. Ernest Courtenay Carter', 'male', 54.0, 1, 0, 26.0),
 (249, 0, 3, 'Mr. James George Reed', 'male', 18.0, 0, 0, 7.25),
 (250,
  0,
  3,
  'Mrs. Wilhelm (Elna Matilda Persson) Strom',
  'female',
  29.0,
  1,
  1,
  10.4625),
 (251, 0, 1, 'Mr. William Thomas Stead', 'male', 62.0, 0, 0, 26.55),
 (252, 0, 3, 'Mr. William Arthur Lobb', 'male', 30.0, 1, 0, 16.1),
 (253,
  0,
  3,
  'Mrs. Viktor (Helena Wilhelmina) Rosblom',
  'female',
  41.0,
  0,
  2,
  20.2125),
 (254,
  1,
  3,
  'Mrs. Darwis (Hanne Youssef Razi) Touma',
  'female',
  29.0,
  0,
  2,
  15.2458),
 (255, 1, 1, 'Mrs. Gertrude Maybelle Thorne', 'female', 38.0, 0, 0, 79.2),
 (256, 1, 1, 'Miss. Gladys Cherry', 'female', 30.0, 0, 0, 86.5),
 (257, 1, 1, 'Miss. Anna Ward', 'female', 35.0, 0, 0, 512.3292),
 (258, 1, 2, 'Mrs. (Lutie Davis) Parrish', 'female', 50.0, 0, 1, 26.0),
 (259, 1, 3, 'Master. Edvin Rojj Felix Asplund', 'male', 3.0, 4, 2, 31.3875),
 (260, 0, 1, 'Mr. Emil Taussig', 'male', 52.0, 1, 1, 79.65),
 (261, 0, 1, 'Mr. William Harrison', 'male', 40.0, 0, 0, 0.0),
 (262, 0, 3, 'Miss. Delia Henry', 'female', 21.0, 0, 0, 7.75),
 (263, 0, 2, 'Mr. David Reeves', 'male', 36.0, 0, 0, 10.5),
 (264, 0, 3, 'Mr. Ernesti Arvid Panula', 'male', 16.0, 4, 1, 39.6875),
 (265, 1, 3, 'Mr. Ernst Ulrik Persson', 'male', 25.0, 1, 0, 7.775),
 (266,
  1,
  1,
  'Mrs. William Thompson (Edith Junkins) Graham',
  'female',
  58.0,
  0,
  1,
  153.4625),
 (267, 1, 1, 'Miss. Amelia Bissette', 'female', 35.0, 0, 0, 135.6333),
 (268, 0, 1, 'Mr. Alexander Cairns', 'male', 28.0, 0, 0, 31.0),
 (269, 1, 3, 'Mr. William Henry Tornquist', 'male', 25.0, 0, 0, 0.0),
 (270,
  1,
  2,
  'Mrs. (Elizabeth Anne Maidment) Mellinger',
  'female',
  41.0,
  0,
  1,
  19.5),
 (271, 0, 1, 'Mr. Charles H Natsch', 'male', 37.0, 0, 1, 29.7),
 (272, 1, 3, 'Miss. Hanora Healy', 'female', 33.0, 0, 0, 7.75),
 (273,
  1,
  1,
  'Miss. Kornelia Theodosia Andrews',
  'female',
  63.0,
  1,
  0,
  77.9583),
 (274, 0, 3, 'Miss. Augusta Charlotta Lindblom', 'female', 45.0, 0, 0, 7.75),