<a href="https://colab.research.google.com/github/tbradshaw91/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/SQLMod1Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd
import sqlite3

In [0]:
# Establishing connection
connection = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [6]:
# Confirming number of rows and cols
buddy_df.shape

(249, 7)

In [8]:
# Confirming no nulls
buddy_df.isnull().sum().sum()

0

In [9]:
buddy_df.to_sql(name='review',con=connection, if_exists="append", index=False)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [0]:
connection.execute("SELECT * FROM review").fetchall()

In [11]:
# Although I have confirmed rows in Pandas, the assignment asks for SQL
query_1 = 'SELECT count() FROM review;'
print ('Rows:',connection.cursor().execute(query_1).fetchone()[0], '\n')

Rows: 249

In [0]:
# Creating a DF with SQL 
df = pd.read_sql("SELECT * FROM review", connection)

In [14]:
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [15]:
df.loc[(df['Nature'] >= 100) & (df['Shopping'] >= 100)]

      User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
52    User 53       4         79     103       68       103      85
54    User 55       8         94     140       89       118      92
61    User 62       8         94     128       89       128      99
63    User 64       6         84     108      138       103      79
65    User 66       6         89     108      128       116      81
91    User 92       8         94     133       84       125      97
109  User 110      12        123     124      109       114     168
110  User 111      12         94     133      157       133      95
111  User 112      12        104     123      163       128      89
113  User 114      14        113     148       99       148     110
115  User 116      12        133     104      119       129     133
118  User 119      12        123     124      109       129     143
119  User 120      12         94     137      148       113     100
124  User 125      12        108     113      133       114     100
125  User 126      14        138     119      119       124     158
126  User 127      12        128     122      134       109     120
128  User 129      12         84     150      128       104     102
130  User 131      14        133     124      119       124     168
131  User 132      12         89     128      148       111     102
135  User 136      12        109     135      158       123      92
137  User 138      14        133     139      124       109     128
138  User 139      12        128     124      114       111     126
139  User 140      10         97     123      108       119     111
140  User 141      12        123     104      104       134     153
142  User 143      12        109     148       94       133     119
144  User 145      12         93     123      123       124     100
153  User 154      12        104     130      178       118      92
154  User 155      10         99     123      153       128     103
155  User 156      12         93     128      118       119     100
156  User 157      12        128     119      104       119     173
..        ...     ...        ...     ...      ...       ...     ...
196  User 197      22        133     183      114       183     140
197  User 198      22        148     149      154       149     148
199  User 200      22        188     124      114       183     188
200  User 201      25        153     159      129       139     218
201  User 202      18        114     153      178       138     124
204  User 205      18        178     129      104       183     163
205  User 206      18        114     163      163       148     124
208  User 209      16        137     104      173       109     130
210  User 211      18        128     114      168       124     124
216  User 217      22        144     173      134       173     149
218  User 219      20        114     208      114       119     168
219  User 220      18        114     183      114       109     178
220  User 221      18        114     173      183       128     124
222  User 223      18        143     154      129       129     178
223  User 224      18        128     163      173       133     130
226  User 227      22        120     168      158       144     133
228  User 229      18        143     139      119       139     203
229  User 230      22        153     144      139       144     193
230  User 231      18        147     144      129       149     144
232  User 233      25        158     154      154       154     153
233  User 234      25        104     208      168       134     144
234  User 235      25        139     153      193       158     134
235  User 236      25         84     247      168       109     140
238  User 239      22        124     168      208       148     124
239  User 240      18        114     158      178       158     124
241  User 242      25        114     238      124       104     178
244  User 245      18        139     148      129       129     168
246  User 247      20        124     178      104       158     174
247  User 248      20        133     149      139       144     213
248  User 249      20        143     149      139       159     143

[78 rows x 7 columns]

### **78 users**