<a href="https://colab.research.google.com/github/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/Krista_Shepard_DSPT2_U3S2M2_Assignment_2_Part_2_SQL_for_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install pkg that allows me to pull from the elephantSQL  website
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)

In [2]:
# Import pkg and explore its directory
import pandas as pd
import psycopg2
dir(psycopg2)

['BINARY',
 'Binary',
 'DATETIME',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NUMBER',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'ROWID',
 'STRING',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libpq_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_connect',
 '_ext',
 '_json',
 '_psycopg',
 '_range',
 'apilevel',
 'compat',
 'connect',
 'errors',
 'extensions',
 'paramstyle',
 'threadsafety',
 'tz']

In [0]:
# Pull necessary information from the elephantSQL website
dbname = 'zvineetb'
user = 'zvineetb'
password = 'TO DO' # Hide password before uploading to github
host = 'raja.db.elephantsql.com'

In [0]:
# Connect to the postgres connection that connects to elephantSQL
pg_conn = psycopg2.connect(dbname = dbname, user = user, password = password,
                           host = host)

In [0]:
# Created Cursor
pg_curs = pg_conn.cursor()

In [0]:
# Now you can use the cursor to execute commands, this and the cell below selects all the rows from
# selects all the rows from a previously made table to make sure it is working.
pg_curs.execute('SELECT * FROM  test_table;')

In [7]:
pg_curs.fetchall()

[(2, 'Another row with JSON', {'a': 1, 'b': ['dog', 'cat', 42], 'c': True})]

In [0]:
# Pull the titanic csv from github and use sqlite to look at it
df = pd.read_csv('https://raw.githubusercontent.com/KryssyCo/'
                'DS-Unit-3-Sprint-2-SQL-and-Databases/master/'
                'module2-sql-for-analysis/titanic.csv')

In [0]:
# Replaced ' with an open str throughout df and used regex to pull information
# from the repo
df = df.replace("'", " ", regex=True)

In [10]:
# Listed all files including hidden files
!ls -alh

total 472K
drwxr-xr-x 1 root root 4.0K Nov 16 15:36 .
drwxr-xr-x 1 root root 4.0K Nov 16 12:48 ..
drwxr-xr-x 1 root root 4.0K Nov 12 16:16 .config
drwxr-xr-x 1 root root 4.0K Nov  6 16:17 sample_data
-rw-r--r-- 1 root root  44K Nov 16 13:05 titanic.csv
-rw-r--r-- 1 root root  44K Nov 16 13:35 titanic.csv.1
-rw-r--r-- 1 root root  44K Nov 16 14:43 titanic.csv.2
-rw-r--r-- 1 root root  44K Nov 16 15:14 titanic.csv.3
-rw-r--r-- 1 root root  44K Nov 16 15:23 titanic.csv.4
-rw-r--r-- 1 root root  44K Nov 16 15:28 titanic.csv.5
-rw-r--r-- 1 root root  44K Nov 16 15:34 titanic.csv.6
-rw-r--r-- 1 root root  44K Nov 16 15:34 titanic.csv.7
-rw-r--r-- 1 root root  44K Nov 16 15:36 titanic.csv.8
-rw-r--r-- 1 root root  60K Nov 16 15:36 titanic.sqlite3

In [11]:
# Used !wget to pull data into python from, github
!wget https://raw.githubusercontent.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv

--2019-11-16 15:39:58--  https://raw.githubusercontent.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44225 (43K) [text/plain]
Saving to: ‘titanic.csv.9’

titanic.csv.9       100%[===================>]  43.19K  --.-KB/s    in 0.01s

2019-11-16 15:39:58 (2.96 MB/s) - ‘titanic.csv.9’ saved [44225/44225]

In [12]:
# List all files again (inc. hidden files)
!ls -alh

total 516K
drwxr-xr-x 1 root root 4.0K Nov 16 15:39 .
drwxr-xr-x 1 root root 4.0K Nov 16 12:48 ..
drwxr-xr-x 1 root root 4.0K Nov 12 16:16 .config
drwxr-xr-x 1 root root 4.0K Nov  6 16:17 sample_data
-rw-r--r-- 1 root root  44K Nov 16 13:05 titanic.csv
-rw-r--r-- 1 root root  44K Nov 16 13:35 titanic.csv.1
-rw-r--r-- 1 root root  44K Nov 16 14:43 titanic.csv.2
-rw-r--r-- 1 root root  44K Nov 16 15:14 titanic.csv.3
-rw-r--r-- 1 root root  44K Nov 16 15:23 titanic.csv.4
-rw-r--r-- 1 root root  44K Nov 16 15:28 titanic.csv.5
-rw-r--r-- 1 root root  44K Nov 16 15:34 titanic.csv.6
-rw-r--r-- 1 root root  44K Nov 16 15:34 titanic.csv.7
-rw-r--r-- 1 root root  44K Nov 16 15:36 titanic.csv.8
-rw-r--r-- 1 root root  44K Nov 16 15:39 titanic.csv.9
-rw-r--r-- 1 root root  60K Nov 16 15:36 titanic.sqlite3

In [13]:
# Take a look at first row
df.loc[0]

Survived                                        0
Pclass                                          3
Name                       Mr. Owen Harris Braund
Sex                                          male
Age                                            22
Siblings/Spouses Aboard                         1
Parents/Children Aboard                         0
Fare                                         7.25
Name: 0, dtype: object

In [14]:
!wget https://github.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/titanic.sqlite3?raw=true

--2019-11-16 15:40:00--  https://github.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/titanic.sqlite3?raw=true
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.sqlite3 [following]
--2019-11-16 15:40:01--  https://github.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.sqlite3
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.sqlite3 [following]
--2019-11-16 15:40:01--  https://raw.githubusercontent.com/KryssyCo/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61440 (60K) [application/octet-stream]
Saving to: ‘titanic.sqlite3?raw=true’

titanic.sqlite3?raw 100%[===================>]  60.00K  --.-KB/s    in 0.01s

2019-11-16 15:40:01 (4.35 MB/s) - ‘titanic.sqlite3?raw=true’ saved [61440/61440]

In [15]:
!ls -alh

total 576K
drwxr-xr-x 1 root root 4.0K Nov 16 15:40  .
drwxr-xr-x 1 root root 4.0K Nov 16 12:48  ..
drwxr-xr-x 1 root root 4.0K Nov 12 16:16  .config
drwxr-xr-x 1 root root 4.0K Nov  6 16:17  sample_data
-rw-r--r-- 1 root root  44K Nov 16 13:05  titanic.csv
-rw-r--r-- 1 root root  44K Nov 16 13:35  titanic.csv.1
-rw-r--r-- 1 root root  44K Nov 16 14:43  titanic.csv.2
-rw-r--r-- 1 root root  44K Nov 16 15:14  titanic.csv.3
-rw-r--r-- 1 root root  44K Nov 16 15:23  titanic.csv.4
-rw-r--r-- 1 root root  44K Nov 16 15:28  titanic.csv.5
-rw-r--r-- 1 root root  44K Nov 16 15:34  titanic.csv.6
-rw-r--r-- 1 root root  44K Nov 16 15:34  titanic.csv.7
-rw-r--r-- 1 root root  44K Nov 16 15:36  titanic.csv.8
-rw-r--r-- 1 root root  44K Nov 16 15:39  titanic.csv.9
-rw-r--r-- 1 root root  60K Nov 16 15:36  titanic.sqlite3
-rw-r--r-- 1 root root  60K Nov 16 15:40 'titanic.sqlite3?raw=true'

In [0]:
# Rename database 
!mv 'titanic.sqlite3?raw=true' titanic.sqlite3

In [0]:
import sqlite3

In [0]:
# Established connection
sl_conn = sqlite3.connect('titanic.sqlite3')

In [0]:
# Create cursor
sl_curs = sl_conn.cursor()

In [20]:
# Execute command from cursor to count how many rows in the table
sl_curs.execute('SELECT COUNT (*) FROM titanic;').fetchall()

[(888,)]

In [0]:
passengers = sl_curs.execute('SELECT * FROM titanic;').fetchall()

In [22]:
# Look at first row to see if it matches above
passengers[1]

('0', '3', 'Mr. Owen Harris Braund', 'male', '22', '1', '0', '7.25')

In [23]:
# Look at the last row in the database
passengers[-1]

('0', '3', 'Mr. Patrick Dooley', 'male', '32', '0', '0', '7.75')

In [24]:
# Used sqkite3 ti grab the scema for the table from titanic db
sl_curs.execute('PRAGMA table_info(titanic);').fetchall()

[(0, 'field1', 'TEXT', 0, None, 0),
 (1, 'field2', 'TEXT', 0, None, 0),
 (2, 'field3', 'TEXT', 0, None, 0),
 (3, 'field4', 'TEXT', 0, None, 0),
 (4, 'field5', 'TEXT', 0, None, 0),
 (5, 'field6', 'TEXT', 0, None, 0),
 (6, 'field7', 'TEXT', 0, None, 0),
 (7, 'field8', 'TEXT', 0, None, 0)]

In [0]:
# Change types for the move to postgres
create_titanic_table = """
  CREATE TABLE titanic (
    passenger_id SERIAL PRIMARY KEY,
    survived INT,
    pclass INT,
    name VARCHAR(90),
    sex VARCHAR(10),
    age FLOAT,
    siblings_spouses_aboard INT,
    parents_children INT,
    fare FLOAT
  );
"""

In [0]:
# Switch back to elephantSQL and create an empty table in called titanic
pg_curs.execute(create_titanic_table)

In [27]:
# Insert passengers into the table
passengers[1]

('0', '3', 'Mr. Owen Harris Braund', 'male', '22', '1', '0', '7.25')

In [28]:
# Slice it and take off the id before we ass it into the postgres
str(passengers[1][1:])

"('3', 'Mr. Owen Harris Braund', 'male', '22', '1', '0', '7.25')"

In [29]:
# Prepping a single character to be moved to postgres
example_insert = """
INSERT INTO create_titanic_table
(field)
VALUES """ + str(passengers[1][1:]) + ';'

print(example_insert)

INSERT INTO create_titanic_table
(field)
VALUES ('3', 'Mr. Owen Harris Braund', 'male', '22', '1', '0', '7.25');

In [0]:
# But I want to insert all 888 characters from sqlite3 to elephantSQL
# I can do this by using a for loop
for index,row in df.iterrows():
  insert_record =  """ 
    INSERT INTO titanic
    (survived, pclass, name, sex, age, siblings_spouses_aboard, parents_children, fare)
    VALUES """ + str(tuple(row.values)) + ';'
  pg_curs.execute(insert_record)

In [31]:
pg_curs.execute('SELECT * FROM titanic;')
pg_curs.fetchall()

[(1, 0, 3, 'Mr. Owen Harris Braund', 'male', 22.0, 1, 0, 7.25),
 (2,
  1,
  1,
  'Mrs. John Bradley (Florence Briggs Thayer) Cumings',
  'female',
  38.0,
  1,
  0,
  71.2833),
 (3, 1, 3, 'Miss. Laina Heikkinen', 'female', 26.0, 0, 0, 7.925),
 (4,
  1,
  1,
  'Mrs. Jacques Heath (Lily May Peel) Futrelle',
  'female',
  35.0,
  1,
  0,
  53.1),
 (5, 0, 3, 'Mr. William Henry Allen', 'male', 35.0, 0, 0, 8.05),
 (6, 0, 3, 'Mr. James Moran', 'male', 27.0, 0, 0, 8.4583),
 (7, 0, 1, 'Mr. Timothy J McCarthy', 'male', 54.0, 0, 0, 51.8625),
 (8, 0, 3, 'Master. Gosta Leonard Palsson', 'male', 2.0, 3, 1, 21.075),
 (9,
  1,
  3,
  'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
  'female',
  27.0,
  0,
  2,
  11.1333),
 (10,
  1,
  2,
  'Mrs. Nicholas (Adele Achem) Nasser',
  'female',
  14.0,
  1,
  0,
  30.0708),
 (11, 1, 3, 'Miss. Marguerite Rut Sandstrom', 'female', 4.0, 1, 1, 16.7),
 (12, 1, 1, 'Miss. Elizabeth Bonnell', 'female', 58.0, 0, 0, 26.55),
 (13, 0, 3, 'Mr. William Henry Saundercock', 'male', 20.0, 0, 0, 8.05),
 (14, 0, 3, 'Mr. Anders Johan Andersson', 'male', 39.0, 1, 5, 31.275),
 (15,
  0,
  3,
  'Miss. Hulda Amanda Adolfina Vestrom',
  'female',
  14.0,
  0,
  0,
  7.8542),
 (16, 1, 2, 'Mrs. (Mary D Kingcome) Hewlett', 'female', 55.0, 0, 0, 16.0),
 (17, 0, 3, 'Master. Eugene Rice', 'male', 2.0, 4, 1, 29.125),
 (18, 1, 2, 'Mr. Charles Eugene Williams', 'male', 23.0, 0, 0, 13.0),
 (19,
  0,
  3,
  'Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke',
  'female',
  31.0,
  1,
  0,
  18.0),
 (20, 1, 3, 'Mrs. Fatima Masselmani', 'female', 22.0, 0, 0, 7.225),
 (21, 0, 2, 'Mr. Joseph J Fynney', 'male', 35.0, 0, 0, 26.0),
 (22, 1, 2, 'Mr. Lawrence Beesley', 'male', 34.0, 0, 0, 13.0),
 (23, 1, 3, 'Miss. Anna McGowan', 'female', 15.0, 0, 0, 8.0292),
 (24, 1, 1, 'Mr. William Thompson Sloper', 'male', 28.0, 0, 0, 35.5),
 (25, 0, 3, 'Miss. Torborg Danira Palsson', 'female', 8.0, 3, 1, 21.075),
 (26,
  1,
  3,
  'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund',
  'female',
  38.0,
  1,
  5,
  31.3875),
 (27, 0, 3, 'Mr. Farred Chehab Emir', 'male', 26.0, 0, 0, 7.225),
 (28, 0, 1, 'Mr. Charles Alexander Fortune', 'male', 19.0, 3, 2, 263.0),
 (29, 1, 3, 'Miss. Ellen O Dwyer', 'female', 24.0, 0, 0, 7.8792),
 (30, 0, 3, 'Mr. Lalio Todoroff', 'male', 23.0, 0, 0, 7.8958),
 (31, 0, 1, 'Don. Manuel E Uruchurtu', 'male', 40.0, 0, 0, 27.7208),
 (32,
  1,
  1,
  'Mrs. William Augustus (Marie Eugenie) Spencer',
  'female',
  48.0,
  1,
  0,
  146.5208),
 (33, 1, 3, 'Miss. Mary Agatha Glynn', 'female', 18.0, 0, 0, 7.75),
 (34, 0, 2, 'Mr. Edward H Wheadon', 'male', 66.0, 0, 0, 10.5),
 (35, 0, 1, 'Mr. Edgar Joseph Meyer', 'male', 28.0, 1, 0, 82.1708),
 (36, 0, 1, 'Mr. Alexander Oskar Holverson', 'male', 42.0, 1, 0, 52.0),
 (37, 1, 3, 'Mr. Hanna Mamee', 'male', 18.0, 0, 0, 7.2292),
 (38, 0, 3, 'Mr. Ernest Charles Cann', 'male', 21.0, 0, 0, 8.05),
 (39, 0, 3, 'Miss. Augusta Maria Vander Planke', 'female', 18.0, 2, 0, 18.0),
 (40, 1, 3, 'Miss. Jamila Nicola-Yarred', 'female', 14.0, 1, 0, 11.2417),
 (41,
  0,
  3,
  'Mrs. Johan (Johanna Persdotter Larsson) Ahlin',
  'female',
  40.0,
  1,
  0,
  9.475),
 (42,
  0,
  2,
  'Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin',
  'female',
  27.0,
  1,
  0,
  21.0),
 (43,
  1,
  2,
  'Miss. Simonne Marie Anne Andree Laroche',
  'female',
  3.0,
  1,
  2,
  41.5792),
 (44, 1, 3, 'Miss. Margaret Delia Devaney', 'female', 19.0, 0, 0, 7.8792),
 (45, 0, 3, 'Mr. William John Rogers', 'male', 30.0, 0, 0, 8.05),
 (46, 0, 3, 'Mr. Denis Lennon', 'male', 20.0, 1, 0, 15.5),
 (47, 1, 3, 'Miss. Bridget O Driscoll', 'female', 27.0, 0, 0, 7.75),
 (48, 0, 3, 'Mr. Youssef Samaan', 'male', 16.0, 2, 0, 21.6792),
 (49,
  0,
  3,
  'Mrs. Josef (Josefine Franchi) Arnold-Franchi',
  'female',
  18.0,
  1,
  0,
  17.8),
 (50, 0, 3, 'Master. Juha Niilo Panula', 'male', 7.0, 4, 1, 39.6875),
 (51, 0, 3, 'Mr. Richard Cater Nosworthy', 'male', 21.0, 0, 0, 7.8),
 (52,
  1,
  1,
  'Mrs. Henry Sleeper (Myna Haxtun) Harper',
  'female',
  49.0,
  1,
  0,
  76.7292),
 (53,
  1,
  2,
  'Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe',
  'female',
  29.0,
  1,
  0,
  26.0),
 (54, 0, 1, 'Mr. Engelhart Cornelius Ostby', 'male', 65.0, 0, 1, 61.9792),
 (55, 1, 1, 'Mr. Hugh Woolner', 'male', 46.0, 0, 0, 35.5),
 (56, 1, 2, 'Miss. Emily Rugg', 'female', 21.0, 0, 0, 10.5),
 (57, 0, 3, 'Mr. Mansouer Novel', 'male', 28.5, 0, 0, 7.2292),
 (58, 1, 2, 'Miss. Constance Mirium West', 'female', 5.0, 1, 2, 27.75),
 (59, 0, 3, 'Master. William Frederick Goodwin', 'male', 11.0, 5, 2, 46.9),
 (60, 0, 3, 'Mr. Orsen Sirayanian', 'male', 22.0, 0, 0, 7.2292),
 (61, 1, 1, 'Miss. Amelie Icard', 'female', 38.0, 0, 0, 80.0),
 (62, 0, 1, 'Mr. Henry Birkhardt Harris', 'male', 45.0, 1, 0, 83.475),
 (63, 0, 3, 'Master. Harald Skoog', 'male', 4.0, 3, 2, 27.9),
 (64, 0, 1, 'Mr. Albert A Stewart', 'male', 64.0, 0, 0, 27.7208),
 (65, 1, 3, 'Master. Gerios Moubarek', 'male', 7.0, 1, 1, 15.2458),
 (66, 1, 2, 'Mrs. (Elizabeth Ramell) Nye', 'female', 29.0, 0, 0, 10.5),
 (67, 0, 3, 'Mr. Ernest James Crease', 'male', 19.0, 0, 0, 8.1583),
 (68, 1, 3, 'Miss. Erna Alexandra Andersson', 'female', 17.0, 4, 2, 7.925),
 (69, 0, 3, 'Mr. Vincenz Kink', 'male', 26.0, 2, 0, 8.6625),
 (70, 0, 2, 'Mr. Stephen Curnow Jenkin', 'male', 32.0, 0, 0, 10.5),
 (71, 0, 3, 'Miss. Lillian Amy Goodwin', 'female', 16.0, 5, 2, 46.9),
 (72, 0, 2, 'Mr. Ambrose Jr Hood', 'male', 21.0, 0, 0, 73.5),
 (73, 0, 3, 'Mr. Apostolos Chronopoulos', 'male', 26.0, 1, 0, 14.4542),
 (74, 1, 3, 'Mr. Lee Bing', 'male', 32.0, 0, 0, 56.4958),
 (75, 0, 3, 'Mr. Sigurd Hansen Moen', 'male', 25.0, 0, 0, 7.65),
 (76, 0, 3, 'Mr. Ivan Staneff', 'male', 23.0, 0, 0, 7.8958),
 (77, 0, 3, 'Mr. Rahamin Haim Moutal', 'male', 28.0, 0, 0, 8.05),
 (78, 1, 2, 'Master. Alden Gates Caldwell', 'male', 0.83, 0, 2, 29.0),
 (79, 1, 3, 'Miss. Elizabeth Dowdell', 'female', 30.0, 0, 0, 12.475),
 (80, 0, 3, 'Mr. Achille Waelens', 'male', 22.0, 0, 0, 9.0),
 (81, 1, 3, 'Mr. Jan Baptist Sheerlinck', 'male', 29.0, 0, 0, 9.5),
 (82, 1, 3, 'Miss. Brigdet Delia McDermott', 'female', 31.0, 0, 0, 7.7875),
 (83, 0, 1, 'Mr. Francisco M Carrau', 'male', 28.0, 0, 0, 47.1),
 (84, 1, 2, 'Miss. Bertha Ilett', 'female', 17.0, 0, 0, 10.5),
 (85,
  1,
  3,
  'Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom',
  'female',
  33.0,
  3,
  0,
  15.85),
 (86, 0, 3, 'Mr. William Neal Ford', 'male', 16.0, 1, 3, 34.375),
 (87, 0, 3, 'Mr. Selman Francis Slocovski', 'male', 20.0, 0, 0, 8.05),
 (88, 1, 1, 'Miss. Mabel Helen Fortune', 'female', 23.0, 3, 2, 263.0),
 (89, 0, 3, 'Mr. Francesco Celotti', 'male', 24.0, 0, 0, 8.05),
 (90, 0, 3, 'Mr. Emil Christmann', 'male', 29.0, 0, 0, 8.05),
 (91, 0, 3, 'Mr. Paul Edvin Andreasson', 'male', 20.0, 0, 0, 7.8542),
 (92, 0, 1, 'Mr. Herbert Fuller Chaffee', 'male', 46.0, 1, 0, 61.175),
 (93, 0, 3, 'Mr. Bertram Frank Dean', 'male', 26.0, 1, 2, 20.575),
 (94, 0, 3, 'Mr. Daniel Coxon', 'male', 59.0, 0, 0, 7.25),
 (95, 0, 3, 'Mr. Charles Joseph Shorney', 'male', 22.0, 0, 0, 8.05),
 (96, 0, 1, 'Mr. George B Goldschmidt', 'male', 71.0, 0, 0, 34.6542),
 (97, 1, 1, 'Mr. William Bertram Greenfield', 'male', 23.0, 0, 1, 63.3583),
 (98, 1, 2, 'Mrs. John T (Ada Julia Bone) Doling', 'female', 34.0, 0, 1, 23.0),
 (99, 0, 2, 'Mr. Sinai Kantor', 'male', 34.0, 1, 0, 26.0),
 (100, 0, 3, 'Miss. Matilda Petranec', 'female', 28.0, 0, 0, 7.8958),
 (101, 0, 3, 'Mr. Pastcho Petroff', 'male', 29.0, 0, 0, 7.8958),
 (102, 0, 1, 'Mr. Richard Frasar White', 'male', 21.0, 0, 1, 77.2875),
 (103, 0, 3, 'Mr. Gustaf Joel Johansson', 'male', 33.0, 0, 0, 8.6542),
 (104, 0, 3, 'Mr. Anders Vilhelm Gustafsson', 'male', 37.0, 2, 0, 7.925),
 (105, 0, 3, 'Mr. Stoytcho Mionoff', 'male', 28.0, 0, 0, 7.8958),
 (106, 1, 3, 'Miss. Anna Kristine Salkjelsvik', 'female', 21.0, 0, 0, 7.65),
 (107, 1, 3, 'Mr. Albert Johan Moss', 'male', 29.0, 0, 0, 7.775),
 (108, 0, 3, 'Mr. Tido Rekic', 'male', 38.0, 0, 0, 7.8958),
 (109, 1, 3, 'Miss. Bertha Moran', 'female', 28.0, 1, 0, 24.15),
 (110, 0, 1, 'Mr. Walter Chamberlain Porter', 'male', 47.0, 0, 0, 52.0),
 (111, 0, 3, 'Miss. Hileni Zabour', 'female', 14.5, 1, 0, 14.4542),
 (112, 0, 3, 'Mr. David John Barton', 'male', 22.0, 0, 0, 8.05),
 (113, 0, 3, 'Miss. Katriina Jussila', 'female', 20.0, 1, 0, 9.825),
 (114, 0, 3, 'Miss. Malake Attalah', 'female', 17.0, 0, 0, 14.4583),
 (115, 0, 3, 'Mr. Edvard Pekoniemi', 'male', 21.0, 0, 0, 7.925),
 (116, 0, 3, 'Mr. Patrick Connors', 'male', 70.5, 0, 0, 7.75),
 (117, 0, 2, 'Mr. William John Robert Turpin', 'male', 29.0, 1, 0, 21.0),
 (118, 0, 1, 'Mr. Quigg Edmond Baxter', 'male', 24.0, 0, 1, 247.5208),
 (119, 0, 3, 'Miss. Ellis Anna Maria Andersson', 'female', 2.0, 4, 2, 31.275),
 (120, 0, 2, 'Mr. Stanley George Hickman', 'male', 21.0, 2, 0, 73.5),
 (121, 0, 3, 'Mr. Leonard Charles Moore', 'male', 19.0, 0, 0, 8.05),
 (122, 0, 2, 'Mr. Nicholas Nasser', 'male', 32.5, 1, 0, 30.0708),
 (123, 1, 2, 'Miss. Susan Webber', 'female', 32.5, 0, 0, 13.0),
 (124, 0, 1, 'Mr. Percival Wayland White', 'male', 54.0, 0, 1, 77.2875),
 (125, 1, 3, 'Master. Elias Nicola-Yarred', 'male', 12.0, 1, 0, 11.2417),
 (126, 0, 3, 'Mr. Martin McMahon', 'male', 19.0, 0, 0, 7.75),
 (127, 1, 3, 'Mr. Fridtjof Arne Madsen', 'male', 24.0, 0, 0, 7.1417),
 (128, 1, 3, 'Miss. Anna Peter', 'female', 2.0, 1, 1, 22.3583),
 (129, 0, 3, 'Mr. Johan Ekstrom', 'male', 45.0, 0, 0, 6.975),
 (130, 0, 3, 'Mr. Jozef Drazenoic', 'male', 33.0, 0, 0, 7.8958),
 (131, 0, 3, 'Mr. Domingos Fernandeo Coelho', 'male', 20.0, 0, 0, 7.05),
 (132,
  0,
  3,
  'Mrs. Alexander A (Grace Charity Laury) Robins',
  'female',
  47.0,
  1,
  0,
  14.5),
 (133,
  1,
  2,
  'Mrs. Leopold (Mathilde Francoise Pede) Weisz',
  'female',
  29.0,
  1,
  0,
  26.0),
 (134, 0, 2, 'Mr. Samuel James Hayden Sobey', 'male', 25.0, 0, 0, 13.0),
 (135, 0, 2, 'Mr. Emile Richard', 'male', 23.0, 0, 0, 15.0458),
 (136, 1, 1, 'Miss. Helen Monypeny Newsom', 'female', 19.0, 0, 2, 26.2833),
 (137, 0, 1, 'Mr. Jacques Heath Futrelle', 'male', 37.0, 1, 0, 53.1),
 (138, 0, 3, 'Mr. Olaf Elon Osen', 'male', 16.0, 0, 0, 9.2167),
 (139, 0, 1, 'Mr. Victor Giglio', 'male', 24.0, 0, 0, 79.2),
 (140, 0, 3, 'Mrs. Joseph (Sultana) Boulos', 'female', 40.0, 0, 2, 15.2458),
 (141, 1, 3, 'Miss. Anna Sofia Nysten', 'female', 22.0, 0, 0, 7.75),
 (142,
  1,
  3,
  'Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen',
  'female',
  24.0,
  1,
  0,
  15.85),
 (143, 0, 3, 'Mr. Jeremiah Burke', 'male', 19.0, 0, 0, 6.75),
 (144, 0, 2, 'Mr. Edgardo Samuel Andrew', 'male', 18.0, 0, 0, 11.5),
 (145, 0, 2, 'Mr. Joseph Charles Nicholls', 'male', 19.0, 1, 1, 36.75),
 (146, 1, 3, 'Mr. August Edvard Andersson', 'male', 27.0, 0, 0, 7.7958),
 (147, 0, 3, 'Miss. Robina Maggie Ford', 'female', 9.0, 2, 2, 34.375),
 (148, 0, 2, 'Mr. Michel Navratil', 'male', 36.5, 0, 2, 26.0),
 (149, 0, 2, 'Rev. Thomas Roussel Davids Byles', 'male', 42.0, 0, 0, 13.0),
 (150, 0, 2, 'Rev. Robert James Bateman', 'male', 51.0, 0, 0, 12.525),
 (151, 1, 1, 'Mrs. Thomas (Edith Wearne) Pears', 'female', 22.0, 1, 0, 66.6),
 (152, 0, 3, 'Mr. Alfonzo Meo', 'male', 55.5, 0, 0, 8.05),
 (153, 0, 3, 'Mr. Austin Blyler van Billiard', 'male', 40.5, 0, 2, 14.5),
 (154, 0, 3, 'Mr. Ole Martin Olsen', 'male', 27.0, 0, 0, 7.3125),
 (155, 0, 1, 'Mr. Charles Duane Williams', 'male', 51.0, 0, 1, 61.3792),
 (156, 1, 3, 'Miss. Katherine Gilnagh', 'female', 16.0, 0, 0, 7.7333),
 (157, 0, 3, 'Mr. Harry Corn', 'male', 30.0, 0, 0, 8.05),
 (158, 0, 3, 'Mr. Mile Smiljanic', 'male', 37.0, 0, 0, 8.6625),
 (159, 0, 3, 'Master. Thomas Henry Sage', 'male', 5.0, 8, 2, 69.55),
 (160, 0, 3, 'Mr. John Hatfield Cribb', 'male', 44.0, 0, 1, 16.1),
 (161,
  1,
  2,
  'Mrs. James (Elizabeth Inglis Milne) Watt',
  'female',
  40.0,
  0,
  0,
  15.75),
 (162, 0, 3, 'Mr. John Viktor Bengtsson', 'male', 26.0, 0, 0, 7.775),
 (163, 0, 3, 'Mr. Jovo Calic', 'male', 17.0, 0, 0, 8.6625),
 (164, 0, 3, 'Master. Eino Viljami Panula', 'male', 1.0, 4, 1, 39.6875),
 (165,
  1,
  3,
  'Master. Frank John William Goldsmith',
  'male',
  9.0,
  0,
  2,
  20.525),
 (166,
  1,
  1,
  'Mrs. (Edith Martha Bowerman) Chibnall',
  'female',
  48.0,
  0,
  1,
  55.0),
 (167,
  0,
  3,
  'Mrs. William (Anna Bernhardina Karlsson) Skoog',
  'female',
  45.0,
  1,
  4,
  27.9),
 (168, 0, 1, 'Mr. John D Baumann', 'male', 60.0, 0, 0, 25.925),
 (169, 0, 3, 'Mr. Lee Ling', 'male', 28.0, 0, 0, 56.4958),
 (170, 0, 1, 'Mr. Wyckoff Van der hoef', 'male', 61.0, 0, 0, 33.5),
 (171, 0, 3, 'Master. Arthur Rice', 'male', 4.0, 4, 1, 29.125),
 (172, 1, 3, 'Miss. Eleanor Ileen Johnson', 'female', 1.0, 1, 1, 11.1333),
 (173, 0, 3, 'Mr. Antti Wilhelm Sivola', 'male', 21.0, 0, 0, 7.925),
 (174, 0, 1, 'Mr. James Clinch Smith', 'male', 56.0, 0, 0, 30.6958),
 (175, 0, 3, 'Mr. Klas Albin Klasen', 'male', 18.0, 1, 1, 7.8542),
 (176, 0, 3, 'Master. Henry Forbes Lefebre', 'male', 5.0, 3, 1, 25.4667),
 (177, 0, 1, 'Miss. Ann Elizabeth Isham', 'female', 50.0, 0, 0, 28.7125),
 (178, 0, 2, 'Mr. Reginald Hale', 'male', 30.0, 0, 0, 13.0),
 (179, 0, 3, 'Mr. Lionel Leonard', 'male', 36.0, 0, 0, 0.0),
 (180, 0, 3, 'Miss. Constance Gladys Sage', 'female', 8.0, 8, 2, 69.55),
 (181, 0, 2, 'Mr. Rene Pernot', 'male', 39.0, 0, 0, 15.05),
 (182,
  0,
  3,
  'Master. Clarence Gustaf Hugo Asplund',
  'male',
  9.0,
  4,
  2,
  31.3875),
 (183, 1, 2, 'Master. Richard F Becker', 'male', 1.0, 2, 1, 39.0),
 (184,
  1,
  3,
  'Miss. Luise Gretchen Kink-Heilmann',
  'female',
  4.0,
  0,
  2,
  22.025),
 (185, 0, 1, 'Mr. Hugh Roscoe Rood', 'male', 39.0, 0, 0, 50.0),
 (186,
  1,
  3,
  'Mrs. Thomas (Johanna Godfrey) O Brien',
  'female',
  26.0,
  1,
  0,
  15.5),
 (187, 1, 1, 'Mr. Charles Hallace Romaine', 'male', 45.0, 0, 0, 26.55),
 (188, 0, 3, 'Mr. John Bourke', 'male', 40.0, 1, 1, 15.5),
 (189, 0, 3, 'Mr. Stjepan Turcin', 'male', 36.0, 0, 0, 7.8958),
 (190, 1, 2, 'Mrs. (Rosa) Pinsky', 'female', 32.0, 0, 0, 13.0),
 (191, 0, 2, 'Mr. William Carbines', 'male', 19.0, 0, 0, 13.0),
 (192,
  1,
  3,
  'Miss. Carla Christine Nielsine Andersen-Jensen',
  'female',
  19.0,
  1,
  0,
  7.8542),
 (193, 1, 2, 'Master. Michel M Navratil', 'male', 3.0, 1, 1, 26.0),
 (194,
  1,
  1,
  'Mrs. James Joseph (Margaret Tobin) Brown',
  'female',
  44.0,
  0,
  0,
  27.7208),
 (195, 1, 1, 'Miss. Elise Lurette', 'female', 58.0, 0, 0, 146.5208),
 (196, 0, 3, 'Mr. Robert Mernagh', 'male', 28.0, 0, 0, 7.75),
 (197, 0, 3, 'Mr. Karl Siegwart Andreas Olsen', 'male', 42.0, 0, 1, 8.4042),
 (198, 1, 3, 'Miss. Margaret Madigan', 'female', 21.0, 0, 0, 7.75),
 (199, 0, 2, 'Miss. Henriette Yrois', 'female', 24.0, 0, 0, 13.0),
 (200, 0, 3, 'Mr. Nestor Cyriel Vande Walle', 'male', 28.0, 0, 0, 9.5),
 (201, 0, 3, 'Mr. Frederick Sage', 'male', 17.0, 8, 2, 69.55),
 (202, 0, 3, 'Mr. Jakob Alfred Johanson', 'male', 34.0, 0, 0, 6.4958),
 (203, 0, 3, 'Mr. Gerious Youseff', 'male', 45.5, 0, 0, 7.225),
 (204, 1, 3, 'Mr. Gurshon Cohen', 'male', 18.0, 0, 0, 8.05),
 (205, 0, 3, 'Miss. Telma Matilda Strom', 'female', 2.0, 0, 1, 10.4625),
 (206, 0, 3, 'Mr. Karl Alfred Backstrom', 'male', 32.0, 1, 0, 15.85),
 (207, 1, 3, 'Mr. Nassef Cassem Albimona', 'male', 26.0, 0, 0, 18.7875),
 (208, 1, 3, 'Miss. Helen Carr', 'female', 16.0, 0, 0, 7.75),
 (209, 1, 1, 'Mr. Henry Blank', 'male', 40.0, 0, 0, 31.0),
 (210, 0, 3, 'Mr. Ahmed Ali', 'male', 24.0, 0, 0, 7.05),
 (211, 1, 2, 'Miss. Clear Annie Cameron', 'female', 35.0, 0, 0, 21.0),
 (212, 0, 3, 'Mr. John Henry Perkin', 'male', 22.0, 0, 0, 7.25),
 (213, 0, 2, 'Mr. Hans Kristensen Givard', 'male', 30.0, 0, 0, 13.0),
 (214, 0, 3, 'Mr. Philip Kiernan', 'male', 22.0, 1, 0, 7.75),
 (215, 1, 1, 'Miss. Madeleine Newell', 'female', 31.0, 1, 0, 113.275),
 (216, 1, 3, 'Miss. Eliina Honkanen', 'female', 27.0, 0, 0, 7.925),
 (217, 0, 2, 'Mr. Sidney Samuel Jacobsohn', 'male', 42.0, 1, 0, 27.0),
 (218, 1, 1, 'Miss. Albina Bazzani', 'female', 32.0, 0, 0, 76.2917),
 (219, 0, 2, 'Mr. Walter Harris', 'male', 30.0, 0, 0, 10.5),
 (220, 1, 3, 'Mr. Victor Francis Sunderland', 'male', 16.0, 0, 0, 8.05),
 (221, 0, 2, 'Mr. James H Bracken', 'male', 27.0, 0, 0, 13.0),
 (222, 0, 3, 'Mr. George Henry Green', 'male', 51.0, 0, 0, 8.05),
 (223, 0, 3, 'Mr. Christo Nenkoff', 'male', 22.0, 0, 0, 7.8958),
 (224, 1, 1, 'Mr. Frederick Maxfield Hoyt', 'male', 38.0, 1, 0, 90.0),
 (225, 0, 3, 'Mr. Karl Ivar Sven Berglund', 'male', 22.0, 0, 0, 9.35),
 (226, 1, 2, 'Mr. William John Mellors', 'male', 19.0, 0, 0, 10.5),
 (227, 0, 3, 'Mr. John Hall Lovell', 'male', 20.5, 0, 0, 7.25),
 (228, 0, 2, 'Mr. Arne Jonas Fahlstrom', 'male', 18.0, 0, 0, 13.0),
 (229, 0, 3, 'Miss. Mathilde Lefebre', 'female', 12.0, 3, 1, 25.4667),
 (230,
  1,
  1,
  'Mrs. Henry Birkhardt (Irene Wallach) Harris',
  'female',
  35.0,
  1,
  0,
  83.475),
 (231, 0, 3, 'Mr. Bengt Edvin Larsson', 'male', 29.0, 0, 0, 7.775),
 (232, 0, 2, 'Mr. Ernst Adolf Sjostedt', 'male', 59.0, 0, 0, 13.5),
 (233, 1, 3, 'Miss. Lillian Gertrud Asplund', 'female', 5.0, 4, 2, 31.3875),
 (234, 0, 2, 'Mr. Robert William Norman Leyson', 'male', 24.0, 0, 0, 10.5),
 (235, 0, 3, 'Miss. Alice Phoebe Harknett', 'female', 21.0, 0, 0, 7.55),
 (236, 0, 2, 'Mr. Stephen Hold', 'male', 44.0, 1, 0, 26.0),
 (237, 1, 2, 'Miss. Marjorie Collyer', 'female', 8.0, 0, 2, 26.25),
 (238, 0, 2, 'Mr. Frederick William Pengelly', 'male', 19.0, 0, 0, 10.5),
 (239, 0, 2, 'Mr. George Henry Hunt', 'male', 33.0, 0, 0, 12.275),
 (240, 0, 3, 'Miss. Thamine Zabour', 'female', 19.0, 1, 0, 14.4542),
 (241, 1, 3, 'Miss. Katherine Murphy', 'female', 18.0, 1, 0, 15.5),
 (242, 0, 2, 'Mr. Reginald Charles Coleridge', 'male', 29.0, 0, 0, 10.5),
 (243, 0, 3, 'Mr. Matti Alexanteri Maenpaa', 'male', 22.0, 0, 0, 7.125),
 (244, 0, 3, 'Mr. Sleiman Attalah', 'male', 30.0, 0, 0, 7.225),
 (245, 0, 1, 'Dr. William Edward Minahan', 'male', 44.0, 2, 0, 90.0),
 (246,
  0,
  3,
  'Miss. Agda Thorilda Viktoria Lindahl',
  'female',
  25.0,
  0,
  0,
  7.775),
 (247, 1, 2, 'Mrs. William (Anna) Hamalainen', 'female', 24.0, 0, 2, 14.5),
 (248, 1, 1, 'Mr. Richard Leonard Beckwith', 'male', 37.0, 1, 1, 52.5542),
 (249, 0, 2, 'Rev. Ernest Courtenay Carter', 'male', 54.0, 1, 0, 26.0),
 (250, 0, 3, 'Mr. James George Reed', 'male', 18.0, 0, 0, 7.25),
 (251,
  0,
  3,
  'Mrs. Wilhelm (Elna Matilda Persson) Strom',
  'female',
  29.0,
  1,
  1,
  10.4625),
 (252, 0, 1, 'Mr. William Thomas Stead', 'male', 62.0, 0, 0, 26.55),
 (253, 0, 3, 'Mr. William Arthur Lobb', 'male', 30.0, 1, 0, 16.1),
 (254,
  0,
  3,
  'Mrs. Viktor (Helena Wilhelmina) Rosblom',
  'female',
  41.0,
  0,
  2,
  20.2125),
 (255,
  1,
  3,
  'Mrs. Darwis (Hanne Youssef Razi) Touma',
  'female',
  29.0,
  0,
  2,
  15.2458),
 (256, 1, 1, 'Mrs. Gertrude Maybelle Thorne', 'female', 38.0, 0, 0, 79.2),
 (257, 1, 1, 'Miss. Gladys Cherry', 'female', 30.0, 0, 0, 86.5),
 (258, 1, 1, 'Miss. Anna Ward', 'female', 35.0, 0, 0, 512.3292),
 (259, 1, 2, 'Mrs. (Lutie Davis) Parrish', 'female', 50.0, 0, 1, 26.0),
 (260, 1, 3, 'Master. Edvin Rojj Felix Asplund', 'male', 3.0, 4, 2, 31.3875),
 (261, 0, 1, 'Mr. Emil Taussig', 'male', 52.0, 1, 1, 79.65),
 (262, 0, 1, 'Mr. William Harrison', 'male', 40.0, 0, 0, 0.0),
 (263, 0, 3, 'Miss. Delia Henry', 'female', 21.0, 0, 0, 7.75),
 (264, 0, 2, 'Mr. David Reeves', 'male', 36.0, 0, 0, 10.5),
 (265, 0, 3, 'Mr. Ernesti Arvid Panula', 'male', 16.0, 4, 1, 39.6875),
 (266, 1, 3, 'Mr. Ernst Ulrik Persson', 'male', 25.0, 1, 0, 7.775),
 (267,
  1,
  1,
  'Mrs. William Thompson (Edith Junkins) Graham',
  'female',
  58.0,
  0,
  1,
  153.4625),
 (268, 1, 1, 'Miss. Amelia Bissette', 'female', 35.0, 0, 0, 135.6333),
 (269, 0, 1, 'Mr. Alexander Cairns', 'male', 28.0, 0, 0, 31.0),
 (270, 1, 3, 'Mr. William Henry Tornquist', 'male', 25.0, 0, 0, 0.0),
 (271,
  1,
  2,
  'Mrs. (Elizabeth Anne Maidment) Mellinger',
  'female',
  41.0,
  0,
  1,
  19.5),
 (272, 0, 1, 'Mr. Charles H Natsch', 'male', 37.0, 0, 1, 29.7),
 (273, 1, 3, 'Miss. Hanora Healy', 'female', 33.0, 0, 0, 7.75),
 (274,
  1,
  1,
  'Miss. Kornelia Theodosia Andrews',
  'female',
  63.0,
  1,
  0,
  77.9583),

In [0]:
pg_curs.close()
pg_conn.commit()