# ElephantSQL with PostgresSQL2

This notebook is some cursory notes on setting up Databases and creating tables. It is using an environment where the pymongo and psycopg2 are installed.

## Connecting

In [1]:
# First I'll be working with a relational database. 
# It is hosted by ElephantSQL
## I'll be using PostgreSQL2
## http://initd.org/psycopg/

import psycopg2

In [2]:
dir(psycopg2)

['BINARY',
 'Binary',
 'DATETIME',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NUMBER',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'ROWID',
 'STRING',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libpq_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_connect',
 '_ext',
 '_json',
 '_psycopg',
 '_range',
 'apilevel',
 'connect',
 'extensions',
 'paramstyle',
 'threadsafety',
 'tz']

The method I am looking for is "connect".

In [3]:
help(psycopg2.connect)

Help on function connect in module psycopg2:

connect(dsn=None, connection_factory=None, cursor_factory=None, **kwargs)
    Create a new database connection.

    The connection parameters can be specified as a string:

        conn = psycopg2.connect("dbname=test user=postgres password=secret")

    or using a set of keyword arguments:

        conn = psycopg2.connect(database="test", user="postgres", password="secret")

    Or as a mix of both. The basic connection parameters are:

    - *dbname*: the database name
    - *database*: the database name (only as keyword argument)
    - *user*: user name used to authenticate
    - *password*: password used to authenticate
    - *host*: database host address (defaults to UNIX socket if not provided)
    - *port*: connection port number (defaults to 5432 if not provided)

    Using the *connection_factory* parameter a different class or connections
    factory can be specified. It should be a callable object taking a dsn
    argument.

    Using the *cursor_factory* parameter, a new default cursor factory will be
    used by cursor().

    Using *async*=True an asynchronous connection will be created. *async_* is
    a valid alias (for Python versions where ``async`` is a keyword).

    Any other keyword parameter will be passed to the underlying client
    library: the list of supported parameters depends on the library version.

This is great info. The specific information I need is :

     The connection parameters can be specified as a string:
     conn = psycopg2.connect("dbname=test user=postgres password=secret")
     
 Where the parameters are:
 
    - *dbname*: the database name
    - *database*: the database name (only as keyword argument)
    - *user*: user name used to authenticate
    - *password*: password used to authenticate
    - *host*: database host address (defaults to UNIX socket if not provided)
    - *port*: connection port number (defaults to 5432 if not provided)
    
For the current playground database, I don;t need *database* and *port*

In [33]:
# Establishing Parameters
dbname = 'ckdaorek'
user = 'ckdaorek'
password = '******'   # Changed so you can't see my password. 
host = 'raja.db.elephantsql.com'

In [34]:
# Creating a connection to my database
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                           password=password, host=host)

In [35]:
# Connection cretes a connection object containing my paremeters
pg_conn

In [39]:
# Creating my cursor
pg_curs = pg_conn.cursor()

## Create a Table on ElephantSQL from rpg_db
Now I am going to use **sqlite** to import the **rpg_db** and upload it to the connected database.

In [14]:
import sqlite3

# I'm using a s1 connection and cursor so I don't overlap databases and libraries. 
sl_conn = sqlite3.connect('/Users/azel/Documents/GitHub/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/rpg_db.sqlite3')
sl_curs = sl_conn.cursor()

In [15]:
# Quick test to make sure its working and the database is populated. 
sl_curs.execute('SELECT COUNT(*) FROM charactercreator_character;').fetchall()

[(302,)]

In [24]:
# Each row is represented as a tuple. Those tuples can be accessed by an integer index. 
characters = sl_curs.execute('SELECT * FROM charactercreator_character;').fetchall()
characters [0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [25]:
# Each part of the tuple can be indexed as well. 
characters [0][1]

'Aliquid iste optio reiciendi'

So to create a table on my Relational database, I need to provide the columns and their datatypes. This metadata will match up with the indices of each row-tuple. This is the information provided with the rpg_db:

```python
class Character(models.Model):
    """Base representation of RPG characters."""
    character_id = models.AutoField(primary_key=True)
    name = models.CharField("Character's name", max_length=30)
    level = models.IntegerField(default=0)
    exp = models.IntegerField(default=0)
    hp = models.IntegerField(default=10)
    strength = models.IntegerField(default=1)
    intelligence = models.IntegerField(default=1)
    dexterity = models.IntegerField(default=1)
    wisdom = models.IntegerField(default=1)
```

With this, I can create a table in the database with these columns and the required datatype.

In [40]:
create_character_table = """
CREATE TABLE charactercreator_character (
  character_id SERIAL PRIMARY KEY,
  name VARCHAR(30),
  level INT,
  exp INT,
  hp INT,
  strength INT,
  intelligence INT,
  dexterity INT,
  wisdom INT
)
"""

In [43]:
pg_conn.commit()

In [44]:
pg_curs.execute(create_character_table)

In [45]:
attempted_insert = """
  INSERT INTO charactercreator_character
  VALUES """ + str(characters[0])
attempted_insert

"\n  INSERT INTO charactercreator_character\n  VALUES (1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)"

In [46]:
pg_curs.execute(attempted_insert)

In [47]:
pg_conn.commit()  # We need to "save" our work for the new table/data to show up

In [48]:
pg_curs = pg_conn.cursor()
pg_curs.execute('SELECT * FROM charactercreator_character;')
pg_characters = pg_curs.fetchall()
pg_characters[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

Ok, that works! I am going to insert the remaining characters into the database.

In [49]:
# Let's insert the rest of the characters!
for character in characters[1:]:
  insert_character = """
  INSERT INTO charactercreator_character
  VALUES """ + str(character)
  pg_curs.execute(insert_character)
pg_conn.commit()

In [50]:
pg_curs = pg_conn.cursor()
pg_curs.execute('SELECT * FROM charactercreator_character;')
pg_characters = pg_curs.fetchall()

In [51]:
len(pg_characters)

302

In [52]:
pg_characters[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [53]:
for character, pg_character in zip(characters, pg_characters):
  assert character == pg_character

Nothing happened! That's a good thing since the `assert` function will return an error if the statement is not `True`.

This is how to push a create a relational database in the cloud. The next step is to take a csv and move it up as well.

## Titanic Dataset to ElephantSQL

In [131]:
import pandas as pd
df = pd.read_csv('/Users/azel/Documents/GitHub/DS-Unit-3-Sprint-2-SQL-and-Databases/module2-sql-for-analysis/titanic.csv')

# MongoDB with PyMongo

LSDS Unit 3 Sprint 2 Module 3

Some resources:

https://docs.atlas.mongodb.com/getting-started/

https://api.mongodb.com/python/current/

HN Discussion on MongoDB versus PostgreSQL/SQLite: https://news.ycombinator.com/item?id=19158854

## Connecting

In [54]:
import pymongo

For some reason, pymongo was throwing an error when I used the link designed for Python 3.6. It seems the link designed for Python 3.4 works better.

In [55]:
# Password removed before committing. 
client = pymongo.MongoClient("mongodb://admin:<password>@cluster0-shard-00-00-l0vzq.mongodb.net:27017,cluster0-shard-00-01-l0vzq.mongodb.net:27017,cluster0-shard-00-02-l0vzq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [58]:
print('DB info: \n',db, '\n\n')
print('My nodes: \n', client.nodes)

DB info:
 Database(MongoClient(host=['cluster0-shard-00-01-l0vzq.mongodb.net:27017', 'cluster0-shard-00-02-l0vzq.mongodb.net:27017', 'cluster0-shard-00-00-l0vzq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True, w='majority'), 'test')


My nodes:
 frozenset({('cluster0-shard-00-01-l0vzq.mongodb.net', 27017), ('cluster0-shard-00-02-l0vzq.mongodb.net', 27017), ('cluster0-shard-00-00-l0vzq.mongodb.net', 27017)})

I'm connected and have 3 nodes available. Time to start adding data.

## Add Data to a MongoDB Database

In [70]:
# I want to see what I can do. 
help(db)

Help on Database in module pymongo.database object:

class Database(pymongo.common.BaseObject)
 |  Database(client, name, codec_options=None, read_preference=None, write_concern=None, read_concern=None)
 |
 |  A Mongo database.
 |
 |  Method resolution order:
 |      Database
 |      pymongo.common.BaseObject
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwargs)
 |      This is only here so that some API misusages are easier to debug.
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __getattr__(self, name)
 |      Get a collection of this database by name.
 |
 |      Raises InvalidName if an invalid collection name is used.
 |
 |      :Parameters:
 |        - `name`: the name of the collection to get
 |
 |  __getitem__(self, name)
 |      Get a collection of this database by name.
 |
 |      Raises InvalidName if an invalid collection name is used.
 |
 |      :Parameters:
 |        - `name`: the name of the collection to get
 |
 |  __init__(self, client, name, codec_options=None, read_preference=None, write_concern=None, read_concern=None)
 |      Get a database by client and name.
 |
 |      Raises :class:`TypeError` if `name` is not an instance of
 |      :class:`basestring` (:class:`str` in python 3). Raises
 |      :class:`~pymongo.errors.InvalidName` if `name` is not a valid
 |      database name.
 |
 |      :Parameters:
 |        - `client`: A :class:`~pymongo.mongo_client.MongoClient` instance.
 |        - `name`: The database name.
 |        - `codec_options` (optional): An instance of
 |          :class:`~bson.codec_options.CodecOptions`. If ``None`` (the
 |          default) client.codec_options is used.
 |        - `read_preference` (optional): The read preference to use. If
 |          ``None`` (the default) client.read_preference is used.
 |        - `write_concern` (optional): An instance of
 |          :class:`~pymongo.write_concern.WriteConcern`. If ``None`` (the
 |          default) client.write_concern is used.
 |        - `read_concern` (optional): An instance of
 |          :class:`~pymongo.read_concern.ReadConcern`. If ``None`` (the
 |          default) client.read_concern is used.
 |
 |      .. mongodoc:: databases
 |
 |      .. versionchanged:: 3.2
 |         Added the read_concern option.
 |
 |      .. versionchanged:: 3.0
 |         Added the codec_options, read_preference, and write_concern options.
 |         :class:`~pymongo.database.Database` no longer returns an instance
 |         of :class:`~pymongo.collection.Collection` for attribute names
 |         with leading underscores. You must use dict-style lookups instead::
 |
 |             db['__my_collection__']
 |
 |         Not:
 |
 |             db.__my_collection__
 |
 |  __iter__(self)
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __next__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  add_son_manipulator(self, manipulator)
 |      Add a new son manipulator to this database.
 |
 |      **DEPRECATED** - `add_son_manipulator` is deprecated.
 |
 |      .. versionchanged:: 3.0
 |        Deprecated add_son_manipulator.
 |
 |  add_user(self, name, password=None, read_only=None, session=None, **kwargs)
 |      **DEPRECATED**: Create user `name` with password `password`.
 |
 |      Add a new user with permissions for this :class:`Database`.
 |
 |      .. note:: Will change the password if user `name` already exists.
 |
 |      .. note:: add_user is deprecated and will be removed in PyMongo
 |        4.0. Starting with MongoDB 2.6 user management is handled with four
 |        database commands, createUser_, usersInfo_, updateUser_, and
 |        dropUser_.
 |
 |        To create a user::
 |
 |          db.command("createUser", "admin", pwd="password", roles=["root"])
 |
 |        To create a read-only user::
 |
 |          db.command("createUser", "user", pwd="password", roles=["read"])
 |
 |        To change a password::
 |
 |          db.command("updateUser", "user", pwd="newpassword")
 |
 |        Or change roles::
 |
 |          db.command("updateUser", "user", roles=["readWrite"])
 |
 |      .. _createUser: https://docs.mongodb.com/manual/reference/command/createUser/
 |      .. _usersInfo: https://docs.mongodb.com/manual/reference/command/usersInfo/
 |      .. _updateUser: https://docs.mongodb.com/manual/reference/command/updateUser/
 |      .. _dropUser: https://docs.mongodb.com/manual/reference/command/createUser/
 |
 |      .. warning:: Never create or modify users over an insecure network without
 |        the use of TLS. See :doc:`/examples/tls` for more information.
 |
 |      :Parameters:
 |        - `name`: the name of the user to create
 |        - `password` (optional): the password of the user to create. Can not
 |          be used with the ``userSource`` argument.
 |        - `read_only` (optional): if ``True`` the user will be read only
 |        - `**kwargs` (optional): optional fields for the user document
 |          (e.g. ``userSource``, ``otherDBRoles``, or ``roles``). See
 |          `<http://docs.mongodb.org/manual/reference/privilege-documents>`_
 |          for more information.
 |        - `session` (optional): a
 |          :class:`~pymongo.client_session.ClientSession`.
 |
 |      .. versionchanged:: 3.7
 |         Added support for SCRAM-SHA-256 users with MongoDB 4.0 and later.
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter. Deprecated add_user.
 |
 |      .. versionchanged:: 2.5
 |         Added kwargs support for optional fields introduced in MongoDB 2.4
 |
 |      .. versionchanged:: 2.2
 |         Added support for read only users
 |
 |  authenticate(self, name=None, password=None, source=None, mechanism='DEFAULT', **kwargs)
 |      **DEPRECATED**: Authenticate to use this database.
 |
 |      .. warning:: Starting in MongoDB 3.6, calling :meth:`authenticate`
 |        invalidates all existing cursors. It may also leave logical sessions
 |        open on the server for up to 30 minutes until they time out.
 |
 |      Authentication lasts for the life of the underlying client
 |      instance, or until :meth:`logout` is called.
 |
 |      Raises :class:`TypeError` if (required) `name`, (optional) `password`,
 |      or (optional) `source` is not an instance of :class:`basestring`
 |      (:class:`str` in python 3).
 |
 |      .. note::
 |        - This method authenticates the current connection, and
 |          will also cause all new :class:`~socket.socket` connections
 |          in the underlying client instance to be authenticated automatically.
 |
 |        - Authenticating more than once on the same database with different
 |          credentials is not supported. You must call :meth:`logout` before
 |          authenticating with new credentials.
 |
 |        - When sharing a client instance between multiple threads, all
 |          threads will share the authentication. If you need different
 |          authentication profiles for different purposes you must use
 |          distinct client instances.
 |
 |      :Parameters:
 |        - `name`: the name of the user to authenticate. Optional when
 |          `mechanism` is MONGODB-X509 and the MongoDB server version is
 |          >= 3.4.
 |        - `password` (optional): the password of the user to authenticate.
 |          Not used with GSSAPI or MONGODB-X509 authentication.
 |        - `source` (optional): the database to authenticate on. If not
 |          specified the current database is used.
 |        - `mechanism` (optional): See :data:`~pymongo.auth.MECHANISMS` for
 |          options. If no mechanism is specified, PyMongo automatically uses
 |          MONGODB-CR when connected to a pre-3.0 version of MongoDB,
 |          SCRAM-SHA-1 when connected to MongoDB 3.0 through 3.6, and
 |          negotiates the mechanism to use (SCRAM-SHA-1 or SCRAM-SHA-256) when
 |          connected to MongoDB 4.0+.
 |        - `authMechanismProperties` (optional): Used to specify
 |          authentication mechanism specific options. To specify the service
 |          name for GSSAPI authentication pass
 |          authMechanismProperties='SERVICE_NAME:<service name>'
 |
 |      .. versionchanged:: 3.7
 |         Added support for SCRAM-SHA-256 with MongoDB 4.0 and later.
 |
 |      .. versionchanged:: 3.5
 |         Deprecated. Authenticating multiple users conflicts with support for
 |         logical sessions in MongoDB 3.6. To authenticate as multiple users,
 |         create multiple instances of MongoClient.
 |
 |      .. versionadded:: 2.8
 |         Use SCRAM-SHA-1 with MongoDB 3.0 and later.
 |
 |      .. versionchanged:: 2.5
 |         Added the `source` and `mechanism` parameters. :meth:`authenticate`
 |         now raises a subclass of :class:`~pymongo.errors.PyMongoError` if
 |         authentication fails due to invalid credentials or configuration
 |         issues.
 |
 |      .. mongodoc:: authenticate
 |
 |  collection_names(self, include_system_collections=True, session=None)
 |      **DEPRECATED**: Get a list of all the collection names in this
 |      database.
 |
 |      :Parameters:
 |        - `include_system_collections` (optional): if ``False`` list
 |          will not include system collections (e.g ``system.indexes``)
 |        - `session` (optional): a
 |          :class:`~pymongo.client_session.ClientSession`.
 |
 |      .. versionchanged:: 3.7
 |         Deprecated. Use :meth:`list_collection_names` instead.
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter.
 |
 |  command(self, command, value=1, check=True, allowable_errors=None, read_preference=None, codec_options=CodecOptions(document_class=dict, tz_aware=False, uuid_representation=PYTHON_LEGACY, unicode_decode_error_handler='strict', tzinfo=None), session=None, **kwargs)
 |      Issue a MongoDB command.
 |
 |      Send command `command` to the database and return the
 |      response. If `command` is an instance of :class:`basestring`
 |      (:class:`str` in python 3) then the command {`command`: `value`}
 |      will be sent. Otherwise, `command` must be an instance of
 |      :class:`dict` and will be sent as is.
 |
 |      Any additional keyword arguments will be added to the final
 |      command document before it is sent.
 |
 |      For example, a command like ``{buildinfo: 1}`` can be sent
 |      using:
 |
 |      >>> db.command("buildinfo")
 |
 |      For a command where the value matters, like ``{collstats:
 |      collection_name}`` we can do:
 |
 |      >>> db.command("collstats", collection_name)
 |
 |      For commands that take additional arguments we can use
 |      kwargs. So ``{filemd5: object_id, root: file_root}`` becomes:
 |
 |      >>> db.command("filemd5", object_id, root=file_root)
 |
 |      :Parameters:
 |        - `command`: document representing the command to be issued,
 |          or the name of the command (for simple commands only).
 |
 |          .. note:: the order of keys in the `command` document is
 |             significant (the "verb" must come first), so commands
 |             which require multiple keys (e.g. `findandmodify`)
 |             should use an instance of :class:`~bson.son.SON` or
 |             a string and kwargs instead of a Python `dict`.
 |
 |        - `value` (optional): value to use for the command verb when
 |          `command` is passed as a string
 |        - `check` (optional): check the response for errors, raising
 |          :class:`~pymongo.errors.OperationFailure` if there are any
 |        - `allowable_errors`: if `check` is ``True``, error messages
 |          in this list will be ignored by error-checking
 |        - `read_preference` (optional): The read preference for this
 |          operation. See :mod:`~pymongo.read_preferences` for options.
 |          If the provided `session` is in a transaction, defaults to the
 |          read preference configured for the transaction.
 |          Otherwise, defaults to
 |          :attr:`~pymongo.read_preferences.ReadPreference.PRIMARY`.
 |        - `codec_options`: A :class:`~bson.codec_options.CodecOptions`
 |          instance.
 |        - `session` (optional): A
 |          :class:`~pymongo.client_session.ClientSession`.
 |        - `**kwargs` (optional): additional keyword arguments will
 |          be added to the command document before it is sent
 |
 |      .. note:: :meth:`command` does **not** obey this Database's
 |         :attr:`read_preference` or :attr:`codec_options`. You must use the
 |         `read_preference` and `codec_options` parameters instead.
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter.
 |
 |      .. versionchanged:: 3.0
 |         Removed the `as_class`, `fields`, `uuid_subtype`, `tag_sets`,
 |         and `secondary_acceptable_latency_ms` option.
 |         Removed `compile_re` option: PyMongo now always represents BSON
 |         regular expressions as :class:`~bson.regex.Regex` objects. Use
 |         :meth:`~bson.regex.Regex.try_compile` to attempt to convert from a
 |         BSON regular expression to a Python regular expression object.
 |         Added the `codec_options` parameter.
 |
 |      .. versionchanged:: 2.7
 |         Added `compile_re` option. If set to False, PyMongo represented BSON
 |         regular expressions as :class:`~bson.regex.Regex` objects instead of
 |         attempting to compile BSON regular expressions as Python native
 |         regular expressions, thus preventing errors for some incompatible
 |         patterns, see `PYTHON-500`_.
 |
 |      .. versionchanged:: 2.3
 |         Added `tag_sets` and `secondary_acceptable_latency_ms` options.
 |      .. versionchanged:: 2.2
 |         Added support for `as_class` - the class you want to use for
 |         the resulting documents
 |
 |      .. _PYTHON-500: https://jira.mongodb.org/browse/PYTHON-500
 |
 |      .. mongodoc:: commands
 |
 |  create_collection(self, name, codec_options=None, read_preference=None, write_concern=None, read_concern=None, session=None, **kwargs)
 |      Create a new :class:`~pymongo.collection.Collection` in this
 |      database.
 |
 |      Normally collection creation is automatic. This method should
 |      only be used to specify options on
 |      creation. :class:`~pymongo.errors.CollectionInvalid` will be
 |      raised if the collection already exists.
 |
 |      Options should be passed as keyword arguments to this method. Supported
 |      options vary with MongoDB release. Some examples include:
 |
 |        - "size": desired initial size for the collection (in
 |          bytes). For capped collections this size is the max
 |          size of the collection.
 |        - "capped": if True, this is a capped collection
 |        - "max": maximum number of objects if capped (optional)
 |
 |      See the MongoDB documentation for a full list of supported options by
 |      server version.
 |
 |      :Parameters:
 |        - `name`: the name of the collection to create
 |        - `codec_options` (optional): An instance of
 |          :class:`~bson.codec_options.CodecOptions`. If ``None`` (the
 |          default) the :attr:`codec_options` of this :class:`Database` is
 |          used.
 |        - `read_preference` (optional): The read preference to use. If
 |          ``None`` (the default) the :attr:`read_preference` of this
 |          :class:`Database` is used.
 |        - `write_concern` (optional): An instance of
 |          :class:`~pymongo.write_concern.WriteConcern`. If ``None`` (the
 |          default) the :attr:`write_concern` of this :class:`Database` is
 |          used.
 |        - `read_concern` (optional): An instance of
 |          :class:`~pymongo.read_concern.ReadConcern`. If ``None`` (the
 |          default) the :attr:`read_concern` of this :class:`Database` is
 |          used.
 |        - `collation` (optional): An instance of
 |          :class:`~pymongo.collation.Collation`.
 |        - `session` (optional): a
 |          :class:`~pymongo.client_session.ClientSession`.
 |        - `**kwargs` (optional): additional keyword arguments will
 |          be passed as options for the create collection command
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter.
 |
 |      .. versionchanged:: 3.4
 |         Added the collation option.
 |
 |      .. versionchanged:: 3.0
 |         Added the codec_options, read_preference, and write_concern options.
 |
 |      .. versionchanged:: 2.2
 |         Removed deprecated argument: options
 |
 |  current_op(self, include_all=False, session=None)
 |      Get information on operations currently running.
 |
 |      :Parameters:
 |        - `include_all` (optional): if ``True`` also list currently
 |          idle operations in the result
 |        - `session` (optional): a
 |          :class:`~pymongo.client_session.ClientSession`.
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter.
 |
 |  dereference(self, dbref, session=None, **kwargs)
 |      Dereference a :class:`~bson.dbref.DBRef`, getting the
 |      document it points to.
 |
 |      Raises :class:`TypeError` if `dbref` is not an instance of
 |      :class:`~bson.dbref.DBRef`. Returns a document, or ``None`` if
 |      the reference does not point to a valid document.  Raises
 |      :class:`ValueError` if `dbref` has a database specified that
 |      is different from the current database.
 |
 |      :Parameters:
 |        - `dbref`: the reference
 |        - `session` (optional): a
 |          :class:`~pymongo.client_session.ClientSession`.
 |        - `**kwargs` (optional): any additional keyword arguments
 |          are the same as the arguments to
 |          :meth:`~pymongo.collection.Collection.find`.
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter.
 |
 |  drop_collection(self, name_or_collection, session=None)
 |      Drop a collection.
 |
 |      :Parameters:
 |        - `name_or_collection`: the name of a collection to drop or the
 |          collection object itself
 |        - `session` (optional): a
 |          :class:`~pymongo.client_session.ClientSession`.
 |
 |      .. note:: The :attr:`~pymongo.database.Database.write_concern` of
 |         this database is automatically applied to this operation when using
 |         MongoDB >= 3.4.
 |
 |      .. versionchanged:: 3.6
 |         Added ``session`` parameter.
 |
 |      .. versionchanged:: 3.4
 |         Apply this database's write concern automatically to this operation
 |         when connected to MongoDB >= 3.4.
 |
 |  error(self)
 |      **DEPRECATED**: Get the error if one occurred on the last operation.
 |
 |      This method is obsolete: all MongoDB write operations (insert, update,
 |      remove, and so on) use the write concern ``w=1`` and report their
 |      errors by default.
 |
 |      .. versionchanged:: 2.8
 |         Deprecated.
 |
 |  eval(self, code, *args)
 |      **DEPRECATED**: Evaluate a JavaScript expression in MongoDB.
 |
 |      :Parameters:
 |        - `code`: string representation of JavaScript code to be
 |          evaluated
 |        - `args` (optional): additional positional arguments are
 |          passed to the `code` being evaluated
 |
 |      .. warning:: the eval command is deprecated in MongoDB 3.0 and
 |        will be removed in a future server version.
 |
 |  get_collection(self, name, codec_options=None, read_preference=None, write_concern=None, read_concern=None)
 |      Get a :class:`~pymongo.collection.Collection` with the given name
 |      and options.
 |
 |      Useful for creating a :class:`~pymongo.collection.Collection` with
 |      different codec options, read preference, and/or write concern from
 |      this :class:`Database`.
 |
 |        >>> db.read_preference
 |        Primary()
 |        >>> coll1 = db.test
 |        >>> coll1.read_preference
 |        Primary()
 |        >>> from pymongo import ReadPreference

In [71]:
# This command refers to "test" collection on my cluster.
dir(db.test)

['_BaseObject__codec_options',
 '_BaseObject__read_concern',
 '_BaseObject__read_preference',
 '_BaseObject__write_concern',
 '_Collection__create',
 '_Collection__create_index',
 '_Collection__database',
 '_Collection__find_and_modify',
 '_Collection__full_name',
 '_Collection__name',
 '_Collection__write_response_codec_options',
 '__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_aggregate',
 '_aggregate_one_result',
 '_command',
 '_count',
 '_delete',
 '_delete_retryable',
 '_insert',
 '_insert_one',
 '_legacy_write',
 '_read_preference_for',
 '_socket_for_primary_reads',
 '_socket_for_reads',
 '_socket_for_writes',
 '_update',
 '_update_retryable',
 '_write_concern_for',
 '_write_concern_for_cmd',
 'aggregate',
 'aggregate_raw_batches',
 'bulk_write',
 'codec_options',
 'count',
 'count_documents',
 'create_index',
 'create_indexes',
 'database',
 'delete_many',
 'delete_one',
 'distinct',
 'drop',
 'drop_index',
 'drop_indexes',
 'ensure_index',
 'estimated_document_count',
 'find',
 'find_and_modify',
 'find_one',
 'find_one_and_delete',
 'find_one_and_replace',
 'find_one_and_update',
 'find_raw_batches',
 'full_name',
 'group',
 'index_information',
 'initialize_ordered_bulk_op',
 'initialize_unordered_bulk_op',
 'inline_map_reduce',
 'insert',
 'insert_many',
 'insert_one',
 'list_indexes',
 'map_reduce',
 'name',
 'next',
 'options',
 'parallel_scan',
 'read_concern',
 'read_preference',
 'reindex',
 'remove',
 'rename',
 'replace_one',
 'save',
 'update',
 'update_many',
 'update_one',
 'watch',
 'with_options',
 'write_concern']

So I have the `db object` as `db` and the specefic collection (table-like) as `test` for my method. I could call `rpg_db` as the method if I want to modify that collection. I'll be doing that later.

In [72]:
# Lets get information on the insert_one method. 
help(db.test.insert_one)

Help on method insert_one in module pymongo.collection:

insert_one(document, bypass_document_validation=False, session=None) method of pymongo.collection.Collection instance
    Insert a single document.

      >>> db.test.count_documents({'x': 1})
      0
      >>> result = db.test.insert_one({'x': 1})
      >>> result.inserted_id
      ObjectId('54f112defba522406c9cc208')
      >>> db.test.find_one({'x': 1})
      {u'x': 1, u'_id': ObjectId('54f112defba522406c9cc208')}

    :Parameters:
      - `document`: The document to insert. Must be a mutable mapping
        type. If the document does not have an _id field one will be
        added automatically.
      - `bypass_document_validation`: (optional) If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.

    :Returns:
      - An instance of :class:`~pymongo.results.InsertOneResult`.

    .. seealso:: :ref:`writes-and-ids`

    .. note:: `bypass_document_validation` requires server version
      **>= 3.2**

    .. versionchanged:: 3.6
       Added ``session`` parameter.

    .. versionchanged:: 3.2
      Added bypass_document_validation support

    .. versionadded:: 3.0

The info provides a nice example as well as important parameters:

     :Parameters:
      - `document`: The document to insert. Must be a mutable mapping
        type. If the document does not have an _id field one will be
        added automatically.
      - `bypass_document_validation`: (optional) If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.
    
**Mutable mapping type** can be defined as:

>A mapping object maps immutable values to arbitrary objects. Mappings are mutable objects. There is currently only one standard mapping type, the dictionary. A dictionary's keys are almost arbitrary values. Only values containing lists, dictionaries or other mutable types (that are compared by value rather than by object identity) may not be used as keys. Numeric types used for keys obey the normal rules for numeric comparison: if two numbers compare equal (such as 1 and 1.0) then they can be used interchangeably to index the same dictionary entry.

In summary, I should use a dictionary. However, that dictionary's key must be arbitrary and thus, immuatable. In this case, I could use a tuple, but the tuple **cannot contain numeric datatypes**. 

I'm going to test out some isnertions to the `test` collection on my database.

In [62]:
db.test.insert_one({'x': 1})

In [69]:
#That looks like it worked, but I want to see if I can prove that it did
help(db.test.find_one)

Help on method find_one in module pymongo.collection:

find_one(filter=None, *args, **kwargs) method of pymongo.collection.Collection instance
    Get a single document from the database.

    All arguments to :meth:`find` are also valid arguments for
    :meth:`find_one`, although any `limit` argument will be
    ignored. Returns a single document, or ``None`` if no matching
    document is found.

    The :meth:`find_one` method obeys the :attr:`read_preference` of
    this :class:`Collection`.

    :Parameters:

      - `filter` (optional): a dictionary specifying
        the query to be performed OR any other type to be used as
        the value for a query for ``"_id"``.

      - `*args` (optional): any additional positional arguments
        are the same as the arguments to :meth:`find`.

      - `**kwargs` (optional): any additional keyword arguments
        are the same as the arguments to :meth:`find`.

          >>> collection.find_one(max_time_ms=100)

In [65]:
# Finds one instance where the document matches the parameter dictionary
db.test.find_one({'x': 1})

{'_id': ObjectId('5cf7faecb0e0522fb5285830'), 'x': 1}

In [101]:
# Lets see what kind of methods are available to an object with find attached. 
results = db.test.find({'x': 1})
dir(results)

['_Cursor__address',
 '_Cursor__batch_size',
 '_Cursor__check_okay_to_chain',
 '_Cursor__codec_options',
 '_Cursor__collation',
 '_Cursor__collection',
 '_Cursor__comment',
 '_Cursor__data',
 '_Cursor__die',
 '_Cursor__empty',
 '_Cursor__exhaust',
 '_Cursor__exhaust_mgr',
 '_Cursor__explain',
 '_Cursor__explicit_session',
 '_Cursor__hint',
 '_Cursor__id',
 '_Cursor__killed',
 '_Cursor__limit',
 '_Cursor__manipulate',
 '_Cursor__max',
 '_Cursor__max_await_time_ms',
 '_Cursor__max_scan',
 '_Cursor__max_time_ms',
 '_Cursor__min',
 '_Cursor__modifiers',
 '_Cursor__ordering',
 '_Cursor__projection',
 '_Cursor__query_flags',
 '_Cursor__query_spec',
 '_Cursor__read_concern',
 '_Cursor__read_preference',
 '_Cursor__retrieved',
 '_Cursor__return_key',
 '_Cursor__send_message',
 '_Cursor__session',
 '_Cursor__set_hint',
 '_Cursor__show_record_id',
 '_Cursor__skip',
 '_Cursor__snapshot',
 '_Cursor__spec',
 '__class__',
 '__copy__',
 '__deepcopy__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_clone',
 '_clone_base',
 '_deepcopy',
 '_getmore_class',
 '_query_class',
 '_read_preference',
 '_refresh',
 '_unpack_response',
 'add_option',
 'address',
 'alive',
 'batch_size',
 'clone',
 'close',
 'collation',
 'collection',
 'comment',
 'count',
 'cursor_id',
 'distinct',
 'explain',
 'hint',
 'limit',
 'max',
 'max_await_time_ms',
 'max_scan',
 'max_time_ms',
 'min',
 'next',
 'remove_option',
 'retrieved',
 'rewind',
 'session',
 'skip',
 'sort',
 'where']

In [102]:
# view the results tied up in the find object 
list(results)

[{'_id': ObjectId('5cf7faecb0e0522fb5285830'), 'x': 1},
 {'_id': ObjectId('5cf842ebb0e0523ab9fdcb76'), 'x': 1}]

So the documents can be pulled from the `find` object by turning it into a list. The information can be viewed this way.

In [67]:
# Let's throw in a few more docmuents. 
artins_doc = {'favorite animal': 'silver panther'}
artins_doc

{'favorite animal': 'silver panther'}

In [68]:
# Insert to the Database. 
db.test.insert_one(artins_doc)

In [77]:
# Does not affect the previously saved variable. 
list(results)

[{'_id': ObjectId('5cf7faecb0e0522fb5285830'), 'x': 1},
 {'_id': ObjectId('5cf842ebb0e0523ab9fdcb76'), 'x': 1}]

In [78]:
# Proof that the new document is there. 
list(db.test.find())

[{'_id': ObjectId('5cf7faecb0e0522fb5285830'), 'x': 1},
 {'_id': ObjectId('5cf842ebb0e0523ab9fdcb76'), 'x': 1},
 {'_id': ObjectId('5cf8431fb0e0523ab9fdcb77'),
  'favorite animal': 'silver panther'}]

In [79]:
# Add a couple more
alexanders_doc = {'favorite animal': 'parrot'}
wills_favorite = {'favorite animal': 'goose'}

In [80]:
help(db.test.insert_many)

Help on method insert_many in module pymongo.collection:

insert_many(documents, ordered=True, bypass_document_validation=False, session=None) method of pymongo.collection.Collection instance
    Insert an iterable of documents.

      >>> db.test.count_documents({})
      0
      >>> result = db.test.insert_many([{'x': i} for i in range(2)])
      >>> result.inserted_ids
      [ObjectId('54f113fffba522406c9cc20e'), ObjectId('54f113fffba522406c9cc20f')]
      >>> db.test.count_documents({})
      2

    :Parameters:
      - `documents`: A iterable of documents to insert.
      - `ordered` (optional): If ``True`` (the default) documents will be
        inserted on the server serially, in the order provided. If an error
        occurs all remaining inserts are aborted. If ``False``, documents
        will be inserted on the server in arbitrary order, possibly in
        parallel, and all document inserts will be attempted.
      - `bypass_document_validation`: (optional) If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.

    :Returns:
      An instance of :class:`~pymongo.results.InsertManyResult`.

    .. seealso:: :ref:`writes-and-ids`

    .. note:: `bypass_document_validation` requires server version
      **>= 3.2**

    .. versionchanged:: 3.6
       Added ``session`` parameter.

    .. versionchanged:: 3.2
      Added bypass_document_validation support

    .. versionadded:: 3.0

In [ ]:
db.test.insert_many([alexanders_doc, wills_favorite])

The insert many method can be used to batch insert documents generated by programs.

In [83]:
docs = []
for i in range(10):
  doc = {'even': i % 2 == 0}
  doc['value'] = i
  docs.append(doc)

docs

[{'even': True, 'value': 0},
 {'even': False, 'value': 1},
 {'even': True, 'value': 2},
 {'even': False, 'value': 3},
 {'even': True, 'value': 4},
 {'even': False, 'value': 5},
 {'even': True, 'value': 6},
 {'even': False, 'value': 7},
 {'even': True, 'value': 8},
 {'even': False, 'value': 9}]

In [84]:
db.test.insert_many(docs)

However, it is sensitive to improper datatypes. For example, the dictionary below will return an error. Although a tuple is immutable, it wont allow the values in that tuple to be numeric datatypes.

In [85]:
cool_dict = {
    'awesome': True,
    'even': False,
    'some numbers': [1, 2, 3],
    (3, 4): (5, 6)
}

In [86]:
db.test.insert_one(cool_dict)

InvalidDocument: documents must have only string keys, key was (3, 4)

In [87]:
# Turn those tuples into strings
fixed_dict = {str(key): value for key, value in cool_dict.items()}
fixed_dict

{'awesome': True,
 'even': False,
 'some numbers': [1, 2, 3],
 '(3, 4)': (5, 6),
 '_id': ObjectId('5cf84641b0e0523ab9fdcb84')}

In [88]:
db.test.insert_one(fixed_dict)

Can I insert data in a tuple like with PostgreSQL?

In [90]:
rpg_character = (1, "King Bob", 10, 3, 0, 0, 0)

In [91]:
db.test.insert_one(rpg_character)

TypeError: document must be an instance of dict, bson.son.SON, bson.raw_bson.RawBSONDocument, or a type that inherits from collections.MutableMapping

Turns out you can't insert information with pymongo like with psycopg2. Therefore, when inserting data, best practice might be to code the feature information into the key of the dictionary. Below are a couple methods on inserting document, one without specific descriptors for the keys, and one with.

In [92]:
# The key as the identifier. Assumes the user would know the feature information. Could be identified in the first document. 
db.test.insert_one({'rpg_character': rpg_character})

In [93]:
# End result: with unique objectId, rpg_character identifier key and list containing the information associated with the character. 
db.test.find_one({'rpg_character': rpg_character})

{'_id': ObjectId('5cf846c7b0e0523ab9fdcb85'),
 'rpg_character': [1, 'King Bob', 10, 3, 0, 0, 0]}

In [94]:
# Let's insert a new document with more robust keys referring the names of the stats. 
db.test.insert_one({
    'sql_id': 1,
    'name': rpg_character[1],
    'hp': rpg_character[2],
    'level': rpg_character[3]
})

In [95]:
# Lets see the documents. 
list(db.test.find())

[{'_id': ObjectId('5cf7faecb0e0522fb5285830'), 'x': 1},
 {'_id': ObjectId('5cf842ebb0e0523ab9fdcb76'), 'x': 1},
 {'_id': ObjectId('5cf8431fb0e0523ab9fdcb77'),
  'favorite animal': 'silver panther'},
 {'_id': ObjectId('5cf84530b0e0523ab9fdcb78'), 'favorite animal': 'parrot'},
 {'_id': ObjectId('5cf84530b0e0523ab9fdcb79'), 'favorite animal': 'goose'},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb7a'), 'even': True, 'value': 0},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb7b'), 'even': False, 'value': 1},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb7c'), 'even': True, 'value': 2},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb7d'), 'even': False, 'value': 3},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb7e'), 'even': True, 'value': 4},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb7f'), 'even': False, 'value': 5},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb80'), 'even': True, 'value': 6},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb81'), 'even': False, 'value': 7},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb82'), 'even': True, 'value': 8},
 {'_id': ObjectId('5cf84542b0e0523ab9fdcb83'), 'even': False, 'value': 9},
 {'_id': ObjectId('5cf84641b0e0523ab9fdcb84'),
  'awesome': True,
  'even': False,
  'some numbers': [1, 2, 3],
  '(3, 4)': [5, 6]},
 {'_id': ObjectId('5cf846c7b0e0523ab9fdcb85'),
  'rpg_character': [1, 'King Bob', 10, 3, 0, 0, 0]},
 {'_id': ObjectId('5cf84771b0e0523ab9fdcb86'),
  'sql_id': 1,
  'name': 'King Bob',
  'hp': 10,
  'level': 3}]

In [96]:
# Add another character
another_character = (2, "Queen Jane", 10, 4, 0, 0, 0)
db.test.insert_one({
    'sql_id': 1,
    'name': another_character[1],
    'hp': another_character[2],
    'level': another_character[3]
})

In [98]:
# Use the find method with specific parameters to pull any documents that match the parameters from the database. 
list(db.test.find({'hp': 10, 'level': 4}))

[{'_id': ObjectId('5cf847f0b0e0523ab9fdcb87'),
  'sql_id': 1,
  'name': 'Queen Jane',
  'hp': 10,
  'level': 4}]

## Adding the rpg_db info to the MongoDB cloud

In [110]:
# Let's set the client to the rpg database. I'll be submitting data from the charactercreator_character table from rpg_db.sqlite3
db = client.rpg

In [113]:
# To make sure this works, I'm going to connect to the charactercreator_character collection within the rpg database. 
list(db.charactercreator_character.find())

[]

It works! So I'm going to pull the information from the `rpg_db.sqlite3` file. Specifically, the `charactercreator_character` table.

In [117]:
# I'm going to pull all the information from the charactercreator_character table.
characters = sl_curs.execute('SELECT * FROM charactercreator_character;').fetchall()
# for testing purposes, I'm also going to select a single row. 
single_character = characters[0]
# Now to look at the data
characters

[(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1),
 (2, 'Optio dolorem ex a', 0, 0, 10, 1, 1, 1, 1),
 (3, 'Minus c', 0, 0, 10, 1, 1, 1, 1),
 (4, 'Sit ut repr', 0, 0, 10, 1, 1, 1, 1),
 (5, 'At id recusandae expl', 0, 0, 10, 1, 1, 1, 1),
 (6, 'Non nobis et of', 0, 0, 10, 1, 1, 1, 1),
 (7, 'Perferendis', 0, 0, 10, 1, 1, 1, 1),
 (8, 'Accusantium amet quidem eve', 0, 0, 10, 1, 1, 1, 1),
 (9, 'Sed nostrum inventore error m', 0, 0, 10, 1, 1, 1, 1),
 (10, 'Harum repellendus omnis od', 0, 0, 10, 1, 1, 1, 1),
 (11, 'Itaque ut commodi,', 0, 0, 10, 1, 1, 1, 1),
 (12, 'Molestiae quis', 0, 0, 10, 1, 1, 1, 1),
 (13, 'Ali', 0, 0, 10, 1, 1, 1, 1),
 (14, 'Tempora quod optio possimus il', 0, 0, 10, 1, 1, 1, 1),
 (15, 'Sed itaque beatae pari', 0, 0, 10, 1, 1, 1, 1),
 (16, 'Quam dolor', 0, 0, 10, 1, 1, 1, 1),
 (17, 'Molestias expedita', 0, 0, 10, 1, 1, 1, 1),
 (18, 'Lauda', 0, 0, 10, 1, 1, 1, 1),
 (19, 'Incidunt sint perferen', 0, 0, 10, 1, 1, 1, 1),
 (20, 'Laboriosa', 0, 0, 10, 1, 1, 1, 1),
 (21, 'Dolore esse nesciunt fugit com', 0, 0, 10, 1, 1, 1, 1),
 (22, 'Dolorum nam reic', 0, 0, 10, 1, 1, 1, 1),
 (23, 'Repellat ad numquam volu', 0, 0, 10, 1, 1, 1, 1),
 (24, 'Facere enim velit eligend', 0, 0, 10, 1, 1, 1, 1),
 (25, 'Sed ratione quis rep', 0, 0, 10, 1, 1, 1, 1),
 (26, 'Doloribus neque', 0, 0, 10, 1, 1, 1, 1),
 (27, 'Ab voluptas se', 0, 0, 10, 1, 1, 1, 1),
 (28, 'Molestias m', 0, 0, 10, 1, 1, 1, 1),
 (29, 'In pariatur corpori', 0, 0, 10, 1, 1, 1, 1),
 (30, 'Possimus ad dignissimos vel, a', 0, 0, 10, 1, 1, 1, 1),
 (31, 'At minus accusa', 0, 0, 10, 1, 1, 1, 1),
 (32, 'Ad necess', 0, 0, 10, 1, 1, 1, 1),
 (33, 'Expedita c', 0, 0, 10, 1, 1, 1, 1),
 (34, 'Voluptates sunt voluptas volu', 0, 0, 10, 1, 1, 1, 1),
 (35, 'Autem mollitia fuga lauda', 0, 0, 10, 1, 1, 1, 1),
 (36, 'Sint quibusdam ob', 0, 0, 10, 1, 1, 1, 1),
 (37, 'Rerum et o', 0, 0, 10, 1, 1, 1, 1),
 (38, 'Doloribus dolore r', 0, 0, 10, 1, 1, 1, 1),
 (39, 'Eaque su', 0, 0, 10, 1, 1, 1, 1),
 (40, 'Vel molestias numqua', 0, 0, 10, 1, 1, 1, 1),
 (41, 'Iste assumenda repellat q', 0, 0, 10, 1, 1, 1, 1),
 (42, 'Animi labo', 0, 0, 10, 1, 1, 1, 1),
 (43, 'Eum culpa eaque ea omn', 0, 0, 10, 1, 1, 1, 1),
 (44, 'Harum provident vel quam', 0, 0, 10, 1, 1, 1, 1),
 (45, 'Aspe', 0, 0, 10, 1, 1, 1, 1),
 (46, 'Nisi nequ', 0, 0, 10, 1, 1, 1, 1),
 (47, 'Quod tempora', 0, 0, 10, 1, 1, 1, 1),
 (48, 'Porro aliq', 0, 0, 10, 1, 1, 1, 1),
 (49, 'Quas', 0, 0, 10, 1, 1, 1, 1),
 (50, 'Magnam eligendi quia animi', 0, 0, 10, 1, 1, 1, 1),
 (51, 'Officiis se', 0, 0, 10, 1, 1, 1, 1),
 (52, 'Id assumend', 0, 0, 10, 1, 1, 1, 1),
 (53, 'Voluptatibus fu', 0, 0, 10, 1, 1, 1, 1),
 (54, 'Odit rat', 0, 0, 10, 1, 1, 1, 1),
 (55, 'Debit', 0, 0, 10, 1, 1, 1, 1),
 (56, 'Cum aut quas repudia', 0, 0, 10, 1, 1, 1, 1),
 (57, 'Deleniti qui quae quidem', 0, 0, 10, 1, 1, 1, 1),
 (58, 'Adipisci voluptas', 0, 0, 10, 1, 1, 1, 1),
 (59, 'Debitis sit ratione eos nam', 0, 0, 10, 1, 1, 1, 1),
 (60, 'Esse illo molestias archi', 0, 0, 10, 1, 1, 1, 1),
 (61, 'Sunt at itaque voluptatum d', 0, 0, 10, 1, 1, 1, 1),
 (62, 'Est totam', 0, 0, 10, 1, 1, 1, 1),
 (63, 'Reprehenderit commodi eius', 0, 0, 10, 1, 1, 1, 1),
 (64, 'Debit', 0, 0, 10, 1, 1, 1, 1),
 (65, 'Soluta dol', 0, 0, 10, 1, 1, 1, 1),
 (66, 'Vel nesc', 0, 0, 10, 1, 1, 1, 1),
 (67, 'Ratione quia ali', 0, 0, 10, 1, 1, 1, 1),
 (68, 'Rerum recusandae minima', 0, 0, 10, 1, 1, 1, 1),
 (69, 'Totam natus eius fugiat volu', 0, 0, 10, 1, 1, 1, 1),
 (70, 'Perferendis commodi null', 0, 0, 10, 1, 1, 1, 1),
 (71, 'Laudantiu', 0, 0, 10, 1, 1, 1, 1),
 (72, 'Voluptat', 0, 0, 10, 1, 1, 1, 1),
 (73, 'Incidunt nesciun', 0, 0, 10, 1, 1, 1, 1),
 (74, 'Illum amet vero', 0, 0, 10, 1, 1, 1, 1),
 (75, 'Suscipit exercitationem re', 0, 0, 10, 1, 1, 1, 1),
 (76, 'Quas enim error maxime nisi m', 0, 0, 10, 1, 1, 1, 1),
 (77, 'Labore qu', 0, 0, 10, 1, 1, 1, 1),
 (78, 'Repudiandae deleniti unde', 0, 0, 10, 1, 1, 1, 1),
 (79, 'Ut do', 0, 0, 10, 1, 1, 1, 1),
 (80, 'Quaerat esse labore q', 0, 0, 10, 1, 1, 1, 1),
 (81, 'Quidem aliq', 0, 0, 10, 1, 1, 1, 1),
 (82, 'Aperiam vitae eos dolor sed', 0, 0, 10, 1, 1, 1, 1),
 (83, 'Minus nobis porro', 0, 0, 10, 1, 1, 1, 1),
 (84, 'In similique', 0, 0, 10, 1, 1, 1, 1),
 (85, 'Culpa repellat unde', 0, 0, 10, 1, 1, 1, 1),
 (86, 'Architecto i', 0, 0, 10, 1, 1, 1, 1),
 (87, 'A sed pariatur qua', 0, 0, 10, 1, 1, 1, 1),
 (88, 'Tempore assumenda aperiam', 0, 0, 10, 1, 1, 1, 1),
 (89, 'Sed ullam tempora iusto co', 0, 0, 10, 1, 1, 1, 1),
 (90, 'Ipsa', 0, 0, 10, 1, 1, 1, 1),
 (91, 'Fugiat incidun', 0, 0, 10, 1, 1, 1, 1),
 (92, 'Molestiae of', 0, 0, 10, 1, 1, 1, 1),
 (93, 'Quae quisquam cons', 0, 0, 10, 1, 1, 1, 1),
 (94, 'Repellendus ea non facil', 0, 0, 10, 1, 1, 1, 1),
 (95, 'Quod non quibu', 0, 0, 10, 1, 1, 1, 1),
 (96, 'Numquam velit distinctio', 0, 0, 10, 1, 1, 1, 1),
 (97, 'Necessitatibus nihil ex debi', 0, 0, 10, 1, 1, 1, 1),
 (98, 'Velit tempore nemo, na', 0, 0, 10, 1, 1, 1, 1),
 (99, 'Nesciunt v', 0, 0, 10, 1, 1, 1, 1),
 (100, 'Dicta enim debitis accusantiu', 0, 0, 10, 1, 1, 1, 1),
 (101, 'Vitae a', 0, 0, 10, 1, 1, 1, 1),
 (102, 'Praesentium voluptas u', 0, 0, 10, 1, 1, 1, 1),
 (103, 'Unde ullam mollitia? Nu', 0, 0, 10, 1, 1, 1, 1),
 (104, 'Neque molestias qu', 0, 0, 10, 1, 1, 1, 1),
 (105, 'Officiis es', 0, 0, 10, 1, 1, 1, 1),
 (106, 'Beatae mi', 0, 0, 10, 1, 1, 1, 1),
 (107, 'Mollitia nam corporis temp', 0, 0, 10, 1, 1, 1, 1),
 (108, 'Repudiandae repellat i', 0, 0, 10, 1, 1, 1, 1),
 (109, 'Laboriosam', 0, 0, 10, 1, 1, 1, 1),
 (110, 'Nam minus amet', 0, 0, 10, 1, 1, 1, 1),
 (111, 'Harum quae volup', 0, 0, 10, 1, 1, 1, 1),
 (112, 'Impedit facere ulla', 0, 0, 10, 1, 1, 1, 1),
 (113, 'Enim', 0, 0, 10, 1, 1, 1, 1),
 (114, 'Dolore magni', 0, 0, 10, 1, 1, 1, 1),
 (115, 'Eaque at corpori', 0, 0, 10, 1, 1, 1, 1),
 (116, 'Fug', 0, 0, 10, 1, 1, 1, 1),
 (117, 'Dolorum laudanti', 0, 0, 10, 1, 1, 1, 1),
 (118, 'Perferendis nat', 0, 0, 10, 1, 1, 1, 1),
 (119, 'Cupidi', 0, 0, 10, 1, 1, 1, 1),
 (120, 'Commodi eius dicta digniss', 0, 0, 10, 1, 1, 1, 1),
 (121, 'Debitis eu', 0, 0, 10, 1, 1, 1, 1),
 (122, 'Nihil repella', 0, 0, 10, 1, 1, 1, 1),
 (123, 'Rem quasi minima hic sed anim', 0, 0, 10, 1, 1, 1, 1),
 (124, 'Sed ali', 0, 0, 10, 1, 1, 1, 1),
 (125, 'Earum vol', 0, 0, 10, 1, 1, 1, 1),
 (126, 'Inventore tempore com', 0, 0, 10, 1, 1, 1, 1),
 (127, 'Repell', 0, 0, 10, 1, 1, 1, 1),
 (128, 'Consequatur quis recusandae qu', 0, 0, 10, 1, 1, 1, 1),
 (129, 'Dolores ea velit mi', 0, 0, 10, 1, 1, 1, 1),
 (130, 'Atque blanditiis a aperiam', 0, 0, 10, 1, 1, 1, 1),
 (131, 'Reprehenderit sequi iu', 0, 0, 10, 1, 1, 1, 1),
 (132, 'Natus architecto eos, hic blan', 0, 0, 10, 1, 1, 1, 1),
 (133, 'Ipsa illo quas', 0, 0, 10, 1, 1, 1, 1),
 (134, 'Voluptas ali', 0, 0, 10, 1, 1, 1, 1),
 (135, 'Voluptates obcaecati quod e', 0, 0, 10, 1, 1, 1, 1),
 (136, 'Dolor adipisci a voluptate', 0, 0, 10, 1, 1, 1, 1),
 (137, 'Repellendus natus quae, n', 0, 0, 10, 1, 1, 1, 1),
 (138, 'Laudantium earum nam in dol', 0, 0, 10, 1, 1, 1, 1),
 (139, 'Molestias face', 0, 0, 10, 1, 1, 1, 1),
 (140, 'Maiores suscipit exc', 0, 0, 10, 1, 1, 1, 1),
 (141, 'Illum dolore perferen', 0, 0, 10, 1, 1, 1, 1),
 (142, 'Explicabo recusandae ma', 0, 0, 10, 1, 1, 1, 1),
 (143, 'Odio obcaecati hic nostrum n', 0, 0, 10, 1, 1, 1, 1),
 (144, 'Voluptate ali', 0, 0, 10, 1, 1, 1, 1),
 (145, 'Repudiandae vitae sapiente mol', 0, 0, 10, 1, 1, 1, 1),
 (146, 'Ipsam cumque', 0, 0, 10, 1, 1, 1, 1),
 (147, 'Fugiat quos alias eos dese', 0, 0, 10, 1, 1, 1, 1),
 (148, 'Eaque impe', 0, 0, 10, 1, 1, 1, 1),
 (149, 'Elige', 0, 0, 10, 1, 1, 1, 1),
 (150, 'Adip', 0, 0, 10, 1, 1, 1, 1),
 (151, 'Fuga nemo vel mo', 0, 0, 10, 1, 1, 1, 1),
 (152, 'Libero cumque impedit eveniet', 0, 0, 10, 1, 1, 1, 1),
 (153, 'Odio soluta', 0, 0, 10, 1, 1, 1, 1),
 (154, 'Vero nostrum duc', 0, 0, 10, 1, 1, 1, 1),
 (155, 'Repellend', 0, 0, 10, 1, 1, 1, 1),
 (156, 'Quod', 0, 0, 10, 1, 1, 1, 1),
 (157, 'Suscipit reiciend', 0, 0, 10, 1, 1, 1, 1),
 (158, 'Voluptat', 0, 0, 10, 1, 1, 1, 1),
 (159, 'Porro dolor fuga quam', 0, 0, 10, 1, 1, 1, 1),
 (160, 'Amet quo fugit aliquam sequi', 0, 0, 10, 1, 1, 1, 1),
 (161, 'Magni adipisci veritatis sit q', 0, 0, 10, 1, 1, 1, 1),
 (162, 'Debitis enim cumque cum qu', 0, 0, 10, 1, 1, 1, 1),
 (163, 'Dolorem eligend', 0, 0, 10, 1, 1, 1, 1),
 (164, 'Autem lib', 0, 0, 10, 1, 1, 1, 1),
 (165, 'Saepe assumenda perferendis f', 0, 0, 10, 1, 1, 1, 1),
 (166, 'Deserunt', 0, 0, 10, 1, 1, 1, 1),
 (167, 'Provident soluta simil', 0, 0, 10, 1, 1, 1, 1),
 (168, 'In accu', 0, 0, 10, 1, 1, 1, 1),
 (169, 'Inve', 0, 0, 10, 1, 1, 1, 1),
 (170, 'Placeat sapiente', 0, 0, 10, 1, 1, 1, 1),
 (171, 'Ducimus architecto ullam', 0, 0, 10, 1, 1, 1, 1),
 (172, 'Voluptate tempora rerum', 0, 0, 10, 1, 1, 1, 1),
 (173, 'Totam incidunt earum perspicia', 0, 0, 10, 1, 1, 1, 1),
 (174, 'Optio quas e', 0, 0, 10, 1, 1, 1, 1),
 (175, 'Ab illum invento', 0, 0, 10, 1, 1, 1, 1),
 (176, 'Repellat quis natus totam, s', 0, 0, 10, 1, 1, 1, 1),
 (177, 'Est voluptate accusantium tem', 0, 0, 10, 1, 1, 1, 1),
 (178, 'Beatae q', 0, 0, 10, 1, 1, 1, 1),
 (179, 'Velit', 0, 0, 10, 1, 1, 1, 1),
 (180, 'Minus nequ', 0, 0, 10, 1, 1, 1, 1),
 (181, 'Autem eos voluptates off', 0, 0, 10, 1, 1, 1, 1),
 (182, 'Vel fug', 0, 0, 10, 1, 1, 1, 1),
 (183, 'Architecto repudian', 0, 0, 10, 1, 1, 1, 1),
 (184, 'Opti', 0, 0, 10, 1, 1, 1, 1),
 (185, 'Iust', 0, 0, 10, 1, 1, 1, 1),
 (186, 'Sapiente', 0, 0, 10, 1, 1, 1, 1),
 (187, 'Officiis repellat corrupti su', 0, 0, 10, 1, 1, 1, 1),
 (188, 'Dicta et natus e', 0, 0, 10, 1, 1, 1, 1),
 (189, 'At quos', 0, 0, 10, 1, 1, 1, 1),
 (190, 'Laborum ven', 0, 0, 10, 1, 1, 1, 1),
 (191, 'Exceptur', 0, 0, 10, 1, 1, 1, 1),
 (192, 'Reiciendis assumenda dolo', 0, 0, 10, 1, 1, 1, 1),
 (193, 'Poss', 0, 0, 10, 1, 1, 1, 1),
 (194, 'Acc', 0, 0, 10, 1, 1, 1, 1),
 (195, 'Placeat esse archit', 0, 0, 10, 1, 1, 1, 1),
 (196, 'Enim repellendus nihil est te', 0, 0, 10, 1, 1, 1, 1),
 (197, 'Ipsam incidunt t', 0, 0, 10, 1, 1, 1, 1),
 (198, 'Iure', 0, 0, 10, 1, 1, 1, 1),
 (199, 'Illo en', 0, 0, 10, 1, 1, 1, 1),
 (200, 'A rem ex', 0, 0, 10, 1, 1, 1, 1),
 (201, 'Officiis su', 0, 0, 10, 1, 1, 1, 1),
 (202, 'Numquam molestias', 0, 0, 10, 1, 1, 1, 1),
 (203, 'Voluptates unde', 0, 0, 10, 1, 1, 1, 1),
 (204, 'Quae praesentium vel', 0, 0, 10, 1, 1, 1, 1),
 (205, 'Quas', 0, 0, 10, 1, 1, 1, 1),
 (206, 'Dolores aliquid inv', 0, 0, 10, 1, 1, 1, 1),
 (207, 'Mollitia tempore laborum eaqu', 0, 0, 10, 1, 1, 1, 1),
 (208, 'Nobis voluptates fugiat quia', 0, 0, 10, 1, 1, 1, 1),
 (209, 'Similique dolorem dolore maio', 0, 0, 10, 1, 1, 1, 1),
 (210, 'Sapiente', 0, 0, 10, 1, 1, 1, 1),
 (211, 'Officia nisi dolore', 0, 0, 10, 1, 1, 1, 1),
 (212, 'Distinctio', 0, 0, 10, 1, 1, 1, 1),
 (213, 'Eos quia dignissimos saepe vel', 0, 0, 10, 1, 1, 1, 1),
 (214, 'Ullam neque sint eligendi', 0, 0, 10, 1, 1, 1, 1),
 (215, 'Excepturi deleniti ab a', 0, 0, 10, 1, 1, 1, 1),
 (216, 'Accusa', 0, 0, 10, 1, 1, 1, 1),
 (217, 'Reiciendis laboriosam di', 0, 0, 10, 1, 1, 1, 1),
 (218, 'Delectus ex', 0, 0, 10, 1, 1, 1, 1),
 (219, 'Pari', 0, 0, 10, 1, 1, 1, 1),
 (220, 'Veritatis velit facilis iste', 0, 0, 10, 1, 1, 1, 1),
 (221, 'Dol', 0, 0, 10, 1, 1, 1, 1),
 (222, 'Qui iste pr', 0, 0, 10, 1, 1, 1, 1),
 (223, 'Deleni', 0, 0, 10, 1, 1, 1, 1),
 (224, 'Reprehenderit volu', 0, 0, 10, 1, 1, 1, 1),
 (225, 'Accusantium vitae n', 0, 0, 10, 1, 1, 1, 1),
 (226, 'Natus consequatur incidun', 0, 0, 10, 1, 1, 1, 1),
 (227, 'Dignissimos a', 0, 0, 10, 1, 1, 1, 1),
 (228, 'Vitae modi', 0, 0, 10, 1, 1, 1, 1),
 (229, 'Accusantium qu', 0, 0, 10, 1, 1, 1, 1),
 (230, 'Reiciendis dignissimos ratio', 0, 0, 10, 1, 1, 1, 1),
 (231, 'Expedita provident natus volup', 0, 0, 10, 1, 1, 1, 1),
 (232, 'Rerum repellat voluptas c', 0, 0, 10, 1, 1, 1, 1),
 (233, 'Maiores quos incidunt dolor', 0, 0, 10, 1, 1, 1, 1),
 (234, 'Aper', 0, 0, 10, 1, 1, 1, 1),
 (235, 'Nulla', 0, 0, 10, 1, 1, 1, 1),
 (236, 'Laudantium tempora itaque', 0, 0, 10, 1, 1, 1, 1),
 (237, 'Reprehenderit', 0, 0, 10, 1, 1, 1, 1),
 (238, 'Aliqu', 0, 0, 10, 1, 1, 1, 1),
 (239, 'Odio harum nam mole', 0, 0, 10, 1, 1, 1, 1),
 (240, 'Arc', 0, 0, 10, 1, 1, 1, 1),
 (241, 'Reprehenderit li', 0, 0, 10, 1, 1, 1, 1),
 (242, 'Repr', 0, 0, 10, 1, 1, 1, 1),
 (243, 'Optio m', 0, 0, 10, 1, 1, 1, 1),
 (244, 'Esse odit amet rep', 0, 0, 10, 1, 1, 1, 1),
 (245, 'Provident nostrum minima', 0, 0, 10, 1, 1, 1, 1),
 (246, 'Ex nihil quae facilis a omni', 0, 0, 10, 1, 1, 1, 1),
 (247, 'Dolorem quaerat sunt', 0, 0, 10, 1, 1, 1, 1),
 (248, 'Distinctio', 0, 0, 10, 1, 1, 1, 1),
 (249, 'Repudiandae ip', 0, 0, 10, 1, 1, 1, 1),
 (250, 'Iste debitis dolorum amet m', 0, 0, 10, 1, 1, 1, 1),
 (251, 'Non qui vo', 0, 0, 10, 1, 1, 1, 1),
 (252, 'Dolorem ma', 0, 0, 10, 1, 1, 1, 1),
 (253, 'Molestias labore tempore ita', 0, 0, 10, 1, 1, 1, 1),
 (254, 'Vol', 0, 0, 10, 1, 1, 1, 1),
 (255, 'Adipisci molest', 0, 0, 10, 1, 1, 1, 1),
 (256, 'Omni', 0, 0, 10, 1, 1, 1, 1),
 (257, 'Voluptatibus dolor', 0, 0, 10, 1, 1, 1, 1),
 (258, 'Quo', 0, 0, 10, 1, 1, 1, 1),
 (259, 'Atque aspernatur possi', 0, 0, 10, 1, 1, 1, 1),
 (260, 'Ullam c', 0, 0, 10, 1, 1, 1, 1),
 (261, 'Iusto quas voluptatibu', 0, 0, 10, 1, 1, 1, 1),
 (262, 'Optio qui sunt dolores, ab', 0, 0, 10, 1, 1, 1, 1),
 (263, 'Illum recusandae nulla re', 0, 0, 10, 1, 1, 1, 1),
 (264, 'Verita', 0, 0, 10, 1, 1, 1, 1),
 (265, 'Expedita quod blanditiis', 0, 0, 10, 1, 1, 1, 1),
 (266, 'Mag', 0, 0, 10, 1, 1, 1, 1),
 (267, 'Omnis quos aspernatur d', 0, 0, 10, 1, 1, 1, 1),
 (268, 'Sunt impedit co', 0, 0, 10, 1, 1, 1, 1),
 (269, 'Minima quam ea ad', 0, 0, 10, 1, 1, 1, 1),
 (270, 'Suscipit quidem e', 0, 0, 10, 1, 1, 1, 1),
 (271, 'Harum', 0, 0, 10, 1, 1, 1, 1),
 (272, 'Dolore laborum ips', 0, 0, 10, 1, 1, 1, 1),
 (273, 'Magni veniam earum corporis', 0, 0, 10, 1, 1, 1, 1),
 (274, 'Optio', 0, 0, 10, 1, 1, 1, 1),
 (275, 'Nam fugit vel.', 0, 0, 10, 1, 1, 1, 1),
 (276, 'Ut numquam quam eum, alias ius', 0, 0, 10, 1, 1, 1, 1),
 (277, 'Error amet tempore nulla', 0, 0, 10, 1, 1, 1, 1),
 (278, 'Deserunt a', 0, 0, 10, 1, 1, 1, 1),
 (279, 'Aperiam sit', 0, 0, 10, 1, 1, 1, 1),
 (280, 'Asperi', 0, 0, 10, 1, 1, 1, 1),
 (281, 'Similique aperiam earum expli', 0, 0, 10, 1, 1, 1, 1),
 (282, 'Iure h', 0, 0, 10, 1, 1, 1, 1),
 (283, 'At sint ducimus nostrum i', 0, 0, 10, 1, 1, 1, 1),
 (284, 'Reprehenderit temporib', 0, 0, 10, 1, 1, 1, 1),
 (285, 'Molestiae quaerat maxim', 0, 0, 10, 1, 1, 1, 1),
 (286, 'Maior', 0, 0, 10, 1, 1, 1, 1),
 (287, 'Unde natus ut ipsa cupi', 0, 0, 10, 1, 1, 1, 1),
 (288, 'Praesentium atque ear', 0, 0, 10, 1, 1, 1, 1),
 (289, 'Rem minima', 0, 0, 10, 1, 1, 1, 1),
 (290, 'Provident sed soluta, sed si', 0, 0, 10, 1, 1, 1, 1),
 (291, 'Natus quia veritatis', 0, 0, 10, 1, 1, 1, 1),
 (292, 'Vero a', 0, 0, 10, 1, 1, 1, 1),
 (293, 'Optio harum labori', 0, 0, 10, 1, 1, 1, 1),
 (294, 'Duci', 0, 0, 10, 1, 1, 1, 1),
 (295, 'Ipsa elige', 0, 0, 10, 1, 1, 1, 1),
 (296, 'Sunt blanditiis i', 0, 0, 10, 1, 1, 1, 1),
 (297, 'Doloremque', 0, 0, 10, 1, 1, 1, 1),
 (298, 'Autem ratione vitae quos, do', 0, 0, 10, 1, 1, 1, 1),
 (299, 'Voluptatibus aliquid', 0, 0, 10, 1, 1, 1, 1),
 (300, 'Quaerat sequi sit eius corpori', 0, 0, 10, 1, 1, 1, 1),
 (301, 'Libe', 0, 0, 10, 1, 1, 1, 1),
 (302, 'Aliquam n', 0, 0, 10, 1, 1, 1, 1)]

In [118]:
single_character

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

So the data is here. Just to look at the key information one more time:

```python
class Character(models.Model):
    """Base representation of RPG characters."""
    character_id = models.AutoField(primary_key=True)
    name = models.CharField("Character's name", max_length=30)
    level = models.IntegerField(default=0)
    exp = models.IntegerField(default=0)
    hp = models.IntegerField(default=10)
    strength = models.IntegerField(default=1)
    intelligence = models.IntegerField(default=1)
    dexterity = models.IntegerField(default=1)
    wisdom = models.IntegerField(default=1)
```

In [122]:
doc = {
    'sql_id' : single_character[0],
    'name' : single_character[1],
    'level' : single_character[2],
    'exp' : single_character[3],
    'hp' : single_character[4],
    'strength' : single_character[5],
    'intelligence' : single_character[6],
    'dexterity' : single_character[7],
    'wisdom' : single_character[8]
}

In [123]:
doc

{'sql_id': 1,
 'name': 'Aliquid iste optio reiciendi',
 'level': 0,
 'exp': 0,
 'hp': 10,
 'strength': 1,
 'intelligence': 1,
 'dexterity': 1,
 'wisdom': 1}

In [127]:
# Now I can use this template to loop through the character database. 
# I will use a list comprehension, then the insert_many method. 

documents = []
for i in list(range(len(characters))):
    document = {'sql_id' : characters[i][0],
                        'name' : characters[i][1],
                        'level' : characters[i][2],
                        'exp' : characters[i][3],
                        'hp' : characters[i][4],
                        'strength' : characters[i][5],
                        'intelligence' : characters[i][6],
                        'dexterity' : characters[i][7],
                        'wisdom' : characters[i][8]}
    documents.append(document)
    
documents

[{'sql_id': 1,
  'name': 'Aliquid iste optio reiciendi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 2,
  'name': 'Optio dolorem ex a',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 3,
  'name': 'Minus c',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 4,
  'name': 'Sit ut repr',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 5,
  'name': 'At id recusandae expl',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 6,
  'name': 'Non nobis et of',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 7,
  'name': 'Perferendis',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 8,
  'name': 'Accusantium amet quidem eve',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 9,
  'name': 'Sed nostrum inventore error m',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 10,
  'name': 'Harum repellendus omnis od',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 11,
  'name': 'Itaque ut commodi,',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 12,
  'name': 'Molestiae quis',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 13,
  'name': 'Ali',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 14,
  'name': 'Tempora quod optio possimus il',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 15,
  'name': 'Sed itaque beatae pari',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 16,
  'name': 'Quam dolor',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 17,
  'name': 'Molestias expedita',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 18,
  'name': 'Lauda',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 19,
  'name': 'Incidunt sint perferen',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 20,
  'name': 'Laboriosa',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 21,
  'name': 'Dolore esse nesciunt fugit com',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 22,
  'name': 'Dolorum nam reic',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 23,
  'name': 'Repellat ad numquam volu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 24,
  'name': 'Facere enim velit eligend',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 25,
  'name': 'Sed ratione quis rep',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 26,
  'name': 'Doloribus neque',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 27,
  'name': 'Ab voluptas se',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 28,
  'name': 'Molestias m',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 29,
  'name': 'In pariatur corpori',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 30,
  'name': 'Possimus ad dignissimos vel, a',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 31,
  'name': 'At minus accusa',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 32,
  'name': 'Ad necess',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 33,
  'name': 'Expedita c',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 34,
  'name': 'Voluptates sunt voluptas volu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 35,
  'name': 'Autem mollitia fuga lauda',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 36,
  'name': 'Sint quibusdam ob',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 37,
  'name': 'Rerum et o',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 38,
  'name': 'Doloribus dolore r',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 39,
  'name': 'Eaque su',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 40,
  'name': 'Vel molestias numqua',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 41,
  'name': 'Iste assumenda repellat q',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 42,
  'name': 'Animi labo',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 43,
  'name': 'Eum culpa eaque ea omn',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 44,
  'name': 'Harum provident vel quam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 45,
  'name': 'Aspe',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 46,
  'name': 'Nisi nequ',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 47,
  'name': 'Quod tempora',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 48,
  'name': 'Porro aliq',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 49,
  'name': 'Quas',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 50,
  'name': 'Magnam eligendi quia animi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 51,
  'name': 'Officiis se',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 52,
  'name': 'Id assumend',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 53,
  'name': 'Voluptatibus fu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 54,
  'name': 'Odit rat',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 55,
  'name': 'Debit',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 56,
  'name': 'Cum aut quas repudia',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 57,
  'name': 'Deleniti qui quae quidem',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 58,
  'name': 'Adipisci voluptas',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 59,
  'name': 'Debitis sit ratione eos nam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 60,
  'name': 'Esse illo molestias archi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 61,
  'name': 'Sunt at itaque voluptatum d',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 62,
  'name': 'Est totam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 63,
  'name': 'Reprehenderit commodi eius',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 64,
  'name': 'Debit',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 65,
  'name': 'Soluta dol',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 66,
  'name': 'Vel nesc',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 67,
  'name': 'Ratione quia ali',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 68,
  'name': 'Rerum recusandae minima',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 69,
  'name': 'Totam natus eius fugiat volu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 70,
  'name': 'Perferendis commodi null',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 71,
  'name': 'Laudantiu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 72,
  'name': 'Voluptat',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 73,
  'name': 'Incidunt nesciun',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 74,
  'name': 'Illum amet vero',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 75,
  'name': 'Suscipit exercitationem re',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 76,
  'name': 'Quas enim error maxime nisi m',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 77,
  'name': 'Labore qu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 78,
  'name': 'Repudiandae deleniti unde',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 79,
  'name': 'Ut do',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 80,
  'name': 'Quaerat esse labore q',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 81,
  'name': 'Quidem aliq',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 82,
  'name': 'Aperiam vitae eos dolor sed',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 83,
  'name': 'Minus nobis porro',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 84,
  'name': 'In similique',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 85,
  'name': 'Culpa repellat unde',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 86,
  'name': 'Architecto i',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 87,
  'name': 'A sed pariatur qua',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 88,
  'name': 'Tempore assumenda aperiam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 89,
  'name': 'Sed ullam tempora iusto co',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 90,
  'name': 'Ipsa',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 91,
  'name': 'Fugiat incidun',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 92,
  'name': 'Molestiae of',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 93,
  'name': 'Quae quisquam cons',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 94,
  'name': 'Repellendus ea non facil',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 95,
  'name': 'Quod non quibu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 96,
  'name': 'Numquam velit distinctio',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 97,
  'name': 'Necessitatibus nihil ex debi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 98,
  'name': 'Velit tempore nemo, na',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 99,
  'name': 'Nesciunt v',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 100,
  'name': 'Dicta enim debitis accusantiu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 101,
  'name': 'Vitae a',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 102,
  'name': 'Praesentium voluptas u',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 103,
  'name': 'Unde ullam mollitia? Nu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 104,
  'name': 'Neque molestias qu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 105,
  'name': 'Officiis es',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 106,
  'name': 'Beatae mi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 107,
  'name': 'Mollitia nam corporis temp',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 108,
  'name': 'Repudiandae repellat i',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 109,
  'name': 'Laboriosam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 110,
  'name': 'Nam minus amet',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 111,
  'name': 'Harum quae volup',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 112,
  'name': 'Impedit facere ulla',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 113,
  'name': 'Enim',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 114,
  'name': 'Dolore magni',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 115,
  'name': 'Eaque at corpori',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 116,
  'name': 'Fug',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 117,
  'name': 'Dolorum laudanti',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 118,
  'name': 'Perferendis nat',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 119,
  'name': 'Cupidi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 120,
  'name': 'Commodi eius dicta digniss',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 121,
  'name': 'Debitis eu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 122,
  'name': 'Nihil repella',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 123,
  'name': 'Rem quasi minima hic sed anim',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 124,
  'name': 'Sed ali',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 125,
  'name': 'Earum vol',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 126,
  'name': 'Inventore tempore com',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 127,
  'name': 'Repell',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'sql_id': 128,
  'name': 'Consequatur quis recusandae qu',
  'level': 0,
  'exp': 0,

In [129]:
# Good thing the insert_many method takes a list as a parameter!
db.charactercreator_character.insert_many(documents)

In [132]:
list(db.charactercreator_character.find())

[{'_id': ObjectId('5cf882acb0e0523ab9fdcb88'),
  'sql_id': 1,
  'name': 'Aliquid iste optio reiciendi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb89'),
  'sql_id': 2,
  'name': 'Optio dolorem ex a',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb8a'),
  'sql_id': 3,
  'name': 'Minus c',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb8b'),
  'sql_id': 4,
  'name': 'Sit ut repr',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb8c'),
  'sql_id': 5,
  'name': 'At id recusandae expl',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb8d'),
  'sql_id': 6,
  'name': 'Non nobis et of',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb8e'),
  'sql_id': 7,
  'name': 'Perferendis',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb8f'),
  'sql_id': 8,
  'name': 'Accusantium amet quidem eve',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb90'),
  'sql_id': 9,
  'name': 'Sed nostrum inventore error m',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb91'),
  'sql_id': 10,
  'name': 'Harum repellendus omnis od',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb92'),
  'sql_id': 11,
  'name': 'Itaque ut commodi,',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb93'),
  'sql_id': 12,
  'name': 'Molestiae quis',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb94'),
  'sql_id': 13,
  'name': 'Ali',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb95'),
  'sql_id': 14,
  'name': 'Tempora quod optio possimus il',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb96'),
  'sql_id': 15,
  'name': 'Sed itaque beatae pari',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb97'),
  'sql_id': 16,
  'name': 'Quam dolor',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb98'),
  'sql_id': 17,
  'name': 'Molestias expedita',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb99'),
  'sql_id': 18,
  'name': 'Lauda',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb9a'),
  'sql_id': 19,
  'name': 'Incidunt sint perferen',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb9b'),
  'sql_id': 20,
  'name': 'Laboriosa',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb9c'),
  'sql_id': 21,
  'name': 'Dolore esse nesciunt fugit com',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb9d'),
  'sql_id': 22,
  'name': 'Dolorum nam reic',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb9e'),
  'sql_id': 23,
  'name': 'Repellat ad numquam volu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcb9f'),
  'sql_id': 24,
  'name': 'Facere enim velit eligend',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba0'),
  'sql_id': 25,
  'name': 'Sed ratione quis rep',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba1'),
  'sql_id': 26,
  'name': 'Doloribus neque',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba2'),
  'sql_id': 27,
  'name': 'Ab voluptas se',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba3'),
  'sql_id': 28,
  'name': 'Molestias m',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba4'),
  'sql_id': 29,
  'name': 'In pariatur corpori',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba5'),
  'sql_id': 30,
  'name': 'Possimus ad dignissimos vel, a',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba6'),
  'sql_id': 31,
  'name': 'At minus accusa',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba7'),
  'sql_id': 32,
  'name': 'Ad necess',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba8'),
  'sql_id': 33,
  'name': 'Expedita c',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcba9'),
  'sql_id': 34,
  'name': 'Voluptates sunt voluptas volu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbaa'),
  'sql_id': 35,
  'name': 'Autem mollitia fuga lauda',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbab'),
  'sql_id': 36,
  'name': 'Sint quibusdam ob',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbac'),
  'sql_id': 37,
  'name': 'Rerum et o',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbad'),
  'sql_id': 38,
  'name': 'Doloribus dolore r',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbae'),
  'sql_id': 39,
  'name': 'Eaque su',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbaf'),
  'sql_id': 40,
  'name': 'Vel molestias numqua',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb0'),
  'sql_id': 41,
  'name': 'Iste assumenda repellat q',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb1'),
  'sql_id': 42,
  'name': 'Animi labo',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb2'),
  'sql_id': 43,
  'name': 'Eum culpa eaque ea omn',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb3'),
  'sql_id': 44,
  'name': 'Harum provident vel quam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb4'),
  'sql_id': 45,
  'name': 'Aspe',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb5'),
  'sql_id': 46,
  'name': 'Nisi nequ',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb6'),
  'sql_id': 47,
  'name': 'Quod tempora',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb7'),
  'sql_id': 48,
  'name': 'Porro aliq',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb8'),
  'sql_id': 49,
  'name': 'Quas',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbb9'),
  'sql_id': 50,
  'name': 'Magnam eligendi quia animi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbba'),
  'sql_id': 51,
  'name': 'Officiis se',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbbb'),
  'sql_id': 52,
  'name': 'Id assumend',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbbc'),
  'sql_id': 53,
  'name': 'Voluptatibus fu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbbd'),
  'sql_id': 54,
  'name': 'Odit rat',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbbe'),
  'sql_id': 55,
  'name': 'Debit',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbbf'),
  'sql_id': 56,
  'name': 'Cum aut quas repudia',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc0'),
  'sql_id': 57,
  'name': 'Deleniti qui quae quidem',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc1'),
  'sql_id': 58,
  'name': 'Adipisci voluptas',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc2'),
  'sql_id': 59,
  'name': 'Debitis sit ratione eos nam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc3'),
  'sql_id': 60,
  'name': 'Esse illo molestias archi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc4'),
  'sql_id': 61,
  'name': 'Sunt at itaque voluptatum d',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc5'),
  'sql_id': 62,
  'name': 'Est totam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc6'),
  'sql_id': 63,
  'name': 'Reprehenderit commodi eius',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc7'),
  'sql_id': 64,
  'name': 'Debit',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc8'),
  'sql_id': 65,
  'name': 'Soluta dol',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbc9'),
  'sql_id': 66,
  'name': 'Vel nesc',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbca'),
  'sql_id': 67,
  'name': 'Ratione quia ali',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbcb'),
  'sql_id': 68,
  'name': 'Rerum recusandae minima',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbcc'),
  'sql_id': 69,
  'name': 'Totam natus eius fugiat volu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbcd'),
  'sql_id': 70,
  'name': 'Perferendis commodi null',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbce'),
  'sql_id': 71,
  'name': 'Laudantiu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbcf'),
  'sql_id': 72,
  'name': 'Voluptat',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd0'),
  'sql_id': 73,
  'name': 'Incidunt nesciun',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd1'),
  'sql_id': 74,
  'name': 'Illum amet vero',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd2'),
  'sql_id': 75,
  'name': 'Suscipit exercitationem re',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd3'),
  'sql_id': 76,
  'name': 'Quas enim error maxime nisi m',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd4'),
  'sql_id': 77,
  'name': 'Labore qu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd5'),
  'sql_id': 78,
  'name': 'Repudiandae deleniti unde',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd6'),
  'sql_id': 79,
  'name': 'Ut do',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd7'),
  'sql_id': 80,
  'name': 'Quaerat esse labore q',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd8'),
  'sql_id': 81,
  'name': 'Quidem aliq',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbd9'),
  'sql_id': 82,
  'name': 'Aperiam vitae eos dolor sed',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbda'),
  'sql_id': 83,
  'name': 'Minus nobis porro',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbdb'),
  'sql_id': 84,
  'name': 'In similique',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbdc'),
  'sql_id': 85,
  'name': 'Culpa repellat unde',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbdd'),
  'sql_id': 86,
  'name': 'Architecto i',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbde'),
  'sql_id': 87,
  'name': 'A sed pariatur qua',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbdf'),
  'sql_id': 88,
  'name': 'Tempore assumenda aperiam',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe0'),
  'sql_id': 89,
  'name': 'Sed ullam tempora iusto co',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe1'),
  'sql_id': 90,
  'name': 'Ipsa',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe2'),
  'sql_id': 91,
  'name': 'Fugiat incidun',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe3'),
  'sql_id': 92,
  'name': 'Molestiae of',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe4'),
  'sql_id': 93,
  'name': 'Quae quisquam cons',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe5'),
  'sql_id': 94,
  'name': 'Repellendus ea non facil',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe6'),
  'sql_id': 95,
  'name': 'Quod non quibu',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe7'),
  'sql_id': 96,
  'name': 'Numquam velit distinctio',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe8'),
  'sql_id': 97,
  'name': 'Necessitatibus nihil ex debi',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,
  'wisdom': 1},
 {'_id': ObjectId('5cf882acb0e0523ab9fdcbe9'),
  'sql_id': 98,
  'name': 'Velit tempore nemo, na',
  'level': 0,
  'exp': 0,
  'hp': 10,
  'strength': 1,
  'intelligence': 1,
  'dexterity': 1,

## Titanic Dataset to MongoDB

In [164]:
# Changing the database that I am working on.
db = client.titanic

df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

I can do a list comprehension to create a list of dictionaries just like the rpg_db. The effect should be the same.

In [189]:
documents = []

for i in list(range(len(df))):
    document = {
        'Survived' : str(df['Survived'][i]),
        'Pclass' : str(df['Pclass'][i]),
        'Name' : str(df['Name'][i]),
        'Sex' : str(df['Sex'][i]),
        'Age' : str(df['Age'][i]),
        'Siblings_Spouses Aboard' : str(df['Siblings/Spouses Aboard'][i]),
        'Parents_Children Aboard' : str(df['Parents/Children Aboard'][i]),
        'Fare' : str(df['Fare'][i])
    }
    documents.append(document)
    
documents

[{'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Owen Harris Braund',
  'Sex': 'male',
  'Age': '22.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '7.25'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mrs. John Bradley (Florence Briggs Thayer) Cumings',
  'Sex': 'female',
  'Age': '38.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '71.2833'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Laina Heikkinen',
  'Sex': 'female',
  'Age': '26.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.925'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mrs. Jacques Heath (Lily May Peel) Futrelle',
  'Sex': 'female',
  'Age': '35.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '53.1'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. William Henry Allen',
  'Sex': 'male',
  'Age': '35.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. James Moran',
  'Sex': 'male',
  'Age': '27.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.4583'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Timothy J McCarthy',
  'Sex': 'male',
  'Age': '54.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '51.8625'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Master. Gosta Leonard Palsson',
  'Sex': 'male',
  'Age': '2.0',
  'Siblings_Spouses Aboard': '3',
  'Parents_Children Aboard': '1',
  'Fare': '21.075'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
  'Sex': 'female',
  'Age': '27.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '2',
  'Fare': '11.1333'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mrs. Nicholas (Adele Achem) Nasser',
  'Sex': 'female',
  'Age': '14.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '30.0708'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Marguerite Rut Sandstrom',
  'Sex': 'female',
  'Age': '4.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '1',
  'Fare': '16.7'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Miss. Elizabeth Bonnell',
  'Sex': 'female',
  'Age': '58.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '26.55'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. William Henry Saundercock',
  'Sex': 'male',
  'Age': '20.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Anders Johan Andersson',
  'Sex': 'male',
  'Age': '39.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '5',
  'Fare': '31.275'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Miss. Hulda Amanda Adolfina Vestrom',
  'Sex': 'female',
  'Age': '14.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8542'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mrs. (Mary D Kingcome) Hewlett',
  'Sex': 'female',
  'Age': '55.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '16.0'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Master. Eugene Rice',
  'Sex': 'male',
  'Age': '2.0',
  'Siblings_Spouses Aboard': '4',
  'Parents_Children Aboard': '1',
  'Fare': '29.125'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mr. Charles Eugene Williams',
  'Sex': 'male',
  'Age': '23.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '13.0'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke',
  'Sex': 'female',
  'Age': '31.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '18.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mrs. Fatima Masselmani',
  'Sex': 'female',
  'Age': '22.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.225'},
 {'Survived': '0',
  'Pclass': '2',
  'Name': 'Mr. Joseph J Fynney',
  'Sex': 'male',
  'Age': '35.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '26.0'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mr. Lawrence Beesley',
  'Sex': 'male',
  'Age': '34.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '13.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Anna McGowan',
  'Sex': 'female',
  'Age': '15.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.0292'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mr. William Thompson Sloper',
  'Sex': 'male',
  'Age': '28.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '35.5'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Miss. Torborg Danira Palsson',
  'Sex': 'female',
  'Age': '8.0',
  'Siblings_Spouses Aboard': '3',
  'Parents_Children Aboard': '1',
  'Fare': '21.075'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund',
  'Sex': 'female',
  'Age': '38.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '5',
  'Fare': '31.3875'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Farred Chehab Emir',
  'Sex': 'male',
  'Age': '26.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.225'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Charles Alexander Fortune',
  'Sex': 'male',
  'Age': '19.0',
  'Siblings_Spouses Aboard': '3',
  'Parents_Children Aboard': '2',
  'Fare': '263.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': "Miss. Ellen O'Dwyer",
  'Sex': 'female',
  'Age': '24.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8792'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Lalio Todoroff',
  'Sex': 'male',
  'Age': '23.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8958'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Don. Manuel E Uruchurtu',
  'Sex': 'male',
  'Age': '40.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '27.7208'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mrs. William Augustus (Marie Eugenie) Spencer',
  'Sex': 'female',
  'Age': '48.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '146.5208'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Mary Agatha Glynn',
  'Sex': 'female',
  'Age': '18.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.75'},
 {'Survived': '0',
  'Pclass': '2',
  'Name': 'Mr. Edward H Wheadon',
  'Sex': 'male',
  'Age': '66.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '10.5'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Edgar Joseph Meyer',
  'Sex': 'male',
  'Age': '28.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '82.1708'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Alexander Oskar Holverson',
  'Sex': 'male',
  'Age': '42.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '52.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mr. Hanna Mamee',
  'Sex': 'male',
  'Age': '18.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.2292'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Ernest Charles Cann',
  'Sex': 'male',
  'Age': '21.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Miss. Augusta Maria Vander Planke',
  'Sex': 'female',
  'Age': '18.0',
  'Siblings_Spouses Aboard': '2',
  'Parents_Children Aboard': '0',
  'Fare': '18.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Jamila Nicola-Yarred',
  'Sex': 'female',
  'Age': '14.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '11.2417'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mrs. Johan (Johanna Persdotter Larsson) Ahlin',
  'Sex': 'female',
  'Age': '40.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '9.475'},
 {'Survived': '0',
  'Pclass': '2',
  'Name': 'Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin',
  'Sex': 'female',
  'Age': '27.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '21.0'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Miss. Simonne Marie Anne Andree Laroche',
  'Sex': 'female',
  'Age': '3.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '2',
  'Fare': '41.5792'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Margaret Delia Devaney',
  'Sex': 'female',
  'Age': '19.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8792'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. William John Rogers',
  'Sex': 'male',
  'Age': '30.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Denis Lennon',
  'Sex': 'male',
  'Age': '20.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '15.5'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': "Miss. Bridget O'Driscoll",
  'Sex': 'female',
  'Age': '27.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.75'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Youssef Samaan',
  'Sex': 'male',
  'Age': '16.0',
  'Siblings_Spouses Aboard': '2',
  'Parents_Children Aboard': '0',
  'Fare': '21.6792'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mrs. Josef (Josefine Franchi) Arnold-Franchi',
  'Sex': 'female',
  'Age': '18.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '17.8'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Master. Juha Niilo Panula',
  'Sex': 'male',
  'Age': '7.0',
  'Siblings_Spouses Aboard': '4',
  'Parents_Children Aboard': '1',
  'Fare': '39.6875'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Richard Cater Nosworthy',
  'Sex': 'male',
  'Age': '21.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mrs. Henry Sleeper (Myna Haxtun) Harper',
  'Sex': 'female',
  'Age': '49.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '76.7292'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe',
  'Sex': 'female',
  'Age': '29.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '26.0'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Engelhart Cornelius Ostby',
  'Sex': 'male',
  'Age': '65.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '1',
  'Fare': '61.9792'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mr. Hugh Woolner',
  'Sex': 'male',
  'Age': '46.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '35.5'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Miss. Emily Rugg',
  'Sex': 'female',
  'Age': '21.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '10.5'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Mansouer Novel',
  'Sex': 'male',
  'Age': '28.5',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.2292'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Miss. Constance Mirium West',
  'Sex': 'female',
  'Age': '5.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '2',
  'Fare': '27.75'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Master. William Frederick Goodwin',
  'Sex': 'male',
  'Age': '11.0',
  'Siblings_Spouses Aboard': '5',
  'Parents_Children Aboard': '2',
  'Fare': '46.9'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Orsen Sirayanian',
  'Sex': 'male',
  'Age': '22.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.2292'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Miss. Amelie Icard',
  'Sex': 'female',
  'Age': '38.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '80.0'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Henry Birkhardt Harris',
  'Sex': 'male',
  'Age': '45.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '83.475'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Master. Harald Skoog',
  'Sex': 'male',
  'Age': '4.0',
  'Siblings_Spouses Aboard': '3',
  'Parents_Children Aboard': '2',
  'Fare': '27.9'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Albert A Stewart',
  'Sex': 'male',
  'Age': '64.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '27.7208'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Master. Gerios Moubarek',
  'Sex': 'male',
  'Age': '7.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '1',
  'Fare': '15.2458'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mrs. (Elizabeth Ramell) Nye',
  'Sex': 'female',
  'Age': '29.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '10.5'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Ernest James Crease',
  'Sex': 'male',
  'Age': '19.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.1583'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Erna Alexandra Andersson',
  'Sex': 'female',
  'Age': '17.0',
  'Siblings_Spouses Aboard': '4',
  'Parents_Children Aboard': '2',
  'Fare': '7.925'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Vincenz Kink',
  'Sex': 'male',
  'Age': '26.0',
  'Siblings_Spouses Aboard': '2',
  'Parents_Children Aboard': '0',
  'Fare': '8.6625'},
 {'Survived': '0',
  'Pclass': '2',
  'Name': 'Mr. Stephen Curnow Jenkin',
  'Sex': 'male',
  'Age': '32.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '10.5'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Miss. Lillian Amy Goodwin',
  'Sex': 'female',
  'Age': '16.0',
  'Siblings_Spouses Aboard': '5',
  'Parents_Children Aboard': '2',
  'Fare': '46.9'},
 {'Survived': '0',
  'Pclass': '2',
  'Name': 'Mr. Ambrose Jr Hood',
  'Sex': 'male',
  'Age': '21.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '73.5'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Apostolos Chronopoulos',
  'Sex': 'male',
  'Age': '26.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '14.4542'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mr. Lee Bing',
  'Sex': 'male',
  'Age': '32.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '56.4958'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Sigurd Hansen Moen',
  'Sex': 'male',
  'Age': '25.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.65'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Ivan Staneff',
  'Sex': 'male',
  'Age': '23.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8958'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Rahamin Haim Moutal',
  'Sex': 'male',
  'Age': '28.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Master. Alden Gates Caldwell',
  'Sex': 'male',
  'Age': '0.83',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '2',
  'Fare': '29.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Elizabeth Dowdell',
  'Sex': 'female',
  'Age': '30.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '12.475'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Achille Waelens',
  'Sex': 'male',
  'Age': '22.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '9.0'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mr. Jan Baptist Sheerlinck',
  'Sex': 'male',
  'Age': '29.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '9.5'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Miss. Brigdet Delia McDermott',
  'Sex': 'female',
  'Age': '31.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.7875'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Francisco M Carrau',
  'Sex': 'male',
  'Age': '28.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '47.1'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Miss. Bertha Ilett',
  'Sex': 'female',
  'Age': '17.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '10.5'},
 {'Survived': '1',
  'Pclass': '3',
  'Name': 'Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom',
  'Sex': 'female',
  'Age': '33.0',
  'Siblings_Spouses Aboard': '3',
  'Parents_Children Aboard': '0',
  'Fare': '15.85'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. William Neal Ford',
  'Sex': 'male',
  'Age': '16.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '3',
  'Fare': '34.375'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Selman Francis Slocovski',
  'Sex': 'male',
  'Age': '20.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Miss. Mabel Helen Fortune',
  'Sex': 'female',
  'Age': '23.0',
  'Siblings_Spouses Aboard': '3',
  'Parents_Children Aboard': '2',
  'Fare': '263.0'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Francesco Celotti',
  'Sex': 'male',
  'Age': '24.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Emil Christmann',
  'Sex': 'male',
  'Age': '29.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Paul Edvin Andreasson',
  'Sex': 'male',
  'Age': '20.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8542'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. Herbert Fuller Chaffee',
  'Sex': 'male',
  'Age': '46.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '61.175'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Bertram Frank Dean',
  'Sex': 'male',
  'Age': '26.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '2',
  'Fare': '20.575'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Daniel Coxon',
  'Sex': 'male',
  'Age': '59.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.25'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Mr. Charles Joseph Shorney',
  'Sex': 'male',
  'Age': '22.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '8.05'},
 {'Survived': '0',
  'Pclass': '1',
  'Name': 'Mr. George B Goldschmidt',
  'Sex': 'male',
  'Age': '71.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '34.6542'},
 {'Survived': '1',
  'Pclass': '1',
  'Name': 'Mr. William Bertram Greenfield',
  'Sex': 'male',
  'Age': '23.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '1',
  'Fare': '63.3583'},
 {'Survived': '1',
  'Pclass': '2',
  'Name': 'Mrs. John T (Ada Julia Bone) Doling',
  'Sex': 'female',
  'Age': '34.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '1',
  'Fare': '23.0'},
 {'Survived': '0',
  'Pclass': '2',
  'Name': 'Mr. Sinai Kantor',
  'Sex': 'male',
  'Age': '34.0',
  'Siblings_Spouses Aboard': '1',
  'Parents_Children Aboard': '0',
  'Fare': '26.0'},
 {'Survived': '0',
  'Pclass': '3',
  'Name': 'Miss. Matilda Petranec',
  'Sex': 'female',
  'Age': '28.0',
  'Siblings_Spouses Aboard': '0',
  'Parents_Children Aboard': '0',
  'Fare': '7.8958'},
 {'Survived': '0',
  'Pclass': '3',

In [190]:
# Another insert_many method
db.titanic.insert_many(documents)

BulkWriteError: batch op errors occurred